<!doctype html>
<html lang="en">
  <head> </head>
  <body>
    <nav></nav>
    <main>
      <h1>Konto utworzone - witamy na pokładzie! 🧘‍♀️🌿</h1>

      <h3>📋 Teraz masz możliwość:</h3>
      <ul>
        <li>⚙️ Zmiany preferencji strony</li>
        <li>📅 Rezerwowania terminów</li>
      </ul>

      <h3>🌟 A po pierwszej rezerwacji:</h3>
      <ul>
        <li>📅 Rezerwowania terminów</li>
        <li>🧾 Sprawdzania całej swojej historii z Yoganką</li>
        <li>
          📊 Śledzenia swoich statystyk
          <span style="opacity: 0.6">(W budowie)</span>
        </li>
      </ul>

      <h1>Nie mogę się doczekać kiedy wejdziesz ze mną na matę! 🙏✨</h1>
    </main>

    <script src="./js/"></script>
  </body>
</html>
