@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@use './utils/' as *;

.wrapper--b2b-type {
  #b2b_offer {
    //offer-type
    grid-column: 1/-1;
    margin-bottom: 7rem;
  }
  .modal-checklist {
    grid-area: cert;
    margin: 0 auto;
  }

  .section--turning-tiles + .checklist-section {
    &.classes-page {
      margin-top: 16rem;
    }
  }
  .checklist-section {
    margin-top: 8rem;
    margin-bottom: 0rem;
    grid-column: 1/-1;

    @include flex(column, center, center);

    &__header {
      margin-bottom: 2rem;
    }

    .modal-checklist {
      @include flex(column, center, center);
      &--classes-page {
        align-items: center;
      }
    }

    .modal-checklist__list {
      width: 95%;
      align-items: center;
      gap: 3rem;

      &--classes-page {
        align-items: flex-start;
        width: max-content;
        max-width: 100%;
      }
    }
    .modal-checklist__li {
      font-size: 2.5rem;
      font-weight: 500;
      color: map.get($colors, tile-title);
    }
    .modal-checklist__icon {
      color: #1c7993;
      font-size: 2.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
      margin: 0;
      min-width: 3.5rem;
      text-align: center;
    }
  }
  .b2b-price {
    grid-column: 1/-1;
    &__content {
      margin-top: 2rem;
      font-size: 2.2rem;
      text-align: center;

      @include flex(row, center, center);
      flex-wrap: wrap;
      gap: 2rem;
    }
    .modal__btn {
      margin-top: 2rem;

      &:first-of-type {
        margin-top: 3.5rem;
      }
    }

    .modal__user-action--classes-page .modal__btn {
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    .checklist-section {
      .modal-checklist__list {
        &:not(.modal-checklist__list--classes-page) {
          width: 85%;
          align-self: auto;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .b2b-price {
      &__content {
        font-size: 2.4rem;
      }
      .modal__btn {
        line-height: 4.5rem;
        font-size: 2rem;

        &:first-of-type {
          margin-top: 4.5rem;
        }
        margin-top: 2.5rem;
      }

      .modal__user-action--classes-page .modal__btn {
        margin: 0;
      }

      .modal__user-action--classes-page {
        margin-top: 3.5rem;
      }
    }
  }
  @media (min-width: 1280px) {
    .checklist-section {
      .modal-checklist__list:not(.modal-checklist__list--classes-page) {
        width: 100%;
      }
    }
  }
}
