@use 'sass:map';
@use 'sass:color';
@use '_global_variables-templates' as var;
@use '_global_mixins-keyframes' as mixin;

.camps-intro {
	grid-area: header;
	height: 100vh;
	@include mixin.flex(column, space-between, center);
	flex-wrap: wrap;
	background-image: url(/imgs/header/480_header_portrait.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	overflow: hidden;

	&__header {
		margin-top: 5rem;
		padding: 1rem;
		text-shadow: map.get(var.$shadows, active-text-icons-shadow);
	}
	&__welcome-desc {
		padding: 1rem;
		margin-bottom: 100px;
		background-color: rgba(map.get(var.$colors, tile), 0.5);
		white-space: pre-line;
		font-size: 1.7rem;
	}
}
.camps-benefits {
	grid-area: about;
	background-color: map.get(var.$colors, nav);
	box-shadow: map.get(var.$shadows, transitive-box-shadow-nav);

	&__header {
		margin-bottom: 3rem;
	}
	&__bullets-container {
		@include mixin.flex(column);
		align-items: stretch;
		gap: 2rem;
	}
	$padding: 1rem;

	&__bullet {
		height: 25vh;
		max-height: 145px;

		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		justify-items: center;
		gap: 0.5rem 0;
		padding: $padding;
		background-color: map.get(var.$colors, tile);
		border-radius: map.get(var.$sizes, border-radius);

		text-align: left;

		&:nth-child(even) {
			text-align: right;
			grid-template-columns: 2fr 1fr;
			background-color: map.get(var.$colors, base);

			& .camps-benefits__bullet-header {
				padding: 0 $padding 0 0;
			}
			& .camps-benefits__bullet-p {
				padding: 0 $padding 0 0;
			}
			& .camps-benefits__symbol-container {
				grid-column: 2/3;
			}
		}
	}
	&__bullet-header {
		width: 100%;
		padding: 0 0 0 $padding;
		font-size: 1.9rem;
		font-weight: bold;
	}
	&__bullet-p {
		padding: 0 0 0 $padding;
		font-size: 1.7rem;
	}

	&__symbol-container {
		$diameter: 28vw;
		grid-row: 1/-3;
		width: $diameter;
		// height: $diameter;
		color: map.get(var.$colors, tile-title);
		text-shadow: map.get(var.$shadows, active-text-icons-shadow);
		border-radius: 50%; /* Aby gradient był idealnie okrągły */
		display: grid;
	}
	&__symbol {
		place-self: center;
		font-size: 5rem;
	}
}

.camps-benefits + section.offer {
	grid-gap: 0rem;
	background-color: map.get(var.$colors, base);
	box-shadow: map.get(var.$shadows, transitive-box-shadow);
	#wyjazdy {
		grid-column: 1/-1;
	}
}

.reviews {
	grid-area: cert;
	overflow: hidden;
	.glide__track {
		height: 70vh;
		max-height: 450px;
	}
	&__img {
		max-width: 100px;
		max-width: 100px;
	}
	&__tile {
		height: 65vh;
		width: 80vw;
		max-height: 450px;
		max-width: 300px;
	}
	&__name {
		text-shadow: map.get(var.$shadows, active-text-icons-shadow);
		font-size: 2.2rem;
	}
	&__productName {
		font-size: 2rem;
	}
	&__review {
		font-style: italic;
		font-size: 1.9rem;
	}
}

.galery {
	overflow: hidden;
}
@media (min-width: 360px) {
	.camps-intro {
		&__welcome-desc {
			font-size: 2rem;
		}
	}

	.camps-benefits {
		&__bullets-container {
			gap: 2.5rem;
		}
		$padding: 1.5rem;
		&__bullet {
			gap: 0 0;
		}
		&__bullet-header {
			font-size: 2.1rem;
		}
		&__bullet-p {
			font-size: 1.9rem;
		}
		&__symbol {
			font-size: 7rem;
		}
	}
	.reviews {
		.glide__track {
			max-height: 450px;
		}
		&__img {
			max-width: 150px;
			max-width: 150px;
		}
		&__tile {
			max-height: 425px;
		}
		&__name {
			font-size: 2.4rem;
		}
		&__productName {
			font-size: 2.2rem;
		}
		&__review {
			font-size: 2.1rem;
		}
	}
}
@media (min-width: 480px) {
	.camps-benefits {
		&__bullet {
			min-height: 200px;
			max-height: 255px;
		}
	}
	.reviews {
		.glide__track {
			height: 70vh;
			max-height: 500px;
		}
		&__tile {
			max-height: 475px;
			max-width: 450px;
		}
	}
}

@media (min-width: 530px) and (orientation: landscape) {
	.camps-benefits {
		&__bullet {
			min-height: 200px;
		}
	}
}

@media (min-width: 768px) {
	.camps-intro {
		&__welcome-desc {
			padding: 2rem;
		}
	}
	.camps-benefits {
		&__bullet {
			min-height: 200px;
			max-height: 255px;
		}
		&__bullet-header {
			font-size: 2.5rem;
		}
		&__bullet-p {
			font-size: 2.2rem;
		}
		&__symbol {
			font-size: 10rem;
		}
	}
	.reviews {
		.glide__track {
			height: 70vh;
			max-height: 500px;
		}
		&__tile {
			max-height: 475px;
			max-width: 450px;
		}
	}
	.galery {
		grid-column: 1/-1;
	}
}

@media (min-width: 1024px) {
	.camps-intro {
		&__welcome-desc {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 1025px) {
	.camps-intro {
		grid-column: 1 / -1;
		margin-top: 11rem;
		@include mixin.flex(row, center);
		flex-wrap: wrap;
		&__header {
			flex-basis: 100%;
		}
		&__welcome-desc {
			white-space: pre-line;
		}
	}
}
