@use 'sass:map';
@use 'sass:color';
@use '_global_variables-templates' as var;
@use '_global_mixins-keyframes' as mixin;

.camps-intro {
	grid-area: header;
	height: 100vh;
	@include mixin.flex(column, space-between, center);
	flex-wrap: wrap;
	background-image: url(/imgs/header/480_header_portrait.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	overflow: hidden;

	&__header {
		margin-top: 5rem;
		padding: 1rem;
		text-shadow: map.get(var.$shadows, active-text-icons-shadow);
	}
	&__welcome-desc {
		padding: 1rem;
		margin-bottom: 100px;
		background-color: rgba(map.get(var.$colors, tile), 0.5);
		white-space: pre-line;
		font-size: 1.7rem;
	}
}
.camps-benefits {
	grid-area: about;
	background-color: map.get(var.$colors, nav);
	box-shadow: map.get(var.$shadows, transitive-box-shadow-nav);

	&__header {
		margin-bottom: 3rem;
	}
	&__bullets-container {
		@include mixin.flex(column, center);

		gap: 2rem;
	}
	$padding: 1rem;

	&__bullet {
		// height: 25vh;
		// max-height: 145px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
		// grid-auto-rows: min-content;
		align-items: center;
		justify-items: center;
		gap: 0.5rem 0;
		grid-template-areas:
			's h h'
			's p p'
			's p p';
		padding: $padding;
		background-color: map.get(var.$colors, tile);
		border-radius: map.get(var.$sizes, border-radius);

		text-align: left;

		&:nth-child(even) {
			text-align: right;
			background-color: map.get(var.$colors, base);

			grid-template-areas:
				' h h s'
				' p p s'
				' p p s';

			& .camps-benefits__bullet-header {
				padding: 0 $padding 0 0;
			}
			& .camps-benefits__bullet-p {
				padding: 0 $padding 0 0;
			}
		}
	}
	&__bullet-header {
		grid-area: h;
		width: 100%;
		padding: 0 0 0 $padding;
		font-size: 1.9rem;
		font-weight: bold;
	}
	&__bullet-p {
		grid-area: p;
		padding: 0 0 0 $padding;
		font-size: 1.7rem;
	}

	&__symbol-container {
		grid-area: s;
		color: map.get(var.$colors, tile-title);
		text-shadow: map.get(var.$shadows, active-text-icons-shadow);
		border-radius: 50%;
		display: grid;
	}
	&__symbol {
		place-self: center;
		font-size: 5rem;
	}
}

.camps-benefits + section.offer {
	margin-top: 6rem;
	grid-gap: 0rem;
	background-color: map.get(var.$colors, base);
	box-shadow: map.get(var.$shadows, transitive-box-shadow);
	#wyjazdy {
		grid-column: 1/-1;
	}
	.offer-type__header {
		font-size: 4rem;
	}
}

.reviews {
	grid-area: cert;
	overflow: hidden;
	.glide__track {
		height: 70vh;
		max-height: 450px;
	}
	&__img {
		max-width: 100px;
		max-width: 100px;
	}
	&__tile {
		height: 65vh;
		width: 80vw;
		max-height: 450px;
		max-width: 300px;
	}
	&__name {
		text-shadow: map.get(var.$shadows, active-text-icons-shadow);
		font-size: 2.2rem;
	}
	&__productName {
		font-size: 2rem;
	}
	&__review {
		font-style: italic;
		font-size: 1.9rem;
	}
}

.galery {
	overflow: hidden;
}
@media (min-width: 360px) {
	.camps-intro {
		&__welcome-desc {
			font-size: 2rem;
		}
	}

	.camps-benefits {
		&__bullets-container {
			gap: 2.5rem;
		}
		$padding: 1.5rem;
		&__bullet {
			gap: 0 0;
		}
		&__bullet-header {
			font-size: 2.1rem;
		}
		&__bullet-p {
			font-size: 1.9rem;
		}
		&__symbol {
			font-size: 7rem;
		}
	}
	.reviews {
		.glide__track {
			max-height: 450px;
		}
		&__img {
			max-width: 150px;
			max-width: 150px;
		}
		&__tile {
			max-height: 425px;
		}
		&__name {
			font-size: 2.4rem;
		}
		&__productName {
			font-size: 2.2rem;
		}
		&__review {
			font-size: 2.1rem;
		}
	}
}
@media (min-width: 480px) {
	.camps-benefits {
		&__bullet {
			min-height: 200px;
			// max-height: 255px;
		}
	}
	.reviews {
		.glide__track {
			height: 70vh;
			max-height: 500px;
		}
		&__tile {
			max-height: 475px;
			max-width: 450px;
		}
	}
}

@media (min-width: 530px) and (orientation: landscape) {
	.camps-benefits {
		&__bullet {
			// min-height: 200px;
		}
	}
}

@media (min-width: 768px) {
	.camps-intro {
		&__welcome-desc {
			padding: 2rem;
		}
	}
	.camps-benefits {
		&__bullet {
			// min-height: 200px;
			// max-height: 255px;
		}
		&__bullet-header {
			font-size: 2.5rem;
		}
		&__bullet-p {
			font-size: 2.2rem;
		}
		&__symbol {
			font-size: 10rem;
		}
	}
	.reviews {
		.glide__track {
			height: 70vh;
			max-height: 500px;
		}
		&__tile {
			max-height: 475px;
			max-width: 450px;
		}
	}
	.galery {
		grid-column: 1/-1;
	}
}

@media (min-width: 1024px) {
	.camps-intro {
		&__welcome-desc {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 1025px) {
	.camps-intro {
		grid-column: 1 / -1;
		margin-top: 7rem;
		@include mixin.flex(row, center);
		flex-wrap: wrap;

		background-image: none;

		&__header {
			flex-basis: 100%;
		}
		&__welcome-desc {
			white-space: pre-line;
		}
	}
	.camps-benefits {
		$padding: 1rem;

		&__bullets-container {
			@include mixin.flex(row);
			flex-wrap: wrap;
			gap: 4rem;
		}
		&__bullet {
			position: relative;
			flex-basis: 45%;
			min-height: 250px;
			// max-height: 355px;

			grid-template-areas:
				' s  h'
				' s  h';
			// grid-template-areas:
			// 	' s  p'
			// 	' s  p'
			// 	' h  p';

			&:nth-child(even) {
				text-align: left;
				grid-template-areas:
					' s  h'
					' s  h';
				// grid-template-areas:
				// 	' s  p'
				// 	' s  p'
				// 	' h  p';

				& .camps-benefits__bullet-header,
				& .camps-benefits__bullet-p {
					padding: 0 1rem 1rem $padding;
				}
				& .camps-benefits__symbol-container {
					// grid-column: 1/2;
				}
			}
			// perspective: 1000px;
			transition: 0.8s ease-in-out;
			&:hover {
				transform: scale(1.1) rotateX(180deg);
			}
		}

		&__bullet-header {
			text-align: center;
			// place-self: start;
		}
		&__bullet:hover &__bullet-header {
			transition-delay: 0.4s;
			opacity: 0;
		}

		&__bullet-p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			opacity: 0;
		}
		&__bullet:hover &__bullet-p {
			transition-delay: 0.4s;
			transform: translate(-50%, -50%) rotateX(180deg);
			opacity: 1;
		}

		&__symbol-container {
			// opacity: 0;
		}
		&__bullet:hover &__symbol-container {
			transition-delay: 0.4s;
			opacity: 0;
		}
		&__symbol {
		}
	}
}
