@use 'sass:map';
@use 'sass:color';
@use './utils/' as *;

.galery {
  overflow: hidden;
  grid-column: 1 /-1;
}

main {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .galery {
    grid-column: 1/-1;
    overflow: visible;
  }
}

@media (min-width: 1025px) {
  .galery__container {
    position: relative;
    margin-top: 5rem;
    @include flex(row, space-evenly, space-evenly);
    flex-wrap: wrap;
    gap: 2rem;
    overflow: visible;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      position: relative;
    }
  }
}
