@use 'sass:map';
@use '_global_variables-templates' as var;

@keyframes slide {
	from {
		transform: translate(0);
	}

	to {
		transform: translate(-100%);
	}
}
@keyframes highlights {
	0% {
		width: 0%;
		box-shadow: none; /* Wewnętrzny cień: duże przesunięcie i rozmycie */
	}

	50% {
		width: 15%;
		box-shadow: -8px 0px 15px (map.get(var.$colors, accent-bcg)); /* Wewnętrzny cień: duże przesunięcie i rozmycie */
	}
	55% {
		width: 15%;
		box-shadow: -8px 0px 15px (map.get(var.$colors, accent-bcg)); /* Wewnętrzny cień: duże przesunięcie i rozmycie */
	}

	100% {
		width: 0%;
		box-shadow: none; /* Wewnętrzny cień: duże przesunięcie i rozmycie */
	}
}

@mixin font($name, $format: 'truetype', $size: null, $weight: null, $style: null) {
	$path: '';

	@if $name == 'bh' {
		$path: url('/fonts/Beauty-Swing.otf');
	} @else if $name == 'by Yoganka' {
		$path: url('/fonts/PrimaSansBT-Roman.otf');
	} @else if $name == 'yoganka2' {
		$path: url('/fonts/BLUDHAVEN.ttf');
	}

	@if $path == '' {
		@warn "Font name unknown: #{$name}. No path.";
	} @else {
		@font-face {
			font-family: #{$name}, serif;
			src: url(#{$path}) format('#{$format}');
		}

		@if $size {
			font-size: $size;
		}
		@if $weight {
			font-weight: $weight;
		}
		@if $style {
			font-style: $style;
		}
	}
}

@mixin slider-shade-wing($direction, $color) {
	@if $direction == 'left' {
		left: calc(var(--section-padding-y) * -1);
	} @else if $direction == 'right' {
		right: calc(var(--section-padding-y) * -1);
	}
	background: linear-gradient(to #{$direction}, transparent, $color);
}

@mixin animation($duration, $keyframe, $looping: infinite, $behavior: linear) {
	animation: $duration $keyframe $looping $behavior;
}

@mixin flex($direction: null, $justify: null, $align: null, $gap: null) {
	display: flex;
	@if $direction {
		flex-direction: $direction;
	}
	@if $justify {
		justify-content: $justify;
	}
	@if $align {
		align-items: $align;
	}
	@if $gap {
		gap: $gap;
	}
}

@mixin offset-burger($offset) {
	top: $offset * var(--bar-width);
	right: $offset * var(--bar-width);
}
