@use 'sass:map';
@use './utils/' as *;

//! FOOTER
.footer {
  grid-area: footer;
  margin-top: 3rem;
  padding: 0rem 1rem 2rem 1rem;
  font-size: 1.7rem;
  color: map.get($colors, tile-text-muted);

  background-color: color-mix(
    in srgb,
    #{map.get($colors, nav)} 80%,
    transparent
  );
  box-shadow: map.get($shadows, tile-shadow);
  border-top-left-radius: map.get($sizes, border-radius);
  border-top-right-radius: map.get($sizes, border-radius);

  @include flex(column, space-evenly, center, 1rem);

  &__logo {
    width: 45vw;
    max-width: 280px;
    margin: 2rem 0;
  }

  &__credits--sub,
  &__credits {
    height: auto;
    font-size: 1.5rem;
  }
  & a {
    text-decoration: underline;
  }
  // no & for specificity
  .footer__social-link {
    position: relative;
    color: map.get($colors, accent-bcg);
  }
  &__social-icon {
    font-size: 3.5rem;
  }

  &__company-details {
    @include flex(column, space-evenly, $gap: 1rem);

    & a {
      // font-size: 2.2rem;
      line-height: 150%;
    }
  }

  &__socials {
    @include flex(row, center, center, 3rem);
    margin: 2rem 0;
  }

  &__qr {
    position: absolute;
    width: 0;
    top: 25px;
    right: 0;
    opacity: 0;
    transition: map.get($behavior, base-transition);
  }

  &__qr-image {
    transition: map.get($behavior, base-transition);
    border-radius: map.get($sizes, border-radius);
  }

  &__legal {
    margin: 1rem 0;
  }

  &__credit-link {
    opacity: 0.75;
  }
}
