@use 'sass:map';
@use './utils/' as *;

//! PARTNERS
.partners {
  grid-area: partners;
  overflow: hidden;

  &__gallery {
    background-color: map.get($colors, tile);

    @include flex($justify: space-around, $align: center, $gap: 2rem);

    @include animation(15s, slide, infinite, linear);
  }

  &__gallery-slide {
    @include flex($align: center);
    position: relative;
    font-size: 0;

    &:hover .partners__gallery {
      animation-play-state: paused;
    }

    &::before {
      @extend %slider-shade-overlay;
      @include slider-shade-wing('left', map.get($colors, base));
    }

    &::after {
      @extend %slider-shade-overlay;
      @include slider-shade-wing('right', map.get($colors, base));
    }
  }

  &__link {
    width: 55vw;
    aspect-ratio: 1/1;
    max-width: 225px;
    max-height: 225px;
    padding: 0;

    border-radius: map.get($sizes, border-radius);

    @include flex($justify: center, $align: center);

    &:last-child {
      margin-right: 2.5rem;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    object-fit: contain;

    filter: grayscale(1);
    transition: map.get($behavior, base-transition);
  }
  .glide__bullets {
    bottom: 20%;
  }
}
//! PARTNERS END
