@use 'sass:map';
@use './utils/' as *;

.about {
  grid-area: about;
  font-size: 2rem;
  gap: 2rem;

  &.classes-page {
    grid-area: header;
  }

  &__header {
    grid-area: header;

    &--classes-page {
      margin-top: 8rem;
    }
  }

  &__img-container {
    grid-area: portrait;
    position: relative;
    width: 90%;
    max-width: 70%;

    background-color: transparent;
    border-radius: map.get($sizes, border-radius);
    box-shadow: map.get($shadows, box-shadow);
    overflow: hidden;
  }

  &__img--portrait {
    width: 100%;
    max-width: 640px;
  }

  &__certificates {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 70%;
    // max-height: 12%;
    padding: 0 0.5rem;

    background-color: map.get($colors, base);
    border-top-left-radius: map.get($sizes, border-radius);
    border-bottom-right-radius: map.get($sizes, border-radius);
    overflow: hidden;

    @include flex($justify: right, $gap: 1rem);
    align-items: center;

    picture {
      flex: 0 0 auto;
    }

    img {
      max-width: 100%;
      max-height: 5rem;
      filter: grayscale(1);
    }
  }

  &__bio--description {
    grid-area: article;
  }

  &__bio--description,
  &__bio--content,
  &__bio--heading,
  &__bio--signature {
    white-space: pre-line;
  }

  &__bio--content {
    grid-area: content;
    padding: 1rem;

    @include flex(column, center, center, 1.5rem);
  }

  &__bio--heading {
    grid-area: h2;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;

    &--classes-page {
      font-size: 2.8rem;
      color: map.get($colors, tile-title);
    }
  }

  &__bio--signature {
    align-self: flex-end;
    margin-right: 1rem;

    font-family: map.get($typo, signature);
    font-size: 3rem;
  }
}

@include respond-to(mobile-m) {
  .about {
    gap: 2.5rem 1.5rem;

    &__img-container {
      max-width: 640px;
      .about__certificates {
        img {
          max-height: 8rem;
        }
      }
    }

    &__bio--heading {
      font-size: 3rem;
    }

    &__bio--content {
      font-size: 1.7rem;
    }
  }
}
@include respond-to(mobile-l) {
  .about {
    margin-top: 11rem;
    margin-bottom: 3rem;
    max-width: 1000px;

    &.section {
      @include flex(row, space-around, center);
      flex-wrap: wrap;
    }

    &__header {
      display: none;

      &--classes-page {
        display: block;
        flex-basis: 100%;
      }
    }

    &__bio--content {
      max-width: 50%;

      &--classes-page {
        max-width: 30%;
      }
    }

    &__bio--heading,
    &__bio--greeting,
    &__bio--description {
      padding-left: 2rem;
      justify-self: left;
      text-align: left;
    }

    &__img-container {
      order: 2;
      width: 35%;
      min-height: 525px;

      &--classes-page {
        order: 0;
        width: 20%;
        min-height: 300px;
      }

      .about__certificates {
        img {
          max-height: 5rem;
        }
      }
    }
  }
}
@include respond-to(desktop-s) {
  .about {
    max-width: 1200px;

    &.classes-page {
      margin-bottom: 6rem;
    }

    &__img-container {
      width: 31%;

      &--classes-page {
        width: 20%;
      }
    }
  }
}
