@use 'sass:map';
@use 'sass:math';
@use '_global_variables-templates' as var;
@use '_global_mixins-keyframes' as mixin;
html {
	--bar-width: 3.5rem;
}
//! NAV
.burger {
	$bar-height: 0.4rem;
	$bar-width: 3.5rem;
	$bars-space: 2.5 * $bar-height;
	$burger-offset: 0.7;
	$burger-height: 3 * $bar-height + 2 * $bars-space;

	top: $burger-offset * $bar-width;
	right: $burger-offset * $bar-width;
	width: $bar-width;
	height: $burger-height;
	position: fixed;
	z-index: 7;
	cursor: pointer;

	@include mixin.flex(column, space-between);

	&__bar {
		width: $bar-width;
		height: $bar-height;
		background-color: map.get(var.$colors, accent-bcg);
		transition: map.get(var.$behavior, base-transition);
		border-radius: $bar-height * 0.5;

		//Initial state
		&--top,
		&--bottom {
			transform-origin: center;
		}
	}

	// Active state
	&.active {
		.burger__bar--top {
			transform: translateY($burger-height * 0.5 - $bar-height * 0.5) rotate(45deg);
		}

		.burger__bar--middle {
			transform: translateX(-100%);
			opacity: 0;
		}

		.burger__bar--bottom {
			transform: translateY(-$burger-height * 0.5 + $bar-height * 0.5) rotate(-45deg);
		}

		& + .nav {
			right: 0;
		}
	}
}
.nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: max-content;
	height: 100%;
	z-index: 6;

	text-transform: uppercase;
	letter-spacing: 1px;

	border-top-left-radius: map.get(var.$sizes, border-radius);
	border-bottom-left-radius: map.get(var.$sizes, border-radius);
	box-shadow: map.get(var.$shadows, tile-shadow);
	background-color: map.get(var.$colors, nav);
	transition: map.get(var.$behavior, base-transition);

	@include mixin.flex(column, $align: center);

	&__list {
		margin-top: 5rem;

		@include mixin.flex(column);

		list-style: none;
	}

	&__item {
		position: relative;
		min-width: 50px;
		overflow: hidden;

		text-align: left;
	}

	&__link {
		display: block;

		height: 6rem;
		margin: 0 2rem;
		cursor: pointer;

		line-height: 6rem;
		font-size: 2.2rem;
		text-decoration: none;
		color: map.get(var.$colors, tile-text-muted);

		.nav__icon {
			display: inline-flex;
			justify-content: center;
			width: min-content;
			left: map.get(var.$sizes, icon-position);
			margin-right: 1.5rem;

			color: map.get(var.$colors, accent-bcg);
			font-size: 2.2rem;

			transition: map.get(var.$behavior, base-transition);
			&::before {
				margin: 0;
				padding: 0;
			}
		}

		&.active,
		&.active .nav__icon {
			color: map.get(var.$colors, accent-bcg);
			text-shadow: map.get(var.$shadows, active-text-icons-shadow);
		}
	}

	&__logo-container {
		position: relative;
		width: 100%;
	}

	&__logo {
		position: absolute;
		left: 50%;
		width: 60%;
		transform: translateX(-50%);
		margin-top: 3rem;
	}
}
//! NAV  END
