@use 'sass:map';
@use 'sass:color';
@use '_global_variables-templates' as var;
@use '_global_mixins-keyframes' as mixin;

%action-btn {
	display: block;
	min-width: 125px;
	padding: 0.5rem 1rem;

	font-size: 1.5rem;
	line-height: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: map.get(var.$colors, accent-text);

	cursor: pointer;
	background-color: map.get(var.$colors, accent-bcg);
	border-radius: map.get(var.$sizes, border-radius);
	box-shadow: map.get(var.$shadows, active-text-icons-shadow);
	overflow: hidden;
	transition: map.get(var.$behavior, base-transition);
}

.past {
	position: relative;
	// filter: saturate(0.5);
	&::before {
		content: ''; /* Tworzymy pusty element */
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

		background-color: rgba(color.adjust(map.get(var.$colors, tile), $lightness: -13%), 0.5);
		// to let interact with the element (not pseudo one)
		pointer-events: none;
	}
}
.offer {
	grid-area: offer;

	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
	grid-template-areas:
		'title title'
		'wyjazdy wyjazdy'
		'zajecia zajecia'
		'wydarzenia wydarzenia';
	grid-gap: 3.5rem 0.5rem;

	overflow: visible;

	&__section-header {
		grid-area: title;
		position: relative;
	}
	.offer-type {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: auto 1fr;
		grid-gap: 2.5rem 1.5rem;

		&__header {
			font-size: 3rem;
			line-height: 6rem;
			text-transform: uppercase;
			color: map.get(var.$colors, tile-title);
		}

		&--events {
			grid-area: wydarzenia;
			grid-template-rows: 6rem;
		}

		// Zagnieżdżenie dla wyjazdy i zajęcia
		&#wyjazdy {
			grid-area: wyjazdy;
		}

		&#zajecia {
			grid-area: zajecia;
		}
	}
}
//@ MODAL
.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 300vh;
	z-index: 8;

	backdrop-filter: blur(10px);
}
.modal {
	display: block;
	position: fixed;
	top: 50dvh;
	left: 50dvw;
	transform: translate(-50%, -50%);
	width: 0vw;
	min-height: 0px;
	max-height: 0vh;
	padding: 1.5rem 1rem;
	z-index: 8;

	background-color: rgba(map.get(var.$colors, tile), 0.95);
	border-radius: map.get(var.$sizes, border-radius);
	box-shadow: map.get(var.$shadows, active-text-icons-shadow);
	opacity: 0;
	transition: map.get(var.$behavior, base-transition);

	// full name for specificity required by i in font awesome
	.modal__icon {
		min-width: 3.5rem;
		height: 3.5rem;
		margin: 0;

		line-height: 3.5rem;
		text-align: center;
		color: map.get(var.$colors, accent-bcg);
	}

	&__x-btn {
		position: absolute;
		top: 3rem;
		right: 2rem;
		transform: translate(-50%, -50%);
		z-index: 9;
	}

	&__close-btn {
		font-size: 3rem;
		text-shadow: map.get(var.$shadows, active-text-icons-shadow);

		&:hover {
			color: map.get(var.$colors, accent-bcg);
			text-shadow: var.$active-box-shadow;
		}
	}

	&__modal-body {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
		grid-gap: 2.5rem;
		justify-items: center;

		border-radius: map.get(var.$sizes, border-radius);

		&--offer {
			max-height: 89dvh;
			padding-bottom: 1rem;

			overflow-y: auto;
			overflow-x: hidden;

			& section:nth-child(even) {
				background: radial-gradient(
					circle at center,
					rgba(0, 0, 0, 0.06) 70%,
					rgba(0, 0, 0, 0) 100%
				);
			}
		}
		// &--event {
		// 	justify-items: center;
		// }
	}

	& .glide {
		&::before {
			@include mixin.slider-shade-wing('left', map.get(var.$colors, tile));
		}
		&::after {
			@include mixin.slider-shade-wing('right', map.get(var.$colors, tile));
		}
	}

	&__header {
		padding: 0 1rem;

		@include mixin.flex(column, center, $gap: 1rem);
	}

	&__list {
		@include mixin.flex(column, space-evenly, start);
		flex-wrap: wrap;

		font-size: 2rem;
		line-height: 3.5rem;
		text-align: left;

		&--at-glance {
			gap: 1rem;
		}
	}

	&__li {
		@include mixin.flex($gap: 2rem);

		&--at-glance {
			font-size: 2.5rem;
		}
	}

	&__full-desc {
		grid-column: 1 / -1;
		font-size: 2.2rem;

		&--event {
			padding: 0 2rem;
			font-size: 2.1rem;
		}
	}

	&__title {
		margin-bottom: 1.5rem;
		font-size: 2.5rem;

		i {
			margin-right: 2rem;
		}

		&--day {
			margin: 1rem 0;
			font-size: 2.2rem;
			text-decoration: underline;
		}
	}

	&__user-action {
		padding-bottom: 0;

		@include mixin.flex($justify: center, $gap: 1rem);
		flex-flow: row wrap;
	}

	&__btn {
		@extend %action-btn;
	}
}
.modal-checklist {
	&--event {
		width: max-content;
	}
	&__list {
		@extend .modal__list;
	}

	&__li {
		@extend .modal__li;
	}

	.modal-checklist__icon {
		font-size: 2.2rem;
	}

	&__title {
		@extend .modal__title;
	}
}
//! OFFER END
