@use 'sass:map';
@use 'sass:color';
@use './utils/' as *;

%action-btn {
  @include flex(row, center, center);
  font-family: 'EB Garamond', serif;

  gap: 1rem;
  width: 95%;
  min-height: 48px;
  padding: 0rem 2rem;

  font-size: 1.8rem;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: map.get($colors, accent-text);

  cursor: pointer;
  background-color: map.get($colors, accent-bcg);
  border-radius: map.get($sizes, border-radius);
  box-shadow: map.get($shadows, active-text-icons-shadow);
  overflow: hidden;
  transition: map.get($behavior, base-transition);

  &:hover {
    transform: translate(1%, 5%) scale(1.01);
    box-shadow: map.get($shadows, active-box-shadow);
  }
}

//@ MODAL
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300vh;
  z-index: 8;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
.modal {
  display: block;
  position: fixed;
  top: 50dvh;
  left: 50dvw;
  transform: translate(-50%, -50%) scale(0.9);
  padding: 1.5rem 1rem;
  z-index: 9;

  background-color: color-mix(
    in srgb,
    #{map.get($colors, tile)} 95%,
    transparent
  );
  border: none;
  border-radius: map.get($sizes, border-radius);
  box-shadow: map.get($shadows, active-text-icons-shadow);
  opacity: 0;
  transition: map.get($behavior, base-transition);

  &::backdrop {
    backdrop-filter: blur(10px);
  }
  &.visible {
    opacity: 1;
    width: 95vw;
    // min-height: max-content;
    max-height: 92vh;
    transform: translate(-50%, -50%) scale(1);
    transition: map.get($behavior, base-transition);
  }
  &.fade-out {
    opacity: 0;
    width: 0vw;
    max-height: 0vh;
    transform: translate(-50%, -50%) scale(0.95);
    transition: map.get($behavior, base-transition);
  }
  // full name for specificity required by i in font awesome
  .modal__icon {
    $size: 3.5rem;

    min-width: $size;
    height: $size;
    margin: 0;
    font-size: $size;
    line-height: $size;
    text-align: center;
    color: map.get($colors, accent-bcg);
  }

  &__x-btn {
    position: absolute;
    top: 3rem;
    right: 0rem;
    transform: translate(-50%, -50%);
    z-index: 9;
  }

  &__close-btn {
    font-size: 48px;
    text-shadow: map.get($shadows, active-text-icons-shadow);

    &:hover {
      transform: scale(1.05) translateY(0.5rem);
      color: map.get($colors, accent-bcg);
      text-shadow: $active-box-shadow;
    }
  }

  &__modal-body {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    grid-gap: 2.5rem;
    justify-items: center;

    border-radius: map.get($sizes, border-radius);

    &--offer {
      max-height: 89dvh;
      padding-bottom: 1rem;

      overflow-y: auto;
      overflow-x: hidden;

      & > section:nth-child(even) {
        background: radial-gradient(
          circle at center,
          rgba(0, 0, 0, 0.06) 70%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }

    & > section:not(:first-of-type) {
      padding: 0 var(--section-padding-y) 2rem;
      box-shadow: map.get($shadows, section-shadow);
    }
  }

  &__header {
    padding: 0 1rem;

    @include flex(column, center, $gap: 1rem);
  }

  &__list {
    @include flex(column, space-evenly, start);
    flex-wrap: wrap;

    font-size: 2rem;
    line-height: 3.5rem;
    text-align: left;

    &--at-glance {
      gap: 1rem;
    }
  }

  &__li {
    @include flex($gap: 2rem);
    white-space: pre-line;

    &--at-glance {
      font-size: 2.5rem;
    }
  }

  &__desc {
    &--classes-page {
      margin-top: 5rem;
      width: 100%;
    }
  }

  &__full-desc {
    grid-column: 1 / -1;
    padding: 2rem 0;
    font-size: 2.2rem;
    white-space: pre-line;

    &--event,
    &--content {
      padding: 0 1rem;
    }
  }

  &__title,
  &__main-title,
  &__attention-note {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;

    i {
      margin-right: 2rem;
    }

    &--day {
      margin: 1rem 0;
      font-size: 2.2rem;
      text-decoration: underline;
    }

    &--classes-page-day,
    &--view,
    &--status {
      color: map.get($colors, tile-title);
    }

    &--view {
      font-size: 3rem;
    }

    &--status {
      font-size: 2.5rem;
    }
  }

  &__main-title {
    grid-column: 1/-1;
    margin-top: 3rem;
    white-space: pre-line;
  }

  &__user-action {
    margin: 0 auto 2rem;
    padding-bottom: 0;
    width: 100%;

    @include flex($justify: center, $gap: 2rem);
    flex-flow: row wrap;
  }

  &__btn {
    @extend %action-btn;

    &--small {
      height: 2.5rem;
      min-height: auto;
      line-height: 150%;
      font-size: 1.4rem;

      &-warning {
        background-color: rgba(yellow, 0.1);
      }
      &-danger {
        background-color: rgba(color.adjust(red, $lightness: -13%), 0.45);
      }
    }

    &--secondary {
      min-height: auto;
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: 1.2rem;
      color: map.get($colors, tile-text-muted);
      background-color: transparent;
      border: 1px solid map.get($colors, accent-bcg);
      opacity: 0.6;
    }

    &--cancel {
      background-color: rgba(color.adjust(red, $lightness: -13%), 0.45);
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__summary {
    grid-column: 1 /-1;
    @include flex(row, center, flex-start, 2rem);
    flex-wrap: wrap;
  }
}

.modal-checklist {
  &--event {
    grid-column: 1 / -1;
  }

  &__list {
    @extend .modal__list;

    section > &--classes-page {
      padding: 0 2rem;
    }
  }

  &__li {
    @extend .modal__li;
  }

  .modal-checklist__icon {
    font-size: 2.2rem;
  }

  &__title {
    @extend .modal__title;
  }
}

@include respond-to(mobile-sh) {
  .modal {
    &__modal-body {
      gap: 2rem 1.5rem;
    }
    &__modal-body--event {
      grid-template-columns: auto;
    }
    & .tile__img {
      grid-column: 1 / -1;
      margin: 0;
    }
    &__header {
      grid-column: 1 / -1;
      align-items: center;
      width: 100%;
    }
    &__desc {
      grid-column: 1 /-1;
    }
    &__attention-note {
      grid-column: 1 / -1;
    }
    &__user-action {
      grid-column: 1 /-1;
    }
  }
}
@include respond-to(mobile-m) {
  .modal {
    max-width: 95vw;

    &__btn:hover:not(.disabled) {
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: $active-box-shadow;
    }

    &__modal-body {
      grid-template-columns: repeat(6, minmax(65px, 1fr));
      gap: 3rem 1.5rem;
      padding-bottom: 3.5rem;
    }

    &__full-desc {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__desc {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 360px));
      grid-template-areas:
        'h h'
        'd1 d2'
        'd1p d2p'
        'd3 d2p'
        'd3p d2p';
      gap: 1.5rem;

      &--long {
        grid-template-areas:
          'h h'
          'd1 d2'
          'd1p d2p'
          'd3 d4'
          'd3p d4p';
      }
    }

    &__desc--classes-page.modal__desc--long {
      grid-template-areas:
        'h h'
        'd1 d2'
        'd1p d2p'
        'd3 d4'
        'd3p d4p'
        'd5 d5'
        'd5p d5p';
    }

    &__paragraph {
      grid-column: 1 /-1;
    }

    &__title {
      grid-area: h;

      &--day {
        margin: 0;
      }
      &--day:nth-of-type(1) {
        grid-area: d1;
      }
      &--day:nth-of-type(2) {
        grid-area: d2;
      }
      &--day:nth-of-type(3) {
        grid-area: d3;
      }
      &--day:nth-of-type(4) {
        grid-area: d4;
      }
      &--day:nth-of-type(5) {
        grid-area: d5;
      }
    }

    &__list {
      justify-content: flex-start;

      &--classes-page {
        place-items: center;
        text-align: center;
      }

      &:nth-of-type(1) {
        grid-area: d1p;
      }
      &:nth-of-type(2) {
        grid-area: d2p;
      }
      &:nth-of-type(3) {
        grid-area: d3p;
      }
      &:nth-of-type(4) {
        grid-area: d4p;
      }
      &:nth-of-type(5) {
        grid-area: d5p;
        place-self: center;
      }
    }

    &__user-action {
      gap: 3rem;
    }

    &__li {
      &--classes-page {
        place-items: center;
        text-align: center;
      }
    }
  }

  .modal-checklist {
    flex-basis: 45%;
    &--event {
      max-width: 90%;
    }
  }
}
@include respond-to(mobile-mh) {
  .modal {
    &__modal-body {
      grid-template-columns: repeat(6, minmax(125px, 1fr));
    }

    &__header {
      place-self: center;
      grid-column: 1 / 4;
      grid-row: 3;
    }

    &__full-desc {
      grid-column: -1 / -4;
      place-self: center;
      &--event,
      &--long-text {
        grid-column: 1 / -1;
      }
    }

    &__desc {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
  }
}
@include respond-to(mobile-l) {
  .modal {
    max-width: 900px;
    padding: 1.5rem 2.5rem;
    &__btn {
      width: max-content;

      height: 4.5rem;
      line-height: 4.5rem;

      &--small {
        width: max-content;
        flex-basis: auto;
        height: 3rem;
        min-height: auto;
        line-height: 150%;
        font-size: 1.4rem;

        &-warning {
          color: #333;
          background-color: rgba(255, 235, 59, 0.3);
        }

        &-danger {
          color: #c62828;
          background-color: rgba(244, 67, 54, 0.25);
        }

        &-success {
          color: #2e7d32;
          background-color: rgba(76, 175, 80, 0.25);
        }
      }
    }

    &:not(.generic-component-wrapper) {
      flex-basis: 35%;
    }
  }
  .modal-checklist {
    padding: 0 1rem;
    flex-basis: auto;

    &--event {
      max-width: 75%;
    }
  }
}
@include respond-to(desktop-xs) {
  .modal {
    &__user-action:not(.modal__user-action--login-page) {
      width: 70%;
    }
  }
}
@include respond-to(desktop-s) {
  .modal {
    max-width: 1200px;
    padding: 1.5rem 4rem;

    &__desc--classes-page.modal__desc--long {
      grid-template-areas:
        'h h h h'
        'd1 d2 d3 d4'
        'd1p d2p d3p d4p'
        'd5 d5 d5 d5'
        'd5p d5p d5p d5p ';
    }
    &__title--classes-page-day {
      &:nth-of-type(5) {
        margin-top: 3rem;
      }
    }
  }
}
@include respond-to(desktop-xs) {
}
