@use 'sass:map';
@use './utils/' as *;

//! CERTIFICATES
.certificates {
  grid-area: cert;
  position: relative;
  overflow: hidden;

  & .glide__slides {
    background-color: color-mix(
      in srgb,
      #{map.get($colors, nav)} 55%,
      transparent
    );
  }

  &__tile {
    place-self: center;
    max-width: 100%;
    min-width: 175px;
    margin: 1.5rem 0;
    padding: 1.5rem 1rem;

    background-color: map.get($colors, tile);
    border-radius: map.get($sizes, border-radius);
    overflow: hidden;

    @include flex(column, center, center);
  }
  &__name,
  &__school,
  &__duration,
  &__type {
    white-space: pre-line;
  }
  &__name,
  .reviews__name {
    font-size: 2rem;
  }
  &__school {
    font-size: 1.8rem;
  }
  &__duration {
    font-size: 1.9rem;
  }
  &__type {
    font-size: 1.9rem;
    font-weight: 600;
  }
}
//! CERTIFICATES END
