@use 'sass:map';
@use '_global_variables-templates' as var;

.top-image-header {
	grid-area: header;
	height: 100svh;
	text-transform: uppercase;
	background-image: url(/imgs/header/480_header_portrait.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	overflow: hidden;

	display: grid;
	grid-template-columns: repeat(5, minmax(auto, 1fr));
	grid-template-rows: 6rem repeat(8, 1fr) 8rem;
	grid-template-areas:
		'. . . . .'
		'title title title title title'
		'. . logo logo logo'
		'. . logo logo logo'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'motto motto motto motto motto';
	transition: map.get(var.$behavior, base-transition);

	&__header {
		grid-area: title;
		position: relative;
		padding: 0.5rem 1rem;
		text-align: center;
	}

	&__logo {
		position: absolute;
		left: 50%;
		max-width: 60vw;
		transform: translateX(-50%);
	}

	&__title-bar {
		width: max-content;
		margin: 0 auto;

		font-family: map.get(var.$typo, font-body-healing);
		font-size: 2rem;
		font-weight: 100;
		letter-spacing: 2px;
		text-align: left;
		color: map.get(var.$colors, tile-title);

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		text-transform: none;
	}

	&__subtitle {
		font-family: map.get(var.$typo, font-by-yoganka);
		font-weight: lighter;
		font-size: 2rem;
		letter-spacing: 3px;
	}

	&__motto {
		grid-area: motto;
		font-size: 1.7rem;
		letter-spacing: 1px;
		font-weight: 400;
		line-height: 8rem;
		color: map.get(var.$colors, tile-title);

		background-color: map.get(var.$colors, base);
		box-shadow: map.get(var.$shadows, transitive-box-shadow);
		overflow: visible;
	}
}
