@use 'sass:map';
@use '_global_variables-templates' as var;
@use '_global_mixins-keyframes' as mixin;

//! CERTIFICATES
.certificates {
	grid-area: cert;
	position: relative;
	overflow: hidden;

	& .glide__slides {
		background-color: rgba(map.get(var.$colors, nav), 0.55);
	}

	&__tile {
		place-self: center;
		max-width: 100%;
		min-width: 175px;
		margin: 1.5rem 0;
		padding: 1.5rem 1rem;

		background-color: map.get(var.$colors, tile);
		border-radius: map.get(var.$sizes, border-radius);
		overflow: hidden;

		@include mixin.flex(column, center, center);
	}
	&__name {
		font-size: 2rem;
	}
	&__school {
		font-size: 1.8rem;
	}
	&__duration {
		font-size: 1.9rem;
	}
	&__type {
		font-size: 1.9rem;
		font-weight: 600;
	}
}
//! CERTIFICATES END
