@use 'sass:map';
@use '_global_variables-templates' as var;
@use '_global_mixins-keyframes' as mixin;

//! FOOTER
.footer {
	grid-area: footer;
	padding: 0rem 1rem 2rem 1rem;
	font-size: 1.7rem;
	color: map.get(var.$colors, tile-text-muted);

	background-color: rgba(map.get(var.$colors, nav), 0.8);
	box-shadow: map.get(var.$shadows, tile-shadow);
	border-top-left-radius: map.get(var.$sizes, border-radius);
	border-top-right-radius: map.get(var.$sizes, border-radius);

	@include mixin.flex(column, space-evenly, center, 1rem);

	&__logo {
		width: 45vw;
		max-width: 280px;
		margin: 2rem;
	}

	& a {
		height: auto;
		font-size: 1.5rem;
		text-decoration: underline;
	}

	// no & for specificity
	.footer__social-link {
		position: relative;
		font-size: 3.5rem;
		color: map.get(var.$colors, accent-bcg);
	}

	&__company-details {
		@include mixin.flex(column, space-evenly, $gap: 1rem);

		& a {
			font-size: 2.2rem;
			line-height: 150%;
		}
	}

	&__socials {
		@include mixin.flex(row, center, center, 3rem);
	}

	&__qr {
		position: absolute;
		width: 0;
		top: 25px;
		right: 0;
		opacity: 0;
		transition: map.get(var.$behavior, base-transition);
	}

	&__qr-image {
		transition: map.get(var.$behavior, base-transition);
		border-radius: map.get(var.$sizes, border-radius);
	}

	&__legal {
		font-size: 1.9rem;
	}

	&__credit-link {
		color: map.get(var.$colors, tile-text-muted);
	}

	&__pop-ups {
		position: fixed;
		bottom: 1.5rem;
		right: 1rem;
		z-index: 10;

		@include mixin.flex(column, center, center, 1.5rem);

		transition: map.get(var.$behavior, base-transition);
	}

	.footer__pop-up-btn {
		position: relative;
		display: block;
		width: 6rem;
		max-width: 100px;
		height: 6rem;
		max-height: 100px;
		margin: 0;
		padding: 0;

		line-height: 6rem;
		font-size: 3rem;
		text-decoration: none;
		color: map.get(var.$colors, accent-text);

		border-radius: 50%;
		background-color: rgba(map.get(var.$colors, accent-bcg), 0.7);
		box-shadow: map.get(var.$shadows, active-text-icons-shadow);
		transition: map.get(var.$behavior, base-transition);

		&:hover {
			transform: translateY(-25%) scale(1.15);
			border: 1px solid #bbb;
			box-shadow: var.$active-box-shadow;
		}
		&--cookies:focus .fa-cookie-bite {
			opacity: 0;
		}

		&--cookies:focus .footer__cookie-pop-up {
			right: 0%;
			background-color: rgba(map.get(var.$colors, accent-bcg), 0.95);
			opacity: 1;
		}
	}

	&__cookie-pop-up {
		position: absolute;
		top: 0;
		right: -100vw;
		width: max-content;
		height: 6rem;
		padding-left: 0.5rem;

		font-size: 1.5rem;

		border-radius: 50px;
		box-shadow: var.$active-box-shadow;
		transition: map.get(var.$behavior, base-transition);
		opacity: 0;

		@include mixin.flex(row, center, center, 2rem);

		// to bump up specificity
		.footer__cookie-close-icon {
			font-size: 3rem;
			line-height: 7rem;
			margin-right: 2rem;
			color: map.get(var.$colors, accent-text);
		}
	}
}
