@use 'sass:map';
@use '_global_variables-templates' as var;

//! NAV
.burger {
	top: 2rem;
	right: 2rem;
	width: 3.5rem;
	height: 3rem;
	position: fixed;
	z-index: 7;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__bar {
		width: 100%;
		height: 4px;
		background-color: var.$accent-bcg;
		transition: var.$base-transition;
		border-radius: 2px;
		//Initial state

		&--top,
		&--bottom {
			transform-origin: center;
		}
	}

	// Active state
	&.active {
		.burger__bar--top {
			transform: translateY(calc((10px / 2) - (-10px / 2))) rotate(45deg);
		}

		.burger__bar--middle {
			transform: translateX(-100%);
			opacity: 0;
		}

		.burger__bar--bottom {
			transform: translateY(calc((-29px / 2) + (4px / 2))) rotate(-45deg);
		}

		& + .nav {
			right: 0;
		}
	}
}
.nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: max-content;
	height: 100%;
	z-index: 6;

	text-transform: uppercase;
	letter-spacing: 1px;

	border-top-left-radius: map.get(var.$sizes, border-radius);
	border-bottom-left-radius: map.get(var.$sizes, border-radius);
	box-shadow: var.$active-box-shadow, map.get(var.$sizes, tile-shadow);
	background-color: var.$nav;
	transition: var.$base-transition;

	display: flex;
	flex-direction: column;
	align-items: center;

	&__list {
		margin-top: 3.5rem;

		display: flex;
		flex-direction: column;
		list-style: none;
	}

	&__item {
		position: relative;
		min-width: 50px;
		overflow: hidden;

		text-align: left;
	}

	&__link {
		display: block;

		height: 6rem;
		margin: 0 2rem;
		cursor: pointer;

		line-height: 6rem;
		font-size: 2.2rem;
		text-decoration: none;
		color: var.$tile-text-muted;

		.nav__icon {
			display: inline-block;
			width: 28.5px;
			left: map.get(var.$sizes, icon-position);
			margin-right: 1.5rem;

			color: var.$accent-bcg;
			font-size: 2.2rem;

			transition: var.$base-transition;
		}
	}

	&__logo-container {
		position: relative;
		width: 100%;
	}

	&__logo {
		position: absolute;
		left: 50%;
		width: 60%;
		transform: translateX(-50%);
	}
}
//! NAV  END
