@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@use './utils/' as *;

.docs-header {
  grid-area: header;
  margin-top: 6rem;

  article {
    margin-bottom: 2.5rem;
    width: auto;
  }
}

.doc {
  grid-area: docPage;
  grid-column: 1 /-1;

  &__title {
    margin-bottom: 1rem;
  }
}

@include respond-to(desktop-xs) {
  .docs-header {
    margin-top: 14rem;
  }
}
