@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@use '_global_variables-templates' as var;
@use '_global_mixins-keyframes' as mixin;

.loginBox {
	grid-column: 1/-1;
	place-self: center;
	width: 50vw;
	min-width: 300px;
	max-width: 550px;
	// height: 60vh;
	min-height: 400px;
	// max-height: 700px;
	padding: 2%;
	margin: 15rem 0;
	border-radius: map.get(var.$sizes, border-radius);
	background-color: rgba(map.get(var.$colors, nav), 0.5);
	box-shadow: map.get(var.$shadows, tile-shadow);
	@include mixin.flex(column, space-evenly, center);
	gap: 2.5rem;

	section {
		width: 100%;
		height: 40%;
	}

	form {
		@include mixin.flex(column, space-evenly, center);
		gap: 1.5rem;
	}

	h1,
	h2,
	h3 {
		color: map.get(var.$colors, tile-title);
		font-size: 2.5rem;
	}

	.input-pair {
		width: 60%;
		@include mixin.flex(column, space-evenly, flex-start);
		gap: 0.5rem;

		label {
			font-size: 1.8rem;
		}

		&--checkbox {
			@include mixin.flex(row, center, center);
			gap: 2rem;

			line-height: 4rem;
		}
	}

	input {
		width: 100%;
		padding-left: 1.5rem;
		line-height: 3rem;
		font-family: inherit;
		border-radius: map.get(var.$sizes, border-radius);
		background-color: rgba(map.get(var.$colors, base), 1);
		border: none;
		outline: none;
		transition: 0.3s ease-in-out;

		&:hover,
		&:focus:not([type='checkbox']) {
			box-shadow: map.get(var.$shadows, active-box-shadow);
		}

		&[type='checkbox'] {
			cursor: pointer;
			width: 2rem;
			height: 2rem;
			padding: 0.1rem;

			font-size: 2rem;
			border-radius: map.get(var.$sizes, border-radius);

			@include mixin.flex(row, center, center);
		}
	}

	.register {
		&__question-block {
			align-self: center;
			line-height: 3rem;
			font-size: 1.8rem;
			@include mixin.flex(row, space-evenly, center);

			// & > * {
			// 	display: block;
			// }
		}

		&.active {
			opacity: 1;
		}
	}

	.login-btn {
		width: 40%;
		font-size: 2rem;
	}

	.hide-btn {
		display: none;
	}
}
