@use 'sass:map';
@use 'sass:color';
@use './utils/' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300vh;
  z-index: 8;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
.modal {
  position: fixed;
  top: 50dvh;
  left: 50dvw;
  transform: translate(-50%, -50%) scale(0.9);
  padding: 1.5rem 1rem;
  z-index: 9;

  background-color: color-mix(
    in srgb,
    #{map.get($colors, tile)} 95%,
    transparent
  );
  border: none;
  border-radius: map.get($sizes, border-radius);
  box-shadow: map.get($shadows, active-text-icons-shadow);
  transition: map.get($behavior, base-transition);
  opacity: 0;

  @include flex(row, center, center, $gap: 3rem);
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;

  &::backdrop {
    backdrop-filter: blur(10px);
  }
  &.visible {
    opacity: 1;
    width: 95vw;
    max-height: 92vh;
    transform: translate(-50%, -50%) scale(1);
    transition: map.get($behavior, base-transition);
  }
  &.fade-out {
    opacity: 0;
    width: 0vw;
    max-height: 0vh;
    transform: translate(-50%, -50%) scale(0.95);
    transition: map.get($behavior, base-transition);
  }
  // full name for specificity required by i in font awesome
  .modal__icon {
    $size: 3.5rem;

    min-width: $size;
    height: $size;
    margin: 0;
    font-size: $size;
    line-height: $size;
    text-align: center;
    color: map.get($colors, accent-bcg);
  }

  &__header {
    flex-basis: 100%;
    padding: 0 1rem;

    @include flex(column, $align: center, $gap: 1rem);
  }

  &__full-desc {
    padding: 2rem 0;
    font-size: 2.2rem;

    &--event,
    &--content {
      padding: 0 1rem;
    }
  }

  &__title,
  &__main-title,
  &__attention-note {
    flex-basis: 100%;
    line-height: 6rem;
    font-size: 2.5rem;

    i {
      margin-right: 2rem;
    }

    &--day {
      margin: 1rem 0;
      font-size: 2.2rem;
      text-decoration: underline;
    }

    &--classes-page-day,
    &--view,
    &--status {
      color: map.get($colors, tile-title);
    }

    &--view {
      font-size: 3rem;
    }

    &--status {
      font-size: 2.5rem;
    }
  }

  &__main-title {
    // margin-top: 3rem;
    line-height: 6rem;
  }

  &__user-action {
    margin: 0 auto 2rem;
    padding-bottom: 0;
    width: 100%;

    @include flex($justify: center, $gap: 2rem);
    flex-flow: row wrap;
  }

  &__summary {
    grid-column: 1 /-1;
    @include flex(row, center, flex-start, 2rem);
    flex-wrap: wrap;
  }
}

@include respond-to(mobile-sh) {
  .modal {
    & .tile__img {
      margin: 0;
    }
  }
}
@include respond-to(mobile-m) {
  .modal {
    max-width: 95vw;

    &__full-desc {
      flex-basis: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__desc {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 360px));
      grid-template-areas:
        'h h'
        'd1 d2'
        'd1p d2p'
        'd3 d2p'
        'd3p d2p';
      gap: 1.5rem;

      &--long {
        grid-template-areas:
          'h h'
          'd1 d2'
          'd1p d2p'
          'd3 d4'
          'd3p d4p';
      }
    }

    &__desc--classes-page.modal__desc--long {
      grid-template-areas:
        'h h'
        'd1 d2'
        'd1p d2p'
        'd3 d4'
        'd3p d4p'
        'd5 d5'
        'd5p d5p';
    }

    &__title {
      grid-area: h;

      &--day {
        margin: 0;
      }
      &--day:nth-of-type(1) {
        grid-area: d1;
      }
      &--day:nth-of-type(2) {
        grid-area: d2;
      }
      &--day:nth-of-type(3) {
        grid-area: d3;
      }
      &--day:nth-of-type(4) {
        grid-area: d4;
      }
      &--day:nth-of-type(5) {
        grid-area: d5;
      }
    }

    &__user-action {
      gap: 3rem;
    }
  }
}
@include respond-to(mobile-mh) {
  .modal {
    &__desc {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
  }
}
@include respond-to(mobile-pro) {
  .modal {
    &__main-title {
      order: -3;
    }

    .glide,
    picture {
      order: -2;
    }

    &__header {
      order: -1;
    }
  }
}
@include respond-to(mobile-l) {
  .modal {
    max-width: 900px;
    padding: 1.5rem 2.5rem;

    &:not(.generic-component-wrapper) {
      flex-basis: 35%;
    }
  }
}
@include respond-to(desktop-xs) {
  .modal {
    &__user-action:not(.modal__user-action--login-page) {
      width: 70%;
    }
  }
}
@include respond-to(desktop-s) {
  .modal {
    max-width: 1200px;
    padding: 1.5rem 4rem;

    &__desc--classes-page.modal__desc--long {
      grid-template-areas:
        'h h h h'
        'd1 d2 d3 d4'
        'd1p d2p d3p d4p'
        'd5 d5 d5 d5'
        'd5p d5p d5p d5p ';
    }
  }
}
