@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@use '_global_variables-templates' as var;
@use '_global_mixins-keyframes' as mixin;

@media (min-width: 1025px) or (min-width: 1400px) {
	.dimmed {
		justify-content: center !important;
		color: rgba(map.get(var.$colors, accent-bcg), 0.5);
	}
	.userTabs {
		margin: 4rem 0;
		@include mixin.flex(row, center);
		flex-wrap: wrap;
		gap: 3rem;
		&__item {
			padding: 0.2rem 3rem;
			border-radius: map.get(var.$sizes, border-radius);
			background-color: rgba(map.get(var.$colors, nav), 0.3);
			box-shadow: map.get(var.$shadows, tile-shadow);
		}
		&__link {
			line-height: 3.5rem;
			font-size: 1.8rem;

			.userTabs__icon {
				font-size: 2.5rem;
			}
		}
	}
	.data-table {
		margin: 3rem 0;
		& .hash {
			max-width: 100px;
			overflow: hidden;
		}
	}
	.user-container__section-record {
		width: 100%;

		@include mixin.flex(row, space-between, center);
		flex-wrap: wrap;
		&-label.password {
			flex-basis: 100%;
		}
		&.phone {
			// flex-direction: column;
		}
		&.confirmation {
			justify-content: center;
			color: green;
		}
	}

	.modal__btn--small {
		width: min-content;
		flex-basis: auto;
		height: 2.5rem;
		min-height: auto;
		line-height: 150%;
		font-size: 1.4rem;
		&-change {
			background-color: rgba(yellow, 0.1);
		}
		&-reset {
			background-color: rgba(red, 0.1);
		}
	}

	select {
		// width: 100%;
		padding: 0 1.5rem;
		// text-align: center;
		line-height: 3rem;
		height: 3rem;
		font-family: inherit;
		border-radius: map.get(var.$sizes, border-radius);
		background-color: rgba(map.get(var.$colors, base), 1);
		border: none;
		outline: none;
		transition: map.get(var.$behavior, base-transition);
	}
}
