@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@use './utils/' as *;

@media (min-width: 1025px) or (min-width: 1400px) {
  .modal__btn--small {
    width: max-content;
    flex-basis: auto;
    height: 3rem;
    min-height: auto;
    line-height: 150%;
    font-size: 1.4rem;
    &-warning {
      color: #333;
      background-color: rgba(255, 235, 59, 0.3);
    }
    &-danger {
      color: #c62828;
      background-color: rgba(244, 67, 54, 0.25);
    }
    &-success {
      color: #2e7d32;
      background-color: rgba(76, 175, 80, 0.25);
    }
  }
}
