@use '_config' as config;
@forward '_media';

@mixin btn() {
	display: block;
	min-width: 125px;
	padding: 0.5rem 1rem;

	font-size: 1.5rem;
	line-height: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: config.$accent-text;

	cursor: pointer;
	background-color: config.$accent-bcg;
	border-radius: config.$border-radius;
	box-shadow: config.$active-text-icons-shadow;
	overflow: hidden;
	transition: config.$base-transition;
}
%slider-shade-overlay {
	position: absolute;
	top: 0;
	width: 10vw;
	height: 100%;
	content: '';
	z-index: 2;
}
@mixin slider-shade-wing($direction, $color) {
	@if $direction == 'left' {
		left: calc(var(--section-padding-y) * -1);
	} @else if $direction == 'right' {
		right: calc(var(--section-padding-y) * -1);
	}
	background: linear-gradient(to #{$direction}, transparent, $color);
}
@keyframes slide {
	from {
		transform: translate(0);
	}

	to {
		transform: translate(-100%);
	}
}

@font-face {
	font-family: 'yoganka2';
	src: url('/fonts/BLUDHAVEN.ttf') format('truetype');
}
@font-face {
	font-family: 'bh';
	src: url('/fonts/Beauty-Swing.otf') format('truetype');
}
@font-face {
	font-family: 'by Yoganka';
	src: url('/fonts/PrimaSansBT-Roman.otf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
//! COMMON BLOCKS
html {
	--section-padding-y: #{config.$section-padding-y};
	scroll-behavior: smooth;
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	font-size: 8.5px;
	text-align: center;
	color: config.$base-text;

	background-color: config.$base;
}
body {
	margin: 0 auto;
}
ul {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
}
a {
	color: inherit;
	transition: config.$base-transition;
}
.section-header {
	grid: 1 / -1;
	padding: 1rem 0.5rem;

	font-size: 4rem;
	line-height: 6rem;
	text-transform: uppercase;
	color: config.$tile-title;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-areas:
		'header header header header header '
		'about about about about about'
		'offer offer offer offer offer'
		'cert cert cert cert cert'
		'partners partners partners partners partners'
		'footer footer footer footer footer';
	gap: 2.2rem 0;
	-webkit-overflow-scrolling: touch;
}
.stopScroll {
	overflow: hidden;
}
section:not(:first-of-type),
footer {
	padding: 0 var(--section-padding-y) 2rem;
	box-shadow: config.$section-shadow;
}
* input {
	outline: none;
	border: none;
	cursor: auto;
	background-color: config.$base;
}
//! COMMON BLOCKS END
//! NAV
.burger {
	top: 2rem;
	right: 2rem;
	width: 3.5rem;
	height: 3rem;
	position: fixed;
	z-index: 7;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__bar {
		width: 100%;
		height: 4px;
		background-color: config.$accent-bcg;
		transition: config.$base-transition;
		border-radius: 2px;
		//Initial state

		&--top,
		&--bottom {
			transform-origin: center;
		}
	}

	// Active state
	&.active {
		.burger__bar--top {
			transform: translateY(calc((10px / 2) - (-10px / 2))) rotate(45deg);
		}

		.burger__bar--middle {
			transform: translateX(-100%);
			opacity: 0;
		}

		.burger__bar--bottom {
			transform: translateY(calc((-29px / 2) + (4px / 2))) rotate(-45deg);
		}

		& + .nav {
			right: 0;
		}
	}
}
.nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: max-content;
	height: 100%;
	z-index: 6;

	text-transform: uppercase;
	letter-spacing: 1px;

	border-top-left-radius: config.$border-radius;
	border-bottom-left-radius: config.$border-radius;
	box-shadow: config.$active-box-shadow, config.$tile-shadow;
	background-color: config.$nav;
	transition: config.$base-transition;

	display: flex;
	flex-direction: column;
	align-items: center;

	&__list {
		margin-top: 3.5rem;

		display: flex;
		flex-direction: column;
		list-style: none;
	}

	&__item {
		position: relative;
		min-width: 50px;
		overflow: hidden;

		text-align: left;
	}

	&__link {
		display: block;

		height: 6rem;
		margin: 0 2rem;
		cursor: pointer;

		line-height: 6rem;
		font-size: 2.2rem;
		text-decoration: none;
		color: config.$tile-text-muted;

		.nav__icon {
			display: inline-block;
			width: 28.5px;
			left: config.$icon-position;
			margin-right: 1.5rem;

			color: config.$accent-bcg;
			font-size: 2.2rem;

			transition: config.$base-transition;
		}
	}

	&__logo-container {
		position: relative;
		width: 100%;
	}

	&__logo {
		position: absolute;
		left: 50%;
		width: 60%;
		transform: translateX(-50%);
	}
}
//! NAV  END
.top-image-header {
	grid-area: header;
	height: 100svh;
	text-transform: uppercase;
	background-image: url(/imgs/header/480_header_portrait.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	overflow: hidden;

	display: grid;
	grid-template-columns: repeat(5, minmax(auto, 1fr));
	grid-template-rows: 6rem repeat(8, 1fr) 8rem;
	grid-template-areas:
		'. . . . .'
		'title title title title title'
		'. . logo logo logo'
		'. . logo logo logo'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'motto motto motto motto motto';
	transition: config.$base-transition;

	&__header {
		grid-area: title;
		position: relative;
		padding: 0.5rem 1rem;
		text-align: center;
	}

	&__logo {
		position: absolute;
		left: 50%;
		max-width: 60vw;
		transform: translateX(-50%);
	}

	&__title-bar {
		width: max-content;
		margin: 0 auto;

		font-family: config.$font-body-healing, serif;
		font-size: 2rem;
		font-weight: 100;
		letter-spacing: 2px;
		text-align: left;
		color: config.$tile-title;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		text-transform: none;
	}

	&__subtitle {
		font-family: config.$font-by-yoganka;
		font-weight: lighter;
		font-size: 2rem;
		letter-spacing: 3px;
	}

	&__motto {
		grid-area: motto;
		font-size: 1.7rem;
		letter-spacing: 1px;
		font-weight: 400;
		line-height: 8rem;
		color: config.$tile-title;

		background-color: config.$base;
		box-shadow: config.$transitive-box-shadow;
		overflow: visible;
	}
}
//! ABOUT
.about {
	grid-area: about;
	font-size: 2rem;

	display: grid;
	grid-template-columns: minmax(300px, 1fr);
	grid-template-areas:
		'header'
		'portrait'
		'content';
	place-items: center;
	gap: 2rem;

	&__header {
		grid-area: header;
	}

	&__img {
		grid-area: portrait;
		position: relative;
		width: 90%;
		max-width: 70%;

		background-color: transparent;
		border-radius: config.$border-radius;
		box-shadow: config.$box-shadow;
		overflow: hidden;
	}

	&__img--portrait {
		width: 100%;
		max-width: 640px;
	}

	&__certificates {
		position: absolute;
		bottom: 0;
		right: 0;
		min-width: 70%;
		height: 12%;
		padding: 0 0.5rem;

		background-color: config.$base;
		border-top-left-radius: config.$border-radius;
		border-bottom-right-radius: config.$border-radius;
		overflow: hidden;

		display: flex;
		justify-content: right;
		gap: 1rem;
	}

	&__certificates img {
		max-height: 100%;
		filter: grayscale(1);
	}

	&__content {
		grid-area: content;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		padding: 1rem;
	}

	&__heading {
		grid-area: h2;
		font-size: 4rem;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__description {
		grid-area: article;
	}

	&__signature {
		align-self: flex-end;
		margin-right: 1rem;

		font-family: 'Birthstone Bounce', cursive;
		font-size: 3rem;
	}
}
//! ABOUT  END
//! TILE
.tile {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	padding: 2.5rem 1rem;
	background-color: config.$tile;
	border-radius: config.$border-radius;
	box-shadow: config.$box-shadow;
	overflow: hidden;
	transition: config.$base-transition;

	&--event {
		justify-content: inherit;
	}

	&__img {
		place-self: center;
		max-width: 80%;
		aspect-ratio: 1/1;
		margin-bottom: 1.5rem;
		border-radius: config.$border-radius;

		&--event-modal {
			max-width: 50%;
		}
	}

	&__title,
	&__date {
		font-size: 2.2rem;
		font-weight: 500;
		letter-spacing: 1px;
		color: config.$tile-title;
	}

	&__date {
		color: config.$tile-text;
	}

	&__location {
		font-size: 1.9rem;
		font-weight: 400;
		color: config.$tile-text-muted;
	}

	&__desc {
		font-size: 1.9rem;
		color: config.$tile-text-muted;
	}

	&__btn {
		@include btn();
	}
}
//! TILE END
//! OFFER
.offer {
	grid-area: offer;

	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
	grid-template-areas:
		'title title'
		'wyjazdy wyjazdy'
		'zajecia zajecia'
		'wydarzenia wydarzenia';
	grid-gap: 3.5rem 0.5rem;

	overflow: visible;

	&__section-header {
		grid-area: title;
		position: relative;
	}
	.offer-type {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: 5rem;
		grid-gap: 2.5rem 1.5rem;

		&__header {
			font-size: 3rem;
			line-height: 6rem;
			text-transform: uppercase;
			color: config.$tile-title;
		}

		&--events {
			grid-area: wydarzenia;
			grid-template-rows: 6rem;
		}

		// Zagnieżdżenie dla wyjazdy i zajęcia
		&#wyjazdy {
			grid-area: wyjazdy;
		}

		&#zajecia {
			grid-area: zajecia;
		}
	}
}
//@ MODAL
.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 300vh;
	z-index: 8;

	backdrop-filter: blur(10px);
}
.modal {
	display: block;
	position: fixed;
	top: 50dvh;
	left: 50dvw;
	transform: translate(-50%, -50%);
	width: 0vw;
	min-height: 0px;
	max-height: 0vh;
	padding: 1.5rem 1rem;
	z-index: 8;

	background-color: rgba(config.$tile, 0.95);
	border-radius: config.$border-radius;
	box-shadow: config.$active-text-icons-shadow;
	opacity: 0;
	transition: config.$base-transition;

	// full name for specificity required by i in font awesome
	.modal__icon {
		min-width: 3.5rem;
		height: 3.5rem;
		margin: 0;

		line-height: 3.5rem;
		text-align: center;
		color: config.$accent-bcg;
	}

	&__x-btn {
		position: absolute;
		top: 3rem;
		right: 2rem;
		transform: translate(-50%, -50%);
		z-index: 9;
	}

	&__close-btn {
		font-size: 3rem;
		text-shadow: config.$active-text-icons-shadow;

		&:hover {
			color: config.$accent-bcg;
			text-shadow: config.$active-box-shadow;
		}
	}

	&__modal-body {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
		grid-gap: 2.5rem;

		border-radius: config.$border-radius;

		&--offer {
			max-height: 89dvh;
			padding-bottom: 1rem;

			overflow-y: auto;
			overflow-x: hidden;

			& section:nth-child(even) {
				background: radial-gradient(
					circle at center,
					rgba(0, 0, 0, 0.06) 70%,
					rgba(0, 0, 0, 0) 100%
				);
			}
		}
	}

	& .glide {
		&::before {
			@include slider-shade-wing('left', config.$tile);
		}
		&::after {
			@include slider-shade-wing('right', config.$tile);
		}
	}

	&__header {
		padding: 0 1rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: start;
		flex-wrap: wrap;

		font-size: 2rem;
		line-height: 3.5rem;
		text-align: left;

		&--at-glance {
			gap: 1rem;
		}
	}

	&__li {
		display: flex;
		gap: 2rem;

		&--at-glance {
			font-size: 2.5rem;
		}
	}

	&__full-desc {
		grid-column: 1 / -1;
		font-size: 2.2rem;

		&--event {
			padding: 0 2rem;
			font-size: 2.1rem;
		}
	}

	&__title {
		margin-bottom: 1.5rem;
		font-size: 2.5rem;

		i {
			margin-right: 2rem;
		}

		&--day {
			margin: 1rem 0;
			font-size: 2.2rem;
			text-decoration: underline;
		}
	}

	&__user-action {
		padding-bottom: 0;

		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		gap: 1rem;
	}

	&__btn {
		@include btn();
	}
}
.modal-checklist {
	&__list {
		@extend .modal__list;
	}

	&__li {
		@extend .modal__li;
	}

	.modal-checklist__icon {
		font-size: 2.2rem;
	}

	&__title {
		@extend .modal__title;
	}
}
//! OFFER END
//! CERTIFICATES
.certificates {
	grid-area: cert;
	position: relative;
	overflow: hidden;
	&__tile {
		place-self: center;
		max-width: 100%;
		min-width: 175px;
		padding: 1.5rem 1rem;

		background-color: config.$tile;
		border-radius: config.$border-radius;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__name {
		font-size: 2rem;
	}
	&__school {
		font-size: 1.8rem;
	}
	&__duration {
		font-size: 1.9rem;
	}
	&__type {
		font-size: 1.9rem;
		font-weight: 600;
	}
}
//! CERTIFICATES END
//! PARTNERS
.partners {
	grid-area: partners;
	overflow: hidden;

	&__gallery {
		background-color: config.$tile;

		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 2rem;
		animation: 15s slide infinite linear;
	}

	&__gallery-slide {
		display: flex;
		align-items: center;
		position: relative;

		&:hover .partners__gallery {
			animation-play-state: paused;
		}

		&::before {
			@extend %slider-shade-overlay;
			@include slider-shade-wing('left', config.$base);
		}

		&::after {
			@extend %slider-shade-overlay;
			@include slider-shade-wing('right', config.$base);
		}
	}

	&__link {
		width: 55vw;
		height: 55vw;
		max-width: 225px;
		max-height: 225px;
		padding: 0;

		border-radius: config.$border-radius;

		display: flex;
		justify-content: center;
		align-items: center;

		&:last-child {
			margin-right: 2.5rem;
		}
	}

	&__image {
		display: block;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;

		filter: grayscale(1);
		transition: config.$base-transition;
	}
}

.glide::before,
.glide::after {
	@extend %slider-shade-overlay;
}
.glide::before {
	@include slider-shade-wing('left', config.$base);
}
.glide::after {
	@include slider-shade-wing('right', config.$base);
}
//! PARTNERS END
//! FOOTER
.footer {
	grid-area: footer;
	// min-height: 300px;
	padding: 0rem 1rem 2rem 1rem;
	background-color: rgba(config.$nav, 0.8);
	font-size: 1.7rem;
	color: config.$tile-text-muted;
	box-shadow: config.$tile-shadow;
	border-top-left-radius: config.$border-radius;
	border-top-right-radius: config.$border-radius;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
}
.footer__logo {
	margin: 2rem;
	width: 45vw;
	max-width: 280px;
}
footer a {
	height: auto;
	font-size: 1.5rem;
	text-decoration: underline;
}
.footer__company-details {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 0.5rem;
}
.footer__company-details a {
	font-size: 2.2rem;
	line-height: 150%;
}
.footer__socials {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 3rem;
}
.footer__social-link {
	position: relative;
	font-size: 3.5rem;
	color: config.$accent-bcg;
}

.footer__qr {
	position: absolute;
	width: 0;
	top: 25px;
	right: 0;
	opacity: 0;
	transition: config.$base-transition;
}
.footer__qr-image {
	transition: config.$base-transition;
	border-radius: config.$border-radius;
}
.footer__legal {
	font-size: 1.9rem;
}
.footer__credit-link {
	color: config.$tile-text-muted;
}
.footer__pop-ups {
	position: fixed;
	bottom: 1.5rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: config.$base-transition;
	gap: 1.5rem;
	z-index: 10;
}
.footer__pop-up-btn {
	position: relative;
	display: block;
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
	font-size: 3rem;
	max-width: 100px;
	max-height: 100px;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: config.$accent-text;
	border-radius: 50%;
	background-color: rgba(config.$accent-bcg, 0.7);
	box-shadow: config.$active-text-icons-shadow;
	transition: config.$base-transition;
}
.footer__pop-up-btn:hover {
	transform: translateY(-25%) scale(1.15);
	border: 1px solid #bbb;
	box-shadow: config.$active-box-shadow;
}
.footer__cookie-pop-up {
	position: absolute;
	top: 0;
	right: -100vw;
	width: max-content;
	height: 6rem;
	padding-left: 0.5rem;
	border-radius: 50px;
	box-shadow: config.$active-box-shadow;
	transition: config.$base-transition;
	opacity: 0;
	font-size: 1.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
// i. to bump up specificity
i.footer__cookie-close-icon {
	font-size: 3rem;
	line-height: 7rem;
	margin-right: 2rem;
	color: config.$accent-text;
}
.footer__pop-up-btn--cookies:focus .footer__cookie-pop-up {
	right: 0%;
	background-color: rgba(config.$accent-bcg, 0.95);
	opacity: 1;
}
.footer__pop-up-btn--cookies:focus .fa-cookie-bite {
	opacity: 0;
}
.clickable:not(.footer__pop-ups *) {
	box-shadow: config.$tile-shadow;
	position: relative;
}
.clickable:not(.footer__pop-ups *)::after {
	content: '...';
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 0.5rem;
	width: 100%;
	height: 10%;
	font-size: 1rem;
	letter-spacing: 1px;
	color: config.$tile-text-muted;
	background: linear-gradient(to bottom, transparent, darken(config.$tile, 13%));

	display: flex;
	justify-content: center;
	align-items: flex-end;
}
div.visible {
	// display: block;
	opacity: 1;
	width: 95vw;
	min-height: max-content;
	max-height: 92vh;
}
div.hidden {
	display: none;
}
.blur {
	backdrop-filter: blur(10px);
}
.glide {
	grid-column: 1 / -1;
	padding: 2rem 0 3rem;
}
.glide-container {
	grid-column: 1 / -1;
	min-width: 100%;
	display: grid;
	grid-template-columns: 100%;
}
.glide--comp {
	min-height: 33vh;
}
.glide--comp .glide__track {
	border-radius: config.$border-radius;
	// border: 1px solid red;
}
.glide__track {
	overflow: visible;
}
.certificates .glide__slides {
	background-color: rgba(config.$nav, 0.55);
}
.glide__slides {
	height: 100%;
	min-height: 30vh;
	align-items: center;
	justify-content: space-around;
	overflow: visible;
	overflow-x: hidden;
}
.glide__slide {
	border-radius: config.$border-radius;
	// border: 1px solid black;
	display: flex;
	justify-content: center;
}
.tile__img--modal-slider {
	place-self: center;
	aspect-ratio: auto;
	max-width: 100%;
	max-height: 45vh;
	margin: 0;
}
.glide__bullets {
	bottom: 1rem;
}
.glide__bullet {
	width: 1rem;
	height: 1rem;
	background-color: config.$base;
}
.glide__bullet--active {
	background-color: config.$accent-bcg;
}
.glide__arrow {
	padding: 1rem 1.5rem;
	transform: translateY(calc(-50% - 3rem / 2));
	font-size: 3rem;
	color: config.$accent-bcg;
	border-radius: config.$border-radius;
	z-index: 5;
}
.glide__arrow--left {
	left: 1rem;
}
.glide__arrow--right {
	right: 1rem;
}
//! FOOTER END
//! MEDIA
@media (min-width: 360px) {
	html {
		--section-padding-y: 2rem;
		font-size: 9px;
	}
	.top-image-header__motto {
		letter-spacing: 0px;
	}
	.offer {
		grid-gap: 3.5rem 1.5rem;
	}
	.partners__image {
		width: 50vw;
		height: 50vw;
	}
	.footer__legal {
		font-size: 1.8rem;
	}
	.footer__pop-ups {
		bottom: 1.5rem;
		right: 1.5rem;
		gap: 1rem;
	}
	.footer__cookie-pop-up {
		font-size: 1.4rem;
	}
	.footer__social-link {
		font-size: 4rem;
	}
}
@media (min-width: 480px) {
	html {
		font-size: 12px;
	}
	.top-image-header {
		background-image: url(/imgs/header/768_header_portrait.jpg);

		&__title-bar {
			font-size: 2.3rem;
		}

		&__motto {
			letter-spacing: 1px;
		}
	}
	.footer__socials {
		gap: 4rem;
	}
	.footer__social-link {
		font-size: 3rem;
	}
	.footer__cookie-pop-up {
		font-size: 1.7rem;
		padding-left: 2rem;
	}
}
@media (min-width: 640px) {
	// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)
	html {
		font-size: 13px;
	}
	.wrapper > section:not(:first-of-type),
	footer {
		padding: 0 2rem 2rem;
	}
	.burger.active {
		.burger__bar--top {
			transform: translateY(33px / 2) rotate(45deg);
		}
		.burger__bar--bottom {
			transform: translateY(-36px / 2) rotate(-45deg);
		}
	}
	.about__certificates {
		min-width: 65%;
	}
	.section--header {
		grid-column: 1 /-1;
	}
	.offer-type {
		&__header {
			@extend .section--header;
		}

		&--events {
			display: grid;
			grid-template-columns: minmax(300px, 400px);
		}
	}
	.modal {
		&__modal-body {
			gap: 2rem 1.5rem;
		}
		&__modal-body--event {
			grid-template-columns: auto;
		}
		& .tile__img {
			grid-column: 1 / -1;
			margin: 0;
		}
		&__header {
			grid-column: 1 / -1;
			align-items: center;
			width: 100%;
		}
		&__desc {
			grid-column: 1 /-1;
		}
		&__attention-note {
			grid-column: 1 / -1;
		}
		&__user-action {
			grid-column: 1 /-1;
		}
	}
	.modal-checklist {
		&__list {
			align-self: self-start;
		}
		&--included {
			grid-column: 1;
			grid-row: span 2;
		}
		&--free-time {
			width: max-content;
			justify-self: center;
			grid-column: 1 / -1;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;
		}
	}
	.partners {
		&__link {
			width: 40vw;
			height: 40vw;
		}

		&__gallery-slide {
			&::before {
				left: -2rem;
			}
			&::after {
				right: -2rem;
			}
		}
	}
	.footer__social-link {
		font-size: 4rem;
	}
}
@media (min-width: 768px) {
	// tablet, landscape iPad, lo-res laptops ands desktops
	.nav__item {
		transition: config.$base-transition;

		&:hover {
			transform: scale(1.05) translateY(0.5rem);

			border-bottom-left-radius: config.$border-radius;
			border-bottom-right-radius: config.$border-radius;
		}

		&:hover .nav__link {
			color: config.$accent-bcg;
			text-shadow: config.$active-text-icons-shadow;
		}
	}
	.top-image-header {
		background-image: url(/imgs/header/1024_header_portrait.jpg);

		&__title-bar {
			height: 11rem;

			font-size: 3rem;
			letter-spacing: 3px;
		}
		&__motto {
			font-size: 2.5rem;
		}
	}
	.about {
		gap: 2.5rem 1.5rem;

		&__img {
			max-width: 640px;
		}

		&__heading {
			font-size: 3rem;
		}

		&__content {
			font-size: 1.7rem;
		}
	}
	.tile {
		&.clickable:hover {
			cursor: pointer;
			box-shadow: config.$tile-shadow;
			transform: translateY(-5%) scale(1.05);
		}

		&__img--event-modal {
			grid-column: 1 / -1;
		}
	}
	.offer {
		grid-template-areas:
			'title title'
			'wyjazdy wyjazdy'
			'zajecia zajecia'
			'wydarzenia wydarzenia';

		.offer-type {
			width: 100%;
			grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
			grid-gap: 2.5rem 2rem;

			&--events {
				display: grid;
				width: 100%;
				grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));

				& .tile {
					max-width: 500px;

					&:nth-last-of-type(1) {
						justify-self: center;
						grid-column: span 2;
						width: 50%;
					}
				}
			}
		}
	}
	.modal {
		max-width: 95vw;

		&__btn:hover {
			box-shadow: config.$active-box-shadow;
		}

		&__modal-body {
			grid-template-columns: repeat(6, minmax(65px, 1fr));
			gap: 3rem 1.5rem;
			padding-bottom: 3.5rem;
		}

		&__full-desc {
			padding: 0 1rem;
		}

		&__desc {
			display: grid;
			grid-template-columns: repeat(2, minmax(300px, 360px));
			grid-template-areas:
				'h h'
				'd1 d2'
				'd1p d2p'
				'd3 d2p'
				'd3p d2p';
			gap: 1.5rem;

			&--long {
				grid-template-areas:
					'h h'
					'd1 d2'
					'd1p d2p'
					'd3 d4'
					'd3p d4p';
			}
		}

		&__paragraph {
			grid-column: 1 /-1;
		}

		&__title {
			grid-area: h;
			margin: 0;

			&--day {
				margin: 0;
			}
			&--day:nth-of-type(1) {
				grid-area: d1;
			}
			&--day:nth-of-type(2) {
				grid-area: d2;
			}
			&--day:nth-of-type(3) {
				grid-area: d3;
			}
			&--day:nth-of-type(4) {
				grid-area: d4;
			}
		}

		&__list {
			justify-content: flex-start;

			&:nth-of-type(1) {
				grid-area: d1p;
			}
			&:nth-of-type(2) {
				grid-area: d2p;
			}
			&:nth-of-type(3) {
				grid-area: d3p;
			}
			&:nth-of-type(4) {
				grid-area: d4p;
			}
		}

		&__user-action {
			gap: 3rem;
		}
	}
	.modal-checklist {
		&--included {
			grid-column: span 3;
		}

		&--event {
			grid-column: 1 / -1;
		}

		&--excluded,
		&--optional {
			grid-column: -1 / -4;
		}
	}
	.partners {
		padding-bottom: 6rem !important;
		&__gallery {
			gap: 4rem;
			animation: 20s slide infinite linear;
		}
		&__link:hover {
			cursor: pointer;
			transform: translateY(-18%) scale(1.1);
			box-shadow: config.$tile-shadow;
		}
	}
	.footer {
		flex-flow: row wrap;
		align-content: space-evenly;
		justify-content: center;
		row-gap: 2rem;
	}
	.footer__company-details a:hover {
		font-size: 2.2rem;
		text-shadow: config.$active-text-icons-shadow;
	}
	.footer__legal,
	.footer__credit {
		flex-basis: 100%;
	}
	.footer__credit a {
		line-height: 100%;
	}
	.footer__pop-ups {
		gap: 1.5rem;
	}
	.footer__pop-up-btn {
		width: 6.6rem;
		height: 6.6rem;
		line-height: 6.6rem;
	}
	.footer__cookie-pop-up {
		height: 6.6rem;
		font-size: 2rem;
	}
	.footer__social-link:hover {
		text-shadow: config.$active-text-icons-shadow;
	}
	.footer__qr {
		left: 50%;
		transform: translateX(-50%);
	}
	.footer__social-link:hover .footer__qr {
		display: block;
		width: 160px;
		top: -185px;

		opacity: 1;
		transition: config.$base-transition;
	}
	.footer__social-link:hover .footer__qr-image {
		box-shadow: config.$active-box-shadow;
	}
}
@media (min-width: 800px) {
	.offer {
		.offer-type {
			&--events {
				grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

				& .tile {
					&:nth-last-of-type(1) {
						justify-self: auto;
						grid-column: auto;
						width: auto;
					}
				}
			}
		}
	}
}
@media (min-width: 960px) {
	.modal {
		&__modal-body {
			grid-template-columns: repeat(6, minmax(125px, 1fr));
		}

		&__header {
			place-self: center;
			grid-column: 1 / 4;
			grid-row: 2;
		}

		&__full-desc {
			grid-column: -1 / -4;
			place-self: center;
		}

		&__desc {
			grid-template-columns: repeat(2, minmax(300px, 1fr));
		}
	}
	.partners {
		&__gallery-slide {
			&::before {
				width: 7vw;
			}
			&::after {
				width: 7vw;
			}
		}
		&__link {
			width: 40vw;
			height: 40vw;
		}
	}
	.footer__pop-ups {
		right: 2rem;
		gap: 1.8rem;
	}
	.footer__pop-up-btn {
		width: 7rem;
		height: 7rem;
		line-height: 7rem;
		font-size: 3.5rem;
	}
	.footer__cookie-pop-up {
		height: 7rem;
		font-size: 2.5rem;
	}
}
@media (min-width: 1025px) {
	// big landscape tablets, laptops, and desktops
	html {
		font-size: 10px;
	}
	.wrapper {
		max-width: 1000px;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: repeat(7, auto);
		grid-template-areas:
			'nav nav nav nav nav '
			'header header header header header '
			'about about about about about'
			'offer offer offer offer offer'
			'cert cert cert cert cert'
			'partners partners partners partners partners'
			'footer footer footer footer footer';
	}
	.burger {
		display: none;
	}
	.nav {
		grid-area: nav;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		padding-left: 1rem;

		border-radius: 0;
		border-bottom-left-radius: config.$border-radius;
		border-bottom-right-radius: config.$border-radius;

		flex-direction: row;
		justify-content: space-evenly;

		&__logo-container {
			display: none;
		}

		&__list {
			width: max-content;
			margin: 0;

			flex-direction: row;
			gap: 2rem;
		}

		&__link {
			margin: 0;
			padding: 0 1rem;

			font-size: 1.3rem;
			line-height: 6rem;
			color: config.$tile-title;
			transition: config.$base-transition;

			.nav__icon {
				color: config.$tile-title;
			}
		}
	}
	.top-image-header {
		height: 90svh;
		max-height: 750px;
		min-height: 675px;
		margin-top: 5rem;
		background-image: none;

		grid-template-areas:
			'title title title title title'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'motto motto motto . .';

		&__header {
			width: 100%;
		}

		&__title-bar {
			width: max-content;
			height: 13rem;

			font-size: 4rem;
			letter-spacing: 6px;
		}

		&__logo {
			margin-top: 2rem;
		}

		&__motto {
			font-size: 1.6rem;
			font-weight: lighter;
			color: config.$tile-title;

			box-shadow: none;
			background-color: transparent;
		}
	}
	.about {
		position: absolute;
		top: 0;
		margin-top: 525px;
		max-width: 1000px;
		height: 90vh;
		max-height: 750px;
		z-index: -1;
		transform: translateY(-50%);

		display: flex;
		justify-content: space-around;
		align-items: center;

		&__header {
			display: none;
		}

		&__content {
			max-width: 50%;
		}

		&__heading,
		&__greeting,
		&__description {
			padding-left: 2rem;
			justify-self: left;
			text-align: left;
		}

		&__img--portrait {
			display: none;
		}

		&__img {
			order: 2;
			width: 35%;
			height: 70%;

			background: url('/imgs/about/600_about_profile.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
	}
	.offer {
		margin-top: -3rem;
		grid-template-columns: repeat(4, minmax(150px, 1fr));
		grid-template-areas:
			'title title title title'
			'wyjazdy wyjazdy zajecia zajecia'
			'wydarzenia wydarzenia wydarzenia wydarzenia';

		.offer-type {
			grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
			align-items: stretch;

			&--events {
				grid-area: wydarzenia;
				grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
			}
		}
	}
	.modal {
		max-width: 900px;
		padding: 1.5rem 2.5rem;
	}
	.partners__link {
		width: 20vw;
		height: 20vw;
	}
	.footer {
		padding: 0 2rem 3rem;
		font-size: 1.9rem;
		grid-template-columns: repeat(7, minmax(100px, 1fr));
		grid-template-areas:
			'socials socials socials logo logo details details '
			'socials socials socials logo logo details details '
			'socials socials socials logo logo details details '
			'socials socials socials logo logo details details '
			'. . . credit . . . ';
		place-items: center;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		row-gap: 1rem;
	}
	.footer__logo-container {
		// width: 215px;
		grid-area: logo;
		display: grid;
		place-items: center;
	}
	.footer__company-details {
		width: 215px;
		grid-area: details;
	}
	.footer__company-details a {
		font-size: 2.2rem;
		color: config.$tile-title;
	}

	.footer__legal {
		grid-area: legal;
	}
	.footer__socials {
		width: 215px;
		order: -1;
		grid-area: socials;
		text-shadow: none;
		overflow: visible;
	}

	.footer__credit {
		grid-area: credit;
	}
}
@media (min-width: 1280px) {
	// hi-res laptops and desktops
	// about is absolute at this stage
	.wrapper,
	.about {
		max-width: 1200px;
	}
	.nav__link {
		font-size: 2rem;
	}
	.about {
		margin-top: 500px;

		&__img {
			width: 31%;
			height: 78%;
		}
	}
	.offer {
		grid-gap: 3.5rem 3rem;

		.offer-type {
			grid-gap: 2.5rem 3rem;
		}
	}
	.modal {
		max-width: 1200px;
		padding: 1.5rem 4rem;
	}
	.partners {
		&__link {
			width: 30vw;
			height: 30vw;
		}

		&__gallery-slide {
			&::before {
				width: 5vw;
			}
			&::after {
				width: 5vw;
			}
		}
	}
}
