<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="UTF-8" />
		<title>Yoganka</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<!-- Website description for SEO -->
		<meta
			name="description"
			content="Profesjonalna instruktorka jogi oferująca wyjątkowe zajęcia w Trójmieście oraz wyjazdy pomorskie. Specjalizuję się w trendach jogi na supie oraz sesjach z gongami, korzystając z certyfikatów zdobytych na Bali. Moje usługi są dostępne dla klientów z całej Polski, zapewniając wysoką jakość i unikalne doświadczenia. Zapisz się na zajęcia, które przyniosą Ci harmonię i równowagę." />
		<meta
			name="author"
			content="MMadejsza" />
		<meta
			name="keywords"
			content="Yoga Ania Madejsza, bodyhealing, yoganka, joga na supie Trójmiasto, joga z gongami Trójmiasto, joga na supie Gdańsk, joga z gongami Gdańsk, profesjonalna instruktorka jogi, certyfikaty jogi Bali, joga pomorskie wyjazdy, zajęcia jogi dla firm Polska, trendy joga 2024, joga dla zdrowia, relaksacja joga, sesje jogi z gongami, joga na wodzie Trójmiasto, wyjazdy jogowe Pomorze, joga na supie certyfikaty, najlepsza joga w Trójmieście, profesjonalna joga Polska" />

		<!-- FAVICONS info -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="favicon_io/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="favicon_io/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="favicon_io/favicon-16x16.png" />
		<link
			rel="manifest"
			href="favicon_io/site.webmanifest" />

		<!-- Outside styling and links info -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gravitas+One&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../static/css/style.css" />
	</head>
	<body>
		<section class="topImageHeader">
			<div class="logo">Logo</div>
			<header>
				<div class="titleBar">
					<h1 class="headerTitle">Body Healing</h1>
					<h2 class="headerSubtitle">by madejszka</h2>
				</div>
			</header>
			<div class="headerMotto">
				<h3>joga | slow life | mindfulness</h3>
			</div>
		</section>

		<div
			class="burger"
			id="burger"
			onclick="toggleMenu()">
			<div class="bar top-bar"></div>
			<div class="bar middle-bar"></div>
			<div class="bar bottom-bar"></div>
		</div>
		<nav class="nav">
			<div class="logo">Logo</div>
			<ul>
				<li>
					<a
						class="active"
						href="/">
						<i class="fas fa-home"></i>Home</a
					>
				</li>
				<li class="">
					<a href="./portfolio"> <i class="fa-solid fa-certificate"></i>Certyfikaty</a>
				</li>
				<li class="">
					<a href="./stocks"> <i class="fas fa-calendar-check"></i>Eventy</a>
				</li>
				<li class="">
					<a href="./watchList"> <i class="fas fa-cloud-moon"></i>Wyjazdy</a>
				</li>
				<li>
					<a href="./zajecia"> <i class="far fa-clock"></i>Zajęcia</a>
				</li>
				<li>
					<a href="./contact"><i class="fa-solid fa-circle-info"></i>Kontakt</a>
				</li>
			</ul>
		</nav>

		<section class="about">
			<header class="sectionHeader">O mnie</header>
			<aside class="about_portrait">
				<img
					src="../static/about.jpg"
					loading="lazy"
					alt="Yoganka z profilu" />
			</aside>
			<h2>CZEŚĆ! Tu YOGANKA !</h2>
			<aside class="ryt">
				<img
					src="../static/ryt.jpg"
					loading="lazy"
					alt="Autoryzowany nauczyciel jogi" />
			</aside>
			<aside class="alliance">
				<img
					src="../static/YA-Logo.jpg"
					loading="lazy"
					alt="Logo federacji jogi" />
			</aside>
			<h3>Cieszę się, że tu jesteś. Rozgość się.</h3>
			<p>
				Jestem nauczycielką w nurcie vinyasa oraz hatha. Moje zajęcia najczęściej prowadzę w
				rytmie slow flow vinyasa. Moje ciało często woła o relaks, stąd przekonanie również
				do jogi yin. Pierwszy raz stanęłam na macie 18 lat temu. W jodze najpiękniejsze są
				powroty.
			</p>
		</section>

		<section class="offer">
			<header class="sectionHeader">
				Pokuś się na...
				<hr class="lineShadow" />
			</header>
			<article class="offerType">
				<header class="offerType_header">Wyjazdy</header>
				<div class="tile camp">
					<img
						class="pic"
						src="../static/kojenie_zmyslow.jpg"
						loading="lazy" />
					<h3>Kojenie Zmysłów - joga, aromaterapia i spa</h3>
					<h4>11-13.10 Dworek Krępkowice Kaszuby</h4>
					<p class="tile_desc">
						Zabieram Cię do urokliwego domku, otulonego drewnem, gdzie schowamy się w
						ulubionych skarpetkach, za dużych sweterkach i będziemy kocykować przy
						kominku i pić ciepłe naparki !
					</p>
				</div>
				<div class="tile camp long">
					<div class="pic">
						<img
							src="../static/comfy_retreat.jpg"
							loading="lazy" />
					</div>
					<h3>Comfy Retreat - joga, malowanie intuicyjne, gongi i spa</h3>
					<h4>8-11.11 Witramowo 32, Warmia</h4>
					<p class="tile_desc">
						Otulimy się ciepłym kominkiem, zdrowymi naparami i pysznym jedzeniem!
						Zabierz swój ulubiony dres, za duży sweterek i ciepłe skarpetki, po prostu
						Twoje ulubione jesienne atrybuty! Nie zabraknie czasu na książkę pod
						kocykiem, ale też uziemiających aktywności:
					</p>

					<ul>
						<li>Praktyka jogi</li>
						<li>Medytacja</li>
						<li>Techniki oddechowe</li>
						<li>MALOWANIE INTUICYJNE PRZY MISACH I GONGACH zagra cudowna Aga Topp</li>
						<li>Masaż kobido</li>
						<li>Masaże misami tybetańskimi</li>
						<li>Spa: sauna z balią i</li>
						<li>Wiele więcej...</li>
					</ul>
				</div>
			</article>
			<article class="offerType">
				<header class="offerType_header">Zajęcia</header>
				<div class="tile">
					<img
						class="pic"
						src="../static/offer_individual.png"
						loading="lazy" />
					<h3>Indywidualne</h3>
					<h4>Ty, joga i ja...</h4>
				</div>
				<div class="tile">
					<div class="pic">
						<img
							src="../static/offer_group.png"
							loading="lazy" />
					</div>
					<h3>Regularne - grupowe</h3>
					<h4>Sieć ZdroFit</h4>
				</div>
			</article>
			<article class="offerType">
				<header class="offerType_header">Joga na supach</header>
				<div class="tile">
					<img
						class="pic"
						src="../static/offer_sup.png"
						loading="lazy" />
					<h3>Nie bój się zmoczyć...</h3>
					<h4>Extra mobilizacja mięśni głębokich i stabilizujących</h4>
				</div>
			</article>
			<article class="offerType">
				<header class="offerType_header">Wydarzenia</header>
				<div class="tile">
					<img
						class="pic"
						src="../static/gongi.png"
						loading="lazy" />
					<h3>YOGA & SOUND</h3>
					<h4>Moon Ceremony</h4>
				</div>
			</article>
		</section>

		<section class="certificates">
			<header class="sectionHeader">Kwalifikacje</header>
			<article class="certificates_gallery">
				<div class="tile">
					<img
						class="pic"
						src="../static/ryt.jpg"
						loading="lazy" />
					<h3><strong class="certificate-name">RYT200 Bali</strong></h3>
					<p class="certificate-school">House of OM</p>
					<p class="certificate-duration">200h</p>
					<p><strong class="certificate-type">Vinyasa & Hatha</strong></p>
				</div>
				<div class="tile">
					<img
						class="pic"
						src="../static/offer_individual.png"
						loading="lazy" />
					<h3><strong class="certificate-name">Instruktor Hatha Jogi</strong></h3>
					<p class="certificate-school">prof. Szopa</p>
					<p class="certificate-duration">150h</p>
					<p><strong class="certificate-type">Hatha</strong></p>
				</div>

				<div class="tile">
					<img
						class="pic"
						src="../static/offer_individual.png"
						loading="lazy" />
					<h3>
						<strong class="certificate-name">Warsztat pozycji odwróconych</strong>
					</h3>
					<p class="certificate-school">Joga Park</p>
					<p class="certificate-duration">15h</p>
					<p><strong class="certificate-type"></strong></p>
				</div>

				<div class="tile">
					<img
						class="pic"
						src="../static/offer_individual.png"
						loading="lazy" />
					<h3>
						<strong class="certificate-name">Warsztat sekwencji</strong>
					</h3>
					<p class="certificate-school">Daga Joga</p>
					<p class="certificate-duration">15h</p>
					<p><strong class="certificate-type">Sequences</strong></p>
				</div>

				<div class="tile">
					<img
						class="pic"
						src="../static/offer_individual.png"
						loading="lazy" />
					<h3>
						<strong class="certificate-name">Asana stabilna i wygodna</strong>
					</h3>
					<p class="certificate-school">SMU YOGA</p>
					<p class="certificate-duration">15h</p>
					<p><strong class="certificate-type">Asana</strong></p>
				</div>
				<div class="tile">
					<img
						class="pic"
						src="../static/offer_individual.png"
						loading="lazy" />
					<h3>
						<strong class="certificate-name">Mobility & Flexibility</strong>
					</h3>
					<p class="certificate-school">Bartosz Kuc</p>
					<p class="certificate-duration">16h</p>
					<p><strong class="certificate-type">Health</strong></p>
				</div>
				<div class="tile">
					<img
						class="pic"
						src="../static/offer_individual.png"
						loading="lazy" />
					<h3>
						<strong class="certificate-name">Warsztaty jogowe</strong>
					</h3>
					<p class="certificate-school">Dominika Płachecka</p>
					<p class="certificate-duration">15h</p>
				</div>
				<div class="tile">
					<img
						class="pic"
						src="../static/offer_individual.png"
						loading="lazy" />
					<h3>
						<strong class="certificate-name">Neuro Joga</strong>
					</h3>
					<p class="certificate-school">Celest Pereira</p>
					<p class="certificate-duration">15h</p>
					<p><strong class="certificate-type">Neuro Joga</strong></p>
				</div>
			</article>
		</section>
		<section class="partners">
			<header class="sectionHeader">Współpraca</header>
			<article class="partners_gallery">
				<img
					src="../static/logo_yoga_flow.png"
					loading="lazy" />
				<img
					src="../static/logo_klekotki_spa.png"
					loading="lazy" />
				<img
					src="../static/logo_aioli.png"
					loading="lazy" />
				<img
					src="../static/logo_tomy_gdansk.png"
					loading="lazy" />
				<img
					src="../static/logo_yacht.png"
					loading="lazy" />
				<img
					src="../static/logo_natu_handmade.png"
					loading="lazy" />
				<img
					src="../static/logo_yoga_aliance.png"
					loading="lazy" />
				<img
					src="../static/logo_mis_yoga.png"
					loading="lazy" />
			</article>
		</section>
		<footer class="footer">
			<div class="logo">Logo</div>
			<div class="company-details">
				<p>Gdańsk, Polska</p>
				<a href="tel:+48792891607">+48 792 891 607</a>
				<a href="mailto:aniamadejsza@gmail.com">aniamadejsza@gmail.com</a>
				<p>NIP 777777777777</p>
			</div>

			<div class="socials">
				<a
					href="https://www.instagram.com/yoganka_bodyhealing/"
					target="_blank"
					title="Instagram Fanpage">
					<div class="social">
						<i class="fa-brands fa-instagram"></i>
					</div>
				</a>
				<a
					href="https://www.facebook.com/profile.php?id=100094192084948"
					target="_blank"
					title="Facebook Fanpage">
					<div class="social">
						<i class="fa-brands fa-square-facebook"></i>
					</div>
				</a>
				<a
					href="https://wa.me/48792891607"
					target="_blank"
					title="Whatsapp Direct Message Link">
					<div class="social">
						<div class="whatsapp"><i class="fab fa-whatsapp"></i></div>
					</div>
				</a>
			</div>
			<div class="legal">Regulamin | Polityka prywatności | Pliki cookie</div>
			<a
				href="https://bit.ly/MaciejMadejszaProjects"
				target="_blank"
				title="Developer's Contact">
				<div class="credits">&copy Maciej Madejsza</div>
			</a>
		</footer>

		<!-- Scripts -->
		<script
			src="https://kit.fontawesome.com/4622d99ad4.js"
			crossorigin="anonymous"></script>
		<script
			type="application/javascript"
			src="../services/app.js"></script>
	</body>
</html>
