<!DOCTYPE html>
<html lang="pl">
	<head>
		<!-- Meta tags -->
		<meta charset="UTF-8" />
		<title>Yoganka</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1" />
		<!-- Website description for SEO -->
		<meta
			name="description"
			content="Profesjonalna instruktorka jogi oferująca wyjątkowe zajęcia w Trójmieście oraz wyjazdy pomorskie. Specjalizuję się w trendach jogi na supie oraz sesjach z gongami, korzystając z certyfikatów zdobytych na Bali. Moje usługi są dostępne dla klientów z całej Polski, zapewniając wysoką jakość i unikalne doświadczenia. Zapisz się na zajęcia, które przyniosą Ci harmonię i równowagę." />
		<meta
			name="author"
			content="MMadejsza" />
		<meta
			name="keywords"
			content="Yoga Ania Madejsza, bodyhealing, yoganka, joga na supie Trójmiasto, joga z gongami Trójmiasto, joga na supie Gdańsk, joga z gongami Gdańsk, profesjonalna instruktorka jogi, certyfikaty jogi Bali, joga pomorskie wyjazdy, zajęcia jogi dla firm Polska, trendy joga 2024, joga dla zdrowia, relaksacja joga, sesje jogi z gongami, joga na wodzie Trójmiasto, wyjazdy jogowe Pomorze, joga na supie certyfikaty, najlepsza joga w Trójmieście, profesjonalna joga Polska" />

		<!-- FAVICONS info -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="favicon_io/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="favicon_io/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="favicon_io/favicon-16x16.png" />
		<link
			rel="manifest"
			href="favicon_io/site.webmanifest" />

		<!-- Outside styling and links info -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gravitas+One&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../static/css/style.css" />
		<!-- MailerLite Universal -->
		<script>
			(function (w, d, e, u, f, l, n) {
				(w[f] =
					w[f] ||
					function () {
						(w[f].q = w[f].q || []).push(arguments);
					}),
					(l = d.createElement(e)),
					(l.async = 1),
					(l.src = u),
					(n = d.getElementsByTagName(e)[0]),
					n.parentNode.insertBefore(l, n);
			})(window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
			ml('account', '1112086');
		</script>
		<!-- End MailerLite Universal -->
	</head>
	<body>
		<div class="wrapper">
			<div
				class="burger"
				id="burger"
				onclick="toggleMenu()">
				<div class="burger__bar burger__bar--top"></div>
				<div class="burger__bar burger__bar--middle"></div>
				<div class="burger__bar burger__bar--bottom"></div>
			</div>
			<nav class="nav">
				<div class="nav__logo">Logo</div>
				<ul class="nav__list">
					<li class="nav__item">
						<a
							class="nav__link"
							href=".certificates">
							<i class="fa-solid fa-certificate nav__icon"></i>Certyfikaty
						</a>
					</li>
					<li class="nav__item">
						<a
							class="nav__link"
							href=".events">
							<i class="fas fa-calendar-check nav__icon"></i>Wydarzenia
						</a>
					</li>
					<li class="nav__item">
						<a
							class="nav__link"
							href="#wyjazdy">
							<i class="fas fa-cloud-moon nav__icon"></i>Wyjazdy
						</a>
					</li>
					<li class="nav__item">
						<a
							class="nav__link"
							href="#zajecia">
							<i class="far fa-clock nav__icon"></i>Zajęcia
						</a>
					</li>
					<li class="nav__item">
						<a
							class="nav__link"
							href=".company-details">
							<i class="fa-solid fa-circle-info nav__icon"></i>Kontakt
						</a>
					</li>
				</ul>
			</nav>
			<section class="top-image-header">
				<div class="top-image-header__logo">Logo</div>
				<header class="top-image-header__header">
					<div class="top-image-header__title-bar">
						<h1 class="top-image-header__title">Body Healing</h1>
						<h2 class="top-image-header__subtitle">by madejszka</h2>
					</div>
				</header>
				<div class="top-image-header__motto">
					<h3>joga | slow life | mindfulness</h3>
				</div>
			</section>
			<section class="about">
				<header class="about__header section-header">O mnie</header>
				<aside class="about__portrait">
					<img
						src="../static//img/about/about_profile.jpg"
						loading="lazy"
						alt="Yoganka portret" />
				</aside>
				<h2 class="about__heading">CZEŚĆ! Tu YOGANKA !</h2>
				<aside class="about__ryt">
					<img
						src="../static/img/about/about_ryt.jpg"
						loading="lazy"
						alt="Autoryzowany nauczyciel jogi" />
				</aside>
				<aside class="about__alliance">
					<img
						src="../static/img/about/about_YA-Logo.jpg"
						loading="lazy"
						alt="Logo federacji jogi" />
				</aside>
				<h3 class="about__greeting">Cieszę się, że tu jesteś. Rozgość się.</h3>
				<p class="about__description">
					Jestem nauczycielką w nurcie vinyasa oraz hatha. Moje zajęcia najczęściej
					prowadzę w rytmie slow flow vinyasa. Moje ciało często woła o relaks, stąd
					przekonanie również do jogi yin. Pierwszy raz stanęłam na macie 18 lat temu. W
					jodze najpiękniejsze są powroty.
				</p>
			</section>
			<section class="offer">
				<header class="sectionHeader">
					Pokuś się na...
					<hr class="lineShadow" />
				</header>
				<article
					class="offerType"
					id="wyjazdy">
					<header class="offerType_header">Wyjazdy</header>
				</article>
				<article
					class="offerType"
					id="zajecia">
					<header class="offerType_header">Zajęcia</header>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_individual.png"
							loading="lazy" />
						<h3>Indywidualne</h3>
						<p class="tile_desc">Ty, joga i ja...</p>
					</div>
					<div class="tile">
						<img
							src="../static/img/offer/offer_group.png"
							class="pic"
							loading="lazy" />
						<h3>Regularne - grupowe</h3>
						<p>Sieć ZdroFit</p>
					</div>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_sup.png"
							loading="lazy" />
						<h3>Joga na supach</h3>
						<p>
							Nie bój się zmoczyć... Extra mobilizacja mięśni głębokich i
							stabilizujących
						</p>
					</div>
				</article>

				<article class="offerType events">
					<header class="offerType_header">Wydarzenia</header>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/events_gongi.png"
							loading="lazy" />
						<h3>YOGA & SOUND</h3>
						<p>Moon Ceremony</p>
					</div>
				</article>
			</section>
			<section class="certificates">
				<header class="sectionHeader">Certyfikaty</header>
				<article class="certificates_gallery">
					<div class="tile">
						<img
							class="pic"
							src="../static/img/about/about_ryt.jpg"
							loading="lazy" />
						<h3><strong class="certificate-name">RYT200 Bali</strong></h3>
						<p class="certificate-school">House of OM</p>
						<p class="certificate-duration">200h</p>
						<p><strong class="certificate-type">Vinyasa & Hatha</strong></p>
					</div>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_individual.png"
							loading="lazy" />
						<h3><strong class="certificate-name">Instruktor Hatha Jogi</strong></h3>
						<p class="certificate-school">prof. Szopa</p>
						<p class="certificate-duration">150h</p>
						<p><strong class="certificate-type">Hatha</strong></p>
					</div>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_individual.png"
							loading="lazy" />
						<h3>
							<strong class="certificate-name">Warsztat pozycji odwróconych</strong>
						</h3>
						<p class="certificate-school">Joga Park</p>
						<p class="certificate-duration">15h</p>
						<p><strong class="certificate-type"></strong></p>
					</div>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_individual.png"
							loading="lazy" />
						<h3>
							<strong class="certificate-name">Warsztat sekwencji</strong>
						</h3>
						<p class="certificate-school">Daga Joga</p>
						<p class="certificate-duration">15h</p>
						<p><strong class="certificate-type">Sequences</strong></p>
					</div>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_individual.png"
							loading="lazy" />
						<h3>
							<strong class="certificate-name">Asana stabilna i wygodna</strong>
						</h3>
						<p class="certificate-school">SMU YOGA</p>
						<p class="certificate-duration">15h</p>
						<p><strong class="certificate-type">Asana</strong></p>
					</div>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_individual.png"
							loading="lazy" />
						<h3>
							<strong class="certificate-name">Mobility & Flexibility</strong>
						</h3>
						<p class="certificate-school">Bartosz Kuc</p>
						<p class="certificate-duration">16h</p>
						<p><strong class="certificate-type">Health</strong></p>
					</div>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_individual.png"
							loading="lazy" />
						<h3>
							<strong class="certificate-name">Warsztaty jogowe</strong>
						</h3>
						<p class="certificate-school">Dominika Płachecka</p>
						<p class="certificate-duration">15h</p>
					</div>
					<div class="tile">
						<img
							class="pic"
							src="../static/img/offer/offer_individual.png"
							loading="lazy" />
						<h3>
							<strong class="certificate-name">Neuro Joga</strong>
						</h3>
						<p class="certificate-school">Celest Pereira</p>
						<p class="certificate-duration">15h</p>
						<p><strong class="certificate-type">Neuro Joga</strong></p>
					</div>
				</article>
			</section>
			<section class="partners">
				<header class="sectionHeader">Współpraca</header>
				<div class="gallery-slide">
					<article class="partners_gallery">
						<a
							href="https://yogaflowstore.com/en-eu?gad_source=1&gclid=Cj0KCQjwurS3BhCGARIsADdUH52FjieGjwXbKaEMKMfHIj4G78MbPQm2sE_f_YZtq9rpTKma750xQDUaAmaiEALw_wcB"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_yoga_flow.png"
								loading="lazy" />
						</a>
						<a
							href="https://www.klekotki.com.pl/pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_klekotki_spa.png"
								loading="lazy" />
						</a>
						<a
							href="http://aioli.com.pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_aioli.png"
								loading="lazy" />
						</a>
						<a
							href="https://www.facebook.com/ToMyKawiarniaGdansk"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_tomy_gdansk.png"
								loading="lazy" />
						</a>
						<a
							href="https://yachtclubpremier.pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_yacht.png"
								loading="lazy" />
						</a>
						<a
							href="https://natuhandmade.pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_natu_handmade.png"
								loading="lazy" />
						</a>
						<a
							href="https://yogaalliance.org/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_yoga_aliance.png"
								loading="lazy" />
						</a>
						<a
							href="https://misyoga.pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_mis_yoga.png"
								loading="lazy" />
						</a>
					</article>
					<article class="partners_gallery">
						<a
							href="https://yogaflowstore.com/en-eu?gad_source=1&gclid=Cj0KCQjwurS3BhCGARIsADdUH52FjieGjwXbKaEMKMfHIj4G78MbPQm2sE_f_YZtq9rpTKma750xQDUaAmaiEALw_wcB"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_yoga_flow.png"
								loading="lazy" />
						</a>
						<a
							href="https://www.klekotki.com.pl/pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_klekotki_spa.png"
								loading="lazy" />
						</a>
						<a
							href="http://aioli.com.pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_aioli.png"
								loading="lazy" />
						</a>
						<a
							href="https://www.facebook.com/ToMyKawiarniaGdansk"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_tomy_gdansk.png"
								loading="lazy" />
						</a>
						<a
							href="https://yachtclubpremier.pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_yacht.png"
								loading="lazy" />
						</a>
						<a
							href="https://natuhandmade.pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_natu_handmade.png"
								loading="lazy" />
						</a>
						<a
							href="https://yogaalliance.org/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_yoga_aliance.png"
								loading="lazy" />
						</a>
						<a
							href="https://misyoga.pl/"
							target="_blank">
							<img
								src="../static/img/partners/partners_logo_mis_yoga.png"
								loading="lazy" />
						</a>
					</article>
				</div>
			</section>
			<footer class="footer">
				<div class="logo">Logo</div>
				<div class="company-details">
					<p>Gdańsk, Polska</p>
					<a href="tel:+48792891607">+48 792 891 607</a>
					<a href="mailto:aniamadejsza@gmail.com">aniamadejsza@gmail.com</a>
					<p>NIP 777777777777</p>
				</div>
				<div class="socials">
					<a
						href="https://www.instagram.com/yoganka_bodyhealing/"
						target="_blank"
						title="Instagram Fanpage">
						<div class="social">
							<i class="fa-brands fa-instagram"></i>
							<div class="qr">
								<img src="../static/qrinsta.png" />
							</div>
						</div>
					</a>
					<a
						href="https://www.facebook.com/profile.php?id=100094192084948"
						target="_blank"
						title="Facebook Fanpage">
						<div class="social">
							<i class="fa-brands fa-square-facebook"></i>
							<div class="qr">
								<img src="../static/qrfb.png" />
							</div>
						</div>
					</a>
					<a
						href="#"
						id="whatsapp-contact"
						target="_blank"
						title="Napisz!">
						<div class="social">
							<div class="whatsapp">
								<i class="fab fa-whatsapp"></i>
								<div class="qr">
									<img src="../static/qrwa.png" />
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="legal">Regulamin | Polityka prywatności</div>
				<div class="credit">
					<a
						href="https://bit.ly/MaciejMadejszaProjects"
						target="_blank"
						title="Developer's Contact">
						<div class="credits">&copy Maciej Madejsza</div>
					</a>
				</div>
				<div class="pop-ups">
					<a
						class="ml-onclick-form pop-up-btn"
						href="javascript:void(0)"
						onclick="ml('show', 'jiW5Nb', true)"
						><i class="fas fa-gift"></i
					></a>
					<a
						class="pop-up-btn cookies"
						href="#"
						><i class="fas fa-cookie-bite"></i>
						<div class="cookie-pop-up">
							<div class="cookie-msg">Używamy tylko niezbędnych plików cookie.</div>
							<div class="cookie-x"><i class="fas fa-times"></i></div></div
					></a>
				</div>
			</footer>
			<!-- Scripts -->
			<script
				src="https://kit.fontawesome.com/4622d99ad4.js"
				crossorigin="anonymous"></script>
			<script
				type="application/javascript"
				src="../services/app.js"></script>
		</div>
	</body>
</html>
