* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	color: var(--color5);
	font-size: 10px;
	--loginStatus: block;
	--iconPosition: -3.5rem;
	--bRadius: 15px;

	--itemBcg: rgba(177, 226, 232, 0.85);
	--navBcg: rgba(252, 251, 236, 0.85);
	--bcgColor: var(--color1);
	--mainTekstColor: var(--color1);
	--headerColor: var(--color2);
	--iconsColor: var(--color7);
	--color0: rgb(177, 226, 232);
	--color1: rgb(252, 251, 236);
	--color2: rgb(160, 214, 212);
	--color8: rgb(249, 245, 240);
	--color3: rgb(179, 229, 252);
	--color4: rgb(249, 231, 159);
	--color5: #003366;
	--color6: #012b54;
	--color7: rgb(255, 182, 0);
	--shadowAlpha1: 0.3;
	--shadowAlpha2: 0.22;
	--shadowColor1: var(--color0);
	--shadowColor2: var(--color3);
	--transitiveBoxShadow: var(--color0) 0px -50px 36px -28px inset;
	--boxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--sectionShadow: rgba(0, 0, 0, 0.35) 0px 8px 52px -19px inset;
}

body {
	margin: 0 auto;
	min-height: 300vh;
	max-width: 360px;
	background-color: whitesmoke;
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	text-align: center;
}
section:not(:first-of-type),
nav {
	padding: 0 1rem 2rem;
	box-shadow: var(--sectionShadow);
}
.topImageHeader {
	text-transform: uppercase;
}
.topImageHeader > header {
	max-width: 640px;
	margin: 0 auto;
	position: relative;
	height: 600px;
	background-image: url(../header_576.jpg);
	background-attachment: fixed;
	background-position: top left -21vw;
	background-repeat: no-repeat;
	background-size: auto 600px;

	box-shadow: var(--transitiveBoxShadow);
}
.titleBar {
	position: absolute;
	top: 15%;
	width: 100%;
	max-height: 8rem;
	padding: 0.5rem 1rem;
	background-color: var(--itemBcg);
	font-family: 'Gravitas One', serif;
	font-size: 2rem;
	letter-spacing: 2px;
	color: var(--mainTekstColor);
	box-shadow: var(--activeBoxShadow);
}
.titleBar > .headerSubtitle {
	text-transform: none;
	font-family: 'Caveat', cursive;
	font-weight: lighter;
	text-align: left;
	font-size: 3rem;
	line-height: 3rem;
}
.headerMotto {
	margin-top: -10px;
	padding: 0.5rem;
	background-color: var(--color0);
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 10rem;
	color: var(--color1);
	text-align: center;
}
.burger {
	top: 3rem;
	right: 3rem;
	width: 30px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	position: fixed;
	z-index: 1;
}
.bar {
	width: 100%;
	height: 4px;
	background-color: var(--iconsColor);
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
}
/* Initial state */
.top-bar {
	transform-origin: center;
}
.bottom-bar {
	transform-origin: center;
}
/* Active state */
.burger.active .top-bar {
	transform: translateY(calc(25px / 2 - 4px / 2)) rotate(45deg);
}
.burger.active .middle-bar {
	transform: translateX(-100%);
	opacity: 0;
}
.burger.active .bottom-bar {
	transform: translateY(calc(-25px / 2 + 4px / 2)) rotate(-45deg);
}
.burger.active + .nav {
	left: 0;
}
.nav {
	width: 70%;
	height: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	background-color: var(--navBcg);
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: var(--activeBoxShadow);
	border-top-right-radius: var(--bRadius);
	border-bottom-right-radius: var(--bRadius);
	z-index: 2;
	transition: all 0.5s ease-in-out;
}
.logo {
	width: 50%;
	height: 6rem;
	margin: 1rem 2rem;
	text-align: center;
	border: 1px solid black;
	z-index: 1;
}
.topImageHeader > .logo {
	top: 1rem;
	left: 0;
	position: absolute;
}
.nav .x {
	position: absolute;
	top: 2rem;
	right: 1rem;
}
.nav ul {
	margin: 0 0 0 auto;
	display: flex;
	flex-direction: column;
	list-style: none;
}
.nav ul li {
	position: relative;
	min-width: 50px;
	text-align: left;
	overflow: hidden;
}
.nav ul li:nth-of-type(1) {
	margin-top: 3rem;
}
a {
	display: block;
	cursor: pointer;
	height: 6rem;
	margin: 0 2rem;
	line-height: 6rem;
	font-size: 2rem;
	text-decoration: none;
	color: var(--color5);
}
.nav a::after {
	content: '';
	width: calc(100% - var(--iconPosition));
	height: 3px;
	position: absolute;
	left: calc(-100% + var(--iconPosition));
	bottom: 0;
	background-color: var(--defaultColor);
	transition: 0.2s ease-in-out;
	z-index: 1;
}
.nav ul i {
	width: 28.5px;
	display: inline-block;
	margin-right: 1.5rem;
	left: var(--iconPosition);
	/* vertical-align: 2px; */
	color: var(--iconsColor);
	font-size: 2.2rem;
}
a:hover,
li:hover {
	color: var(--defaultColor);
}
.nav a:hover:not(.active)::after {
	left: 0;
}
.sectionHeader {
	line-height: 6rem;
	padding: 1rem 0.5rem;
	font-size: 3rem;
	text-transform: uppercase;
}
.about {
	font-size: 1.5rem;
	background-color: var(--color8);
}
.about img {
	display: block;
	width: 100%;
	max-width: 640px;
	height: auto;
	box-shadow: var(--boxShadow);
}
.about aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about aside ~ aside img {
	display: block;
	max-width: 50vw;
	margin: 1.8rem;
}
.about aside ~ aside img:last-child {
	box-shadow: none;
}
.about h2 {
	margin: 2.8rem 0 1rem 0;
	font-size: 2.2rem;
	font-weight: 500;
}
.about h3 {
	margin: 1rem 0;
	font-size: 1.8rem;
	font-weight: 500;
}
.partners {
	background-color: var(--color2);
}
.partners img {
	display: block;
	width: 40vw;
	max-height: 40vw;
	filter: grayscale(1);
}
.partners .partners_gallery {
	display: grid;
	grid-template-columns: minmax(auto, 40vw) minmax(auto, 40vw);
	grid-auto-rows: minmax(auto, 40vw);
	place-content: center;
	place-items: center;
	grid-gap: 1rem;
}
.partners .partners_gallery img {
	max-width: 100%;
}

button {
	bottom: 15vh;
	right: 8rem;
	padding: 1rem 3rem;
	background-color: var(--itemBcg);
	color: white;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 3px solid white;
	border-radius: calc(var(--bRadius) / 2);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	overflow: hidden;
}
button:hover {
	color: var(--defaultColor);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: var(--activeBoxShadow);
}

input {
	outline: none;
	border: none;
	cursor: auto;
	background-color: whitesmoke;
}
