* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	color: var(--color5);
	font-size: 10px;
	--loginStatus: block;
	--iconPosition: -3.5rem;
	--bRadius: 20px;

	--itemBcg: rgba(0, 0, 0, 0.3);
	--navBcg: rgba(249, 231, 159, 0.65);
	--bcgColor: var(--color1);
	--mainTekstColor: var(--color5);
	--headerColor: var(--color2);
	--iconsColor: var(--color2);

	--color1: #f9f5f0;
	--color2: rgb(160, 214, 212);
	--color3: #b3e5fc;
	--color4: rgb(249, 231, 159);
	--color5: #003366;
	--color6: #012b54;
	--shadowAlpha1: 0.3;
	--shadowAlpha2: 0.22;
	--shadowColor1: var(--color5);
	--shadowColor2: var(--color6);
	--activeBoxShadow: var(--shadowColor1) 0px 19px 38px, var(--shadowColor2) 0px 15px 12px;
	--activeTxtShadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

body {
	min-height: 120vh;
	background-color: var(--color1);
}

.burger {
}

.nav {
	width: 70%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--navBcg);
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: var(--activeBoxShadow);
	border-top-right-radius: var(--bRadius);
	border-bottom-right-radius: var(--bRadius);
	z-index: 2;
}
.nav .x {
	position: absolute;
	top: 2rem;
	right: 1rem;
}

.nav ul {
	margin: 0 0 0 auto;
	display: flex;
	flex-direction: column;
	list-style: none;
}

.nav ul li {
	position: relative;
	min-width: 50px;
	text-align: left;
	overflow: hidden;
}
.nav ul li:nth-of-type(1) {
	margin-top: 5rem;
}

a {
	display: block;
	cursor: pointer;
	height: 6rem;
	margin: 0 2rem;
	line-height: 6rem;
	font-size: 2rem;
	text-decoration: none;
	color: var(--color5);
}

.nav a::after {
	content: '';
	width: calc(100% - var(--iconPosition));
	height: 3px;
	position: absolute;
	left: calc(-100% + var(--iconPosition));
	bottom: 0;
	background-color: var(--defaultColor);
	transition: 0.2s ease-in-out;
	z-index: 1;
}

.nav ul i {
	display: inline-block;
	margin-right: 1.5rem;
	left: var(--iconPosition);
	/* vertical-align: 2px; */
	color: var(--iconsColor);
	font-size: 2.2rem;
}

a:hover,
li:hover {
	color: var(--defaultColor);
}
.nav a:hover:not(.active)::after {
	left: 0;
}

header {
	max-width: 2560px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 5vh;
	min-height: 95vh;
	background-image: url(../IMG_8186.JPG);
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;

	border-bottom-left-radius: var(--bRadius);
	border-bottom-right-radius: var(--bRadius);
	box-shadow: var(--activeBoxShadow);
}
header > * {
	position: absolute;
}

header > h1,
header > h2 {
	top: 50%;
	padding: 1rem;
	background-color: var(--itemBcg);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 5rem;
	letter-spacing: 1px;
	color: var();
}
header > h2 {
	font-size: 2rem;
}
button {
	bottom: 15vh;
	right: 8rem;
	padding: 1rem 3rem;
	background-color: var(--itemBcg);
	color: white;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 3px solid white;
	border-radius: calc(var(--bRadius) / 2);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	overflow: hidden;
}
button:hover {
	color: var(--defaultColor);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: var(--activeBoxShadow);
}
section {
	max-width: 1560px;
	width: 65%;
	margin: 10vh auto 0;
}
section p {
	font-size: 1.8rem;
	text-align: center;
	line-height: 150%;
	text-indent: 2rem;
}

input {
	outline: none;
	border: none;
	cursor: auto;
	background-color: whitesmoke;
}
