* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--loginStatus: block;
	--iconPosition: -3.5rem;
	--bRadius: 15px;

	--itemBcg: rgba(177, 226, 232, 0.85);
	--navBcg: 252, 251, 236;
	--bcgColor: var(--color1);
	--mainTekstColor: var(--color1);
	--headerColor: var(--color2);
	--iconsColor: var(--color7);
	--test: 249, 231, 159;
	--color0: rgb(177, 226, 232);
	--color1: rgb(252, 251, 236);
	--color2: rgb(160, 214, 212);
	--color3: rgb(179, 229, 252);
	--color4: rgb(249, 231, 159);
	--color5: #003366;
	--color6: #012b54;
	--color7: rgb(255, 182, 0);
	--color8: #f9f5f0;
	--shadowAlpha1: 0.3;
	--shadowAlpha2: 0.22;
	--shadowColor1: var(--color0);
	--shadowColor2: var(--color3);
	--transitiveBoxShadow: var(--color0) 0px 25px 52px 78px;
	--sectionShadow: rgba(0, 0, 0, 0.35) 8px 52px -19px inset;
	--boxShadow: 2px 8px 10px rgba(149, 157, 165, 0.2);
	--activeTextIconsShadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	--headerImgSize: 460px;
	--headerSize: calc(var(--headerImgSize) + 8rem);

	font-family: 'EB Garamond', serif;
	font-weight: 400;
	font-size: 8.5px;
	text-align: center;
	color: var(--color5);
}

body {
	margin: 0 auto;
	background-color: whitesmoke;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
		'header header header header header '
		'about about about about about'
		'offer offer offer offer offer'
		'cert cert cert cert cert'
		'partners partners partners partners partners'
		'footer footer footer footer footer';
	hyphens: auto;
}
.stopScroll {
	overflow: hidden;
}
ul {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
}
body > section:not(:first-of-type),
nav,
footer {
	padding: 0 1rem 2rem;
	box-shadow: var(--sectionShadow);
}
body > section:nth-child(odd) {
	background-color: var(--color2);
}
body > section:nth-child(even) {
	background-color: var(--color8);
}
header {
	text-align: center;
}
.topImageHeader {
	grid-area: header;
	max-height: var(--headerSize);
	text-transform: uppercase;
	background-image: url(../img/_header_576.jpg);
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto var(--headerImgSize);
	overflow: hidden;

	display: grid;
	grid-template-columns: repeat(5, minmax(auto, 1fr));
	grid-template-rows: 6rem repeat(8, 1fr) 8rem;
	grid-template-areas:
		'logo logo logo . .'
		'title title title title title'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'motto motto motto motto motto';
}
.logo {
	grid-area: logo;
	place-self: center;

	width: 40vw;
	height: 10vw;
	max-height: 75px;
	line-height: 10vw;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: 600;
	border: 1px solid black;
}
nav > .logo {
	max-width: 80%;
}
.topImageHeader > header {
	grid-area: title;
	padding: 0.5rem 1rem;
	background-color: var(--itemBcg);
}
.titleBar {
	margin: 0 auto;
	width: max-content;
	font-family: 'Gravitas One', serif;
	font-size: 2rem;
	letter-spacing: 2px;
	text-align: left;
	color: var(--mainTekstColor);

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.titleBar > .headerSubtitle {
	text-transform: none;
	font-family: 'Caveat', cursive;
	font-weight: lighter;
	font-size: 3rem;
	line-height: 3rem;
}
.headerMotto {
	grid-area: motto;
	background-color: var(--color0);
	font-size: 1.7rem;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 8rem;
	color: var(--color1);
	overflow: visible;
	box-shadow: var(--transitiveBoxShadow);
}
.burger {
	top: 2rem;
	right: 2rem;
	width: 3.5rem;
	height: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	position: fixed;
	z-index: 4;
}
.bar {
	width: 100%;
	height: 4px;
	background-color: var(--iconsColor);
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
}
/* Initial state */
.top-bar {
	transform-origin: center;
}
.bottom-bar {
	transform-origin: center;
}
/* Active state */
.burger.active .top-bar {
	transform: translateY(calc(9px / 2 - 4px / 2)) rotate(45deg);
}
.burger.active .middle-bar {
	transform: translateX(-100%);
	opacity: 0;
}
.burger.active .bottom-bar {
	transform: translateY(calc(-15px / 2 + 4px / 2)) rotate(-45deg);
}
.burger.active + .nav {
	right: 0;
}

.nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: max-content;
	height: 100%;
	padding: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-top-left-radius: var(--bRadius);
	border-bottom-left-radius: var(--bRadius);
	box-shadow: var(--activeBoxShadow);
	background-color: rgba(var(--navBcg), 0.85);
	transition: all 0.5s ease-in-out;
	z-index: 2;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.nav ul {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.nav ul li {
	position: relative;
	min-width: 50px;
	text-align: left;
	overflow: hidden;
}
a {
	display: block;
	cursor: pointer;
	height: 6rem;
	/* margin: 0 2rem; */
	line-height: 6rem;
	font-size: 2.2rem;
	text-decoration: none;
	color: var(--color5);
}
.nav a::after {
	content: '';
	width: calc(100% - var(--iconPosition));
	height: 3px;
	position: absolute;
	left: calc(-100% + var(--iconPosition));
	bottom: 0;
	background-color: var(--defaultColor);
	transition: 0.2s ease-in-out;
	z-index: 1;
}
.nav ul i {
	width: 28.5px;
	display: inline-block;
	margin-right: 1.5rem;
	left: var(--iconPosition);
	/* vertical-align: 2px; */
	color: var(--iconsColor);
	font-size: 2.2rem;
}
a:hover,
li:hover {
	color: var(--defaultColor);
}
.nav a:hover:not(.active)::after {
	left: 0;
}
.sectionHeader {
	line-height: 6rem;
	padding: 1rem 0.5rem;
	font-size: 4rem;
	text-transform: uppercase;
}
.about {
	grid-area: about;
	font-size: 2rem;
	background-color: var(--color8);

	display: grid;
	grid-template-columns: minmax(300px, 1fr);
	grid-template-rows: repeat(7, auto);
	place-items: center;
	grid-template-areas:
		'header'
		'portrait'
		'h2'
		'ryt'
		'h3'
		'article'
		'alliance';
	gap: 1.5rem;
}
.about .sectionHeader {
	grid-area: header;
}
.about img {
	display: block;
	width: 100%;
	max-width: 640px;
	height: auto;
	box-shadow: var(--boxShadow);
}
.about aside {
	display: flex;
	justify-content: center;
	align-items: center;
}
.about_portrait {
	grid-area: portrait;
	margin: -1rem 0 1rem;
}
.about aside ~ aside img {
	display: block;
	max-width: 60vw;
}
.about .ryt {
	grid-area: ryt;
}
.about .alliance img {
	grid-area: alliance;
	box-shadow: none;
}
.about h2 {
	grid-area: h2;

	font-size: 2.5rem;
	font-weight: 500;
}
.about h3 {
	grid-area: h3;

	font-size: 2.3rem;
	font-weight: 500;
}
.about p {
	grid-area: article;
}

.offer {
	grid-area: offer;

	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
	grid-template-areas:
		'title title'
		'wyjazdy wyjazdy'
		'zajecia zajecia'
		'wydarzenia wydarzenia'
		'supy supy';
	justify-items: center;
	grid-gap: 0.5rem;
	overflow: visible;
}
.offer .sectionHeader {
	grid-area: title;
	position: relative;
	width: 100%;
}
.lineShadow {
	position: absolute;
	bottom: -1rem;
	left: -1rem;
	border: none;
	border-radius: var(--bRadius);
	height: 1px;
	background-color: transparent;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	width: 100vw;
	margin: 20px 0;
}
.offerType {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	grid-gap: 1.5rem;
}
.offerType#wyjazdy {
	grid-area: wyjazdy;
}
.offerType#zajecia {
	grid-area: zajecia;
}
.offerType#events {
	grid-area: supy;
}
.offerType.events {
	grid-area: wydarzenia;
}

.offerType#events,
.offerType.events {
	display: grid;
	grid-template-columns: minmax(300px, 1fr);
	grid-template-rows: 6rem;
}

.offerType_header {
	font-size: 3rem;
	line-height: 6rem;
	text-transform: uppercase;
}
.tile {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	padding: 1.5rem 1rem;
	background-color: rgba(252, 251, 236, 0.75);
	border-radius: var(--bRadius);
	overflow: hidden;
	box-shadow: var(--boxShadow);
}
.certificates .tile {
	box-shadow: none;
}

.tile .tile_desc {
	font-size: 1.8rem;
}
.tile .tile-ul {
	max-width: 60%;
	font-size: 1.7rem;
}

.pic {
	max-width: 80%;
	margin-bottom: 1.5rem;
	border-radius: var(--bRadius);
}
.tile h3 {
	font-size: 2.2rem;
	font-weight: 500;
}
.tile h4 {
	font-size: 1.9rem;
	font-weight: 400;
}

.modal {
	display: none;
	z-index: 2;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	width: 95vw;
	min-height: 500px;
	max-height: 85vh;
	overflow-y: auto;

	background-color: rgba(var(--navBcg), 0.95);
	border-radius: var(--bRadius);
	box-shadow: var(--activeTextIconsShadow);
	padding: 1.5rem 1rem;
}
.modal .close {
	position: sticky;
	top: 1rem;
	right: 1rem;
	z-index: 3;
}
.modal .close i {
	text-shadow: var(--activeTextIconsShadow);
}
.modal section {
	width: 100%;
	padding: 0;
}
.modal header {
	width: 80%;
}
.modal .modal_list {
	font-size: 2rem;
}

.modal_offer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2.5rem;
	place-items: center;
}

.modal_offer .modal_list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: start;
	flex-wrap: wrap;
	text-align: left;
	gap: 1rem;
}

.modal i {
	width: 2rem;
	margin-right: 3rem;
	text-align: center;
	color: var(--iconsColor);
}
.modal h3 i {
	margin-right: 2rem;
}
.modal section:not(:nth-of-type(1)) h3 i {
	font-size: 2rem;
	margin: 0;
}
.modal li i {
	font-size: 2.2rem;
}
.at-glance .modal_answer {
	font-size: 2.5rem;
}
.modal_answer span.price {
	font-size: 2.6rem;
	color: #6b8e23;
}
.modal_desc {
	text-align: left;
}
.modal .modal_h3 {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 1.5rem;
}
.modal .modal_h3 {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 1.5rem;
}
.modal_desc h4 {
	font-size: 2.2rem;
	text-align: center;
	text-decoration: underline;
	margin: 1rem 0;
}

.modal footer {
	padding-bottom: 0;
	max-width: 430px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	justify-items: center;
	align-content: space-between;
	flex-flow: row wrap;
	gap: 1rem;
}

.modal footer a {
	display: block;
	height: 5rem;
	padding: 0.5rem 1rem;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	line-height: 4rem;
	text-transform: uppercase;
	border: 2px solid white;
	border-radius: calc(var(--bRadius) / 2);
	box-shadow: var(--activeTextIconsShadow);
	background-color: var(--itemBcg);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	overflow: hidden;
}
.modal footer a:last-child {
	position: relative;
	padding: 0;
	margin: 0 4rem;
	min-width: 4rem;
	height: 4rem;
	font-size: 3rem;
}

.modal footer a:last-child i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
}
.modal footer a:hover {
	color: var(--defaultColor);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: var(--boxShadow);
}

.certificates {
	grid-area: cert;
}
.certificates .certificates_gallery {
	background-color: rgba(var(--test), 0.4);
	border-radius: var(--bRadius);
	padding: 1.5rem 1rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
	grid-auto-flow: dense;
	grid-gap: 1.5rem;
	place-content: center;
	justify-items: center;
}

.certificates .tile {
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	align-items: center;

	width: 100%;
	/* min-height: 300px; */
	padding: 1.5rem 1rem;
	background-color: rgba(252, 251, 236, 0.75);
	border-radius: var(--bRadius);
	overflow: hidden;
}
.tile p {
	font-size: 1.9rem;
}
.tile .certificate-type {
	font-weight: 600;
}
.certificates .img {
	display: block;
	max-width: 80%;
	max-height: 100%;
}

.partners {
	grid-area: partners;
}
.partners img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	filter: grayscale(1);
}
.partners .partners_gallery {
	background-color: rgba(160, 214, 212, 0.4);
	border-radius: var(--bRadius);
	padding: 1.5rem 1rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
	place-content: center;
	place-items: center;
	grid-gap: 1rem;
}
.partners_gallery div {
	aspect-ratio: 1 /1;
	display: flex;
	justify-content: center;
	align-items: center;
}

body > footer {
	grid-area: footer;
	min-height: 300px;
	padding: 1rem 1rem 2rem;
	background-color: var(--color2);
	font-size: 1.7rem;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
}

.footer a {
	height: auto;
	color: white;
	font-size: 1.5rem;
	text-decoration: underline;
}
.footer .company-details a {
	font-size: 2.2rem;
	line-height: 150%;
	text-shadow: var(--activeTextIconsShadow);
}
.footer .socials {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 3rem;
}

.footer .socials a {
	font-size: 2.4rem;
	color: rgba(var(--navBcg), 0.85);
	text-shadow: var(--activeTextIconsShadow);
}
.footer .legal {
	font-size: 1.9rem;
}

input {
	outline: none;
	border: none;
	cursor: auto;
	background-color: whitesmoke;
}
.active {
	display: block;
}
.hidden {
	display: none;
}

@media (min-width: 360px) {
	html {
		--headerImgSize: 500px;
		font-size: 10px;
	}
	.offer {
		grid-gap: 1.5rem;
	}
	.headerMotto {
		letter-spacing: 0px;
	}
	.partners .partners_gallery {
		grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
	}
	.footer .legal {
		font-size: 1.8rem;
	}
}
@media (min-width: 480px) {
	html {
		--headerImgSize: 640px;
		font-size: 12px;
	}
	.titleBar {
		font-size: 2.3rem;
	}
	.headerMotto {
		letter-spacing: 1px;
	}
	.modal footer {
		/* max-width: 75%; */
	}
	.footer .socials {
		gap: 4rem;
	}
	.footer .socials a {
		font-size: 3rem;
	}
}
@media (min-width: 640px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	html {
		--headerImgSize: 800px;
		font-size: 13px;
	}
	body > section:not(:first-of-type),
	nav,
	footer {
		padding: 0 2rem 2rem;
	}
	nav .logo {
		max-width: 310px;
	}
	.about {
		grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
		grid-template-areas:
			'header header'
			'portrait portrait'
			'h2 h2'
			'h3 h3'
			'article article'
			'ryt alliance';
	}
	.about_portrait {
		max-width: 70%;
	}
	.about aside ~ aside img {
		max-width: 80%;
		object-fit: contain;
	}
	.sectionHeader,
	.offerType_header {
		grid-column: 1 /-1;
	}
	.offerType#events,
	.offerType.events {
		display: grid;
		grid-template-columns: minmax(300px, 400px);
	}
	.modal_offer {
		gap: 2rem 1.5rem;
		grid-auto-flow: dense;
	}
	.modal i {
		margin-right: 1.5rem;
	}
	.modal .pic {
		grid-column: 1;
		margin: 0;
		place-self: center;
	}
	.modal header {
		width: 100%;
	}
	.modal_desc {
		grid-column: 1 /-1;
	}
	.modal_included,
	.modal_excluded,
	.modal_optional,
	.modal_free-time {
		align-self: self-start;
	}
	.modal_included {
		grid-column: 1;
		grid-row: span 2;
	}
	.modal_free-time {
		justify-self: center;
		grid-row: 5;
		grid-column: 1 / -1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.modal footer {
		grid-column: 1 /-1;
		grid-row: 6;
		/* max-width: 75%; */
	}
	.certificates .certificates_gallery {
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	}
	.footer .socials a {
		font-size: 4rem;
	}
}
@media (min-width: 800px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	html {
		--headerImgSize: 1080px;
		font-size: 15px;
	}
	.titleBar {
		height: 11rem;
		font-size: 3rem;
		letter-spacing: 3px;
	}
	.headerMotto {
		font-size: 2.5rem;
	}
	.about {
		gap: 2.5rem 1.5rem;
	}
	.offer {
		grid-template-areas:
			'title title'
			'wyjazdy wyjazdy'
			'zajecia zajecia'
			'wydarzenia supy';
	}
	.offerType {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
	.offerType#events,
	.offerType.events {
		display: grid;
		grid-template-columns: minmax(300px, 1fr);
	}
	.modal .pic {
		grid-column: 1 /3;
		grid-row: 1;
		min-width: 400px;
	}
	.modal_offer .modal_list.at-glance {
		width: max-content;
		margin-left: -2rem;
	}
	.modal .modal_free-time {
		grid-column: span 2;
		grid-row: auto;
	}
	.certificates .certificates_gallery {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
	.footer {
		flex-flow: row wrap;
		justify-content: space-evenly;
		row-gap: 2rem;
	}
	.footer .logo {
		flex-basis: 100%;
	}
	.footer .legal,
	.footer .credit {
		flex-basis: 100%;
	}
	.footer .credit a {
		line-height: 100%;
	}
}
@media (min-width: 1024px) {
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1280px) {
	/* hi-res laptops and desktops */
}
