@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@use '../../utils/' as *;

.backend-content-wrapper {
  max-height: 100%;

  // grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  // grid-template-rows: auto auto auto auto auto 1fr auto;

  .modal-table {
    table-layout: auto;
    max-width: 100%;

    td {
      max-width: 700px;
    }

    .cell-content-wrapper {
      max-height: 200px;
      max-width: 100%;
      overflow: hidden;
    }
  }
}

body:has(.backend-content-wrapper) {
  .modal.visible {
    width: 98vw;
    max-width: 1200px;
    overflow: auto;
  }
}

@include respond-to(mobile-l) {
  .backend-content-wrapper {
    margin-top: -8rem;
  }
}
