@use '../../utils/' as *;
@use 'sass:color';
@use 'sass:map';

.cards-container {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 7rem;

  @include flex(column, center);
  gap: 2rem;

  .card {
    width: 100%;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 12.5% 12.5% 1fr 12.5% 12.5%;
    grid-template-areas:
      'dateTime dateTime modifier . . . . . id'
      'dateTime dateTime name name name name name name name'
      'dateTime dateTime desc desc desc desc desc circle circle'
      'dateTime dateTime desc desc desc desc desc circle circle '
      'dateTime dateTime footer footer footer footer footer footer footer';
    background-color: rgba(map.get($colors, tile), 0.8);
    border: 1px solid rgba(map.get($colors, nav), 0.3);
    border-radius: map.get($sizes, border-radius);
    box-shadow: map.get($shadows, tile-shadow);
    transition: map.get($behavior, base-transition);

    // place-self: center;
    $big-width: 100%;
    $circle-height: calc($big-width);
    $title-size: 1.6rem;
    $timing-size: 1.6rem;
    $secondary-size: 1.4rem;
    $safety-padding: 0.4rem;
    $dimmed-color: map.get($colors, tile-text-muted);
    $heavily-dimmed-color: map.get($colors, nav-muted);

    > * {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: $safety-padding;
      margin: 0;
    }

    &:nth-child(2n) {
      background-color: rgba(map.get($colors, nav), 0.5);
    }

    &.active {
      cursor: pointer;
      box-shadow: map.get($shadows, tile-shadow);
      border: none;

      &:hover {
        transform: scale(1.05) translateY(0.5rem);
      }
    }

    .nav__icon {
      color: map.get($colors, accent-bcg);
      font-size: 2rem;

      &--secondary {
        color: map.get($colors, nav-muted);
      }
    }

    &__single-content {
      &--secondary {
        font-size: $secondary-size;
        color: $heavily-dimmed-color;
      }
    }

    &__date {
      grid-area: dateTime;
      width: $big-width;
      height: 100%;
      font-weight: 500;
      color: $heavily-dimmed-color;
      place-self: center;

      @include flex(column, center, center);
      gap: 1rem;

      > * {
        width: 100%;
      }

      &--day-name {
        font-size: calc(0.9 * $title-size);
        color: $dimmed-color;
      }

      &--day {
        font-size: calc(2 * $title-size);
        color: map.get($colors, accent-bcg);
      }

      &--year {
        font-size: calc(0.7 * $title-size);
      }
    }

    &__modifier {
      grid-area: modifier;
      font-weight: 500;
      color: $heavily-dimmed-color;
      font-size: $secondary-size;
    }

    &__id {
      grid-area: id;
      color: $heavily-dimmed-color;
      font-size: $secondary-size;
    }

    &__title {
      grid-area: name;
      font-weight: bold;
      font-size: $title-size;
    }

    &__status-circle {
      grid-area: circle;
      font-size: $timing-size;
      margin: 0 auto;
      width: $big-width;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: red;

      justify-content: center;
      display: grid;
      place-items: center;
    }

    &__desc {
      grid-area: desc;

      font-size: $timing-size;
    }

    &__footer {
      grid-area: footer;
      color: map.get($colors, $dimmed-color);
      font-size: $secondary-size;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
