@use '../../utils/' as *;
@use 'sass:map';

.feedback-box {
  position: relative;
  width: 95%;
  flex-basis: 95%;
  min-height: 8vh;
  margin: 3rem auto;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
  border-radius: map.get($sizes, border-radius);
  box-shadow: map.get($shadows, box-shadow);
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 2.5rem;

  &--error {
    color: #c62828;
    background-color: rgba(244, 67, 54, 0.25);
  }
  &--success {
    color: #2e7d32;
    background-color: rgba(76, 175, 80, 0.25);
  }
  &--neutral {
    color: map.get($colors, tile-title);
    background-color: rgba(map.get($colors, nav), 0.2);
  }
  &--small {
    margin-top: 1.5rem;
    min-height: 3rem;
  }
  &__title,
  &__warning {
    flex-basis: 100%;
  }

  &__close-btn {
    position: relative;
    top: 1rem;
    right: 1rem;
    font-size: 1.7rem !important;
    color: inherit;
    transition: map.get($behavior, base-transition);
    z-index: 9;

    flex-basis: 100%;
    @include flex(row, flex-end, center, 1rem);

    &:hover {
      cursor: pointer;
      transform: scale(1.01) translateY(0.1rem);
      text-shadow: map.get($shadows, active-text-icons-shadow);
      text-shadow: $active-box-shadow;
    }

    .feedback-box__x {
      font-weight: bold;
    }
  }
}

.generic-details {
  .feedback-box {
    flex-basis: auto;
    min-height: auto;
    margin: 1rem 0;
    padding: 1rem;
  }
}

@include respond-to(desktop-xs) {
  .feedback-box {
    width: 80%;
    flex-basis: 80%;

    &__close-btn {
      top: 0.5rem;
      right: 1rem;
    }
  }
}
