@use '../../utils/' as *;
@use 'sass:map';

.feedback-box {
  width: 80%;
  flex-basis: 80%;
  min-height: 8vh;
  margin: 3rem auto;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: map.get($sizes, border-radius);
  box-shadow: map.get($shadows, box-shadow);
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 1.5rem;

  &--error {
    color: #c62828;
    background-color: rgba(244, 67, 54, 0.25);
  }
  &--success {
    color: #2e7d32;
    background-color: rgba(76, 175, 80, 0.25);
  }
  &--neutral {
    color: map.get($colors, tile-title);
    background-color: rgba(map.get($colors, nav), 0.2);
  }
  &--small {
    margin-top: 1.5rem;
    min-height: 3rem;
  }
  &__title,
  &__warning {
    flex-basis: 100%;
  }
}

.generic-details {
  .feedback-box {
    flex-basis: auto;
    min-height: auto;
    margin: 1rem 0;
    padding: 1rem;
  }
}
