@use 'sass:map';
@use '../../utils/' as *;

$generic-list-vertical-padding: 2rem;

.generic-details {
  width: 100%;
  padding: $generic-list-vertical-padding 2rem;
  @include flex(column, flex-start, center);
  //   flex-wrap: wrap;
  gap: 1.5rem;

  &__title {
    // flex-basis: 100%;
    text-decoration: none;
  }

  &__list {
    align-self: center;
    width: 100%;
    min-width: 200px;
    @include flex(column);
    align-items: center !important;
    gap: 1rem;
  }

  &__item {
    width: 100%;
    @include flex(row, space-between, space-evenly);
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 2rem !important;
  }

  &__label {
    font-weight: 500;
    max-width: 48%;
  }

  &__content {
    width: max-content;
    color: map.get($colors, generic-list-content);
    @include flex(row, flex-end, center);

    &--notes {
      //   flex-basis: 100%;
      justify-content: center;
    }
  }
}

.generic-component-wrapper,
.generic-outer-wrapper {
  width: 100%;
  padding-bottom: $generic-list-vertical-padding;
  @include flex(row, center, space-evenly);
  flex-wrap: wrap;
  gap: 1.5rem;

  .modal__btn {
    margin: 0 $generic-list-vertical-padding;
    padding: 0 $generic-list-vertical-padding;
    flex-basis: auto;
  }
}
.generic-component-wrapper {
  @include flex(column, flex-start, center);
  align-content: center;
}

.dimmed {
  opacity: 0.6;
  text-shadow: none;
  &:hover {
    text-shadow: none;
  }
  &:not(.form-action-btn) {
    color: rgba(map.get($colors, accent-bcg), 0.5);
  }
}

@include respond-to(mobile-xs) {
  .generic-details {
    &__list {
      min-width: 300px;
    }

    &__label {
      max-width: 65%;
    }
  }
}

@include respond-to(mobile-m) {
  .generic-outer-wrapper {
    padding: 1.5rem;
  }
  .generic-outer-wrapper > * {
    flex-basis: 48%;
  }
  .generic-outer-wrapper > *:nth-last-child(1):nth-child(odd) {
    flex-basis: 65%;
  }

  .generic-component-wrapper:has(.generic-details--product-view) {
    flex-basis: 85%;
  }

  .generic-details {
    padding: $generic-list-vertical-padding 0rem;

    &__list {
      align-self: center !important;
      min-width: 300px;
    }

    &__list--customer-account-stats {
      width: 65%;
    }

    &__label {
      max-width: 70%;
    }

    &--product-view {
      flex-basis: 85%;
    }
  }
}

@include respond-to(mobile-mh) {
  .generic-outer-wrapper > :nth-child(3n + 1):last-child {
    flex-basis: 100%;
  }
  .generic-details {
    &__list--customer-account-stats {
      width: 45%;
    }
  }
}

@include respond-to(mobile-l) {
  .generic-outer-wrapper:has(.generic-details--product-view) {
    gap: 4rem;
  }

  .generic-outer-wrapper
    > *:not(
      .generic-details--payment-view,
      .generic-details--product-view,
      :has(.generic-details--product-view)
    ),
  .generic-outer-wrapper
    > *:nth-last-child(1):nth-child(odd):not(
      .generic-details--payment-view,
      .generic-details--product-view,
      :has(.generic-details--product-view)
    ) {
    flex-basis: 31%;
    flex-wrap: nowrap;
  }

  .generic-component-wrapper:has(.generic-details--product-view) {
    flex-basis: 45%;
  }

  .generic-details {
    &--product-view {
      flex-basis: 45%;
    }

    &__list {
      width: 40%;
    }

    &__list--product-view {
      width: 100%;
    }
  }
}

@include respond-to(desktop-xs) {
  .generic-outer-wrapper {
    gap: 2rem;
  }

  .generic-component-wrapper:has(.generic-details--product-view) {
    flex-basis: 45%;
  }

  .generic-details {
    &--product-view {
      flex-basis: 45%;
    }

    &__list {
      width: 90%;
    }

    &__list--customer-account-stats {
      width: 45%;
    }
  }
}
