@use 'sass:map';
@use 'sass:color';
@use '../../utils/' as *;

$generic-list-vertical-padding: 2rem;

.generic-details {
  width: 100%;
  padding: $generic-list-vertical-padding 2rem;
  @include flex(column, flex-start, center);
  //   flex-wrap: wrap;
  gap: 1.5rem;

  &__title {
    // flex-basis: 100%;
    text-decoration: none;
  }

  &__list {
    align-self: center;
    width: 90%;
    min-width: 200px;
    @include flex(column);
    gap: 1rem;
  }

  &__item {
    width: 100%;
    @include flex(row, space-between, space-evenly);
    flex-wrap: wrap;
    gap: 0.5rem 2rem !important;
  }

  &__label {
    font-weight: 500;
    max-width: 48%;
  }

  &__content {
    width: max-content;
    color: map.get($colors, generic-list-content);
    @include flex(row, flex-end, center);

    &--notes {
      //   flex-basis: 100%;
      justify-content: center;
    }
  }
}

.generic-component-wrapper,
.generic-outer-wrapper {
  width: 100%;
  padding-bottom: $generic-list-vertical-padding;
  @include flex(row, center, space-evenly);
  flex-wrap: wrap;
  gap: 1.5rem;

  .modal__btn {
    margin: 0 $generic-list-vertical-padding;
    // flex-basis: 100%;
  }
}
.generic-component-wrapper {
  @include flex(column, flex-start, center);
  align-content: center;
}

.dimmed {
  opacity: 0.6;
  text-shadow: none;
  &:hover {
    text-shadow: none;
  }
  &:not(.form-action-btn) {
    color: rgba(map.get($colors, accent-bcg), 0.5);
  }
}

@include respond-to(mobile-xs) {
  .generic-details {
    &__list {
      min-width: 300px;
    }

    &__label {
      max-width: 65%;
    }
  }
}

@include respond-to(mobile-m) {
  .generic-outer-wrapper > * {
    flex-basis: 48%;
  }
  .generic-outer-wrapper > *:nth-last-child(1):nth-child(odd) {
    flex-basis: 100%;
  }

  .generic-details {
    padding: $generic-list-vertical-padding 0rem;
    &__list {
      align-self: center !important;
      min-width: 300px;
    }
    &__label {
      max-width: 70%;
    }
  }
}

@include respond-to(mobile-l) {
  //   .generic-component-wrapper {
  //     @include flex(row, center, space-evenly);
  //     flex-wrap: wrap;
  //     gap: 1.5rem;

  //     > * {
  //       flex-basis: 100%;
  //     }

  //     .modal__btn {
  //       flex-basis: 100%;
  //     }
  //   }

  //   .generic-details {
  //     &__list {
  //       min-width: 300px;
  //     }

  //     &__label {
  //       max-width: 45%;
  //     }

  //     &__content {
  //       min-width: 48%;

  //       &--settings {
  //         min-width: 15%;
  //       }
  //     }
  //   }
}
