@use 'sass:map';
@use '../../utils/' as *;

.login-box {
  grid-column: 1/-1;
  place-self: center;
  width: 50vw;
  min-width: 300px;
  max-width: 550px;
  min-height: 400px;
  margin: 8rem 0;
  padding: 2%;
  border-radius: map.get($sizes, border-radius);
  background-color: rgba(map.get($colors, nav), 0.5);
  box-shadow: map.get($shadows, tile-shadow);

  @include flex(column, space-evenly, center);
  gap: 2.5rem;

  //   .login-page {
  //     &__question-block {
  //       align-self: center;
  //       line-height: 3rem;
  //       font-size: 1.8rem;
  //       @include flex(row, space-evenly, center);
  //     }

  //     &.active {
  //       opacity: 1;
  //     }
  //   }

  button {
    &:nth-of-type(1) {
      margin-top: 2rem;
    }
  }
}

.control-error {
  margin-top: 1.5rem;
  line-height: 150%;
  font-size: 1.5rem;
  text-align: left;
  @include flex(column);
  opacity: 0.6;

  span {
    &:last-of-type {
      align-self: flex-start;
    }
    font-size: 1.8rem;
  }

  &__msg {
    @include flex(row, flex-start, center);
    gap: 1rem;

    &.msg-error {
      color: #e25822;
    }
    &.msg-valid {
      color: green;
    }
  }
}

@include respond-to(mobile-sh) {
  .login-box {
    width: auto;
  }
}

@include respond-to(mobile-m) {
  .login-box {
    padding: 2.5rem 4rem;
  }
}

@include respond-to(mobile-l) {
  .login-box {
    margin: 15rem 0;
  }
}
