@use '../../utils/' as *;
@use 'sass:map';

.form {
  @include flex(column, center, center);
  gap: 1.5rem;
  max-width: 600px;
}

.action-btns {
  flex-basis: 10%;
  height: 100%;
  @include flex(row, center, center);
  gap: 1.5rem;
}

.symbol-only-btn {
  @include flex(row, center, center);
  cursor: pointer;
  height: 3rem;
  width: min-content;
  border: none;
  transition: map.get($behavior, base-transition);

  &:hover {
    text-shadow: map.get($shadows, active-text-icons-shadow);
  }

  &--submit:not(:has(.black)) {
    color: map.get($colors, accent-bcg);
  }

  & .nav__icon {
    font-size: 3rem;

    &.black {
      color: map.get($colors, nav-muted);
    }
  }

  .generic-details__title & .nav__icon {
    font-size: 4rem;
  }

  // THIS ONE IS IN FLOATING BTNS COMPONENT (TO BE MOVED)
  &--floating {
    height: auto;
    color: map.get($colors, accent-bcg);
    border-radius: 50%;
    background-color: rgba(map.get($colors, nav), 0.5);
    box-shadow: map.get($shadows, tile-shadow);

    &:hover {
      transform: scale(1.1);
    }

    .nav__icon {
      font-size: 4.5rem;
      margin: 1rem;
      margin-bottom: 1rem;
    }
  }
}
