@use '../../utils/' as *;
@use 'sass:map';

.form {
  @include flex(column, center, center);
  gap: 1.5rem;
  max-width: 600px;
}

.action-btns {
  flex-basis: 10%;
  height: 100%;
  @include flex(row, center, center);
  gap: 1.5rem;
}
