@font-face {
	font-family: 'yoganka2';
	src: url('/fonts/BLUDHAVEN.ttf') format('truetype');
}
@font-face {
	font-family: 'bh';
	src: url('/fonts/Beauty-Swing.otf') format('truetype');
}
@font-face {
	font-family: 'by Yoganka';
	src: url('/fonts/PrimaSansBT-Roman.otf') format('truetype');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
/*! COMMON BLOCKS */
html {
	--iconPosition: -3.5rem;
	--bRadius: 25px;
	--sectionPaddingY: 1rem;

	--base: #fff8f4;
	--baseForRGBA: 255, 248, 244;
	--baseText: #1e1b18;
	--tile: #f5ece5;
	--tileForRGBA: 245, 236, 230;
	/* --tileTitle: #4d3410; */
	--tileTitle: #805346;
	/* --tileTitle: #825445; */
	--tileText: #1e1b18;
	--tileTextMuted: #4e453b;
	--accentBackground: #1c7993;
	--accentBackgroundForRGBA: 28, 121, 147;
	--accentText: #ffffff;
	--nav: #f6e0c8;
	--navForRGBA: 246, 224, 200;

	--transitiveBoxShadow: var(--base) 0px 25px 52px 78px;
	--sectionShadow: rgba(0, 0, 0, 0.35) 8px 52px -19px inset;
	--tileShadow: var(--activeBoxShadow), rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	--boxShadow: 2px 8px 10px rgba(149, 157, 165, 0.2);
	--activeBoxShadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	--activeTextIconsShadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	--headerImgSize: 460px;
	--baseTransition: 0.4s ease-in-out;
	--font-body-healing: 'bh';
	/* --font-by-yoganka: 'Caveat', cursive; */
	--font-by-yoganka: 'by Yoganka', Helvetica;

	scroll-behavior: smooth;
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	font-size: 8.5px;
	text-align: center;
	background-color: var(--base);
	color: var(--baseText);
}
body {
	margin: 0 auto;
}
ul {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
}
a {
	color: inherit;
	transition: var(--baseTransition);
}
.section-header {
	grid: 1 / -1;
	line-height: 6rem;
	padding: 1rem 0.5rem;
	font-size: 4rem;
	text-transform: uppercase;
	color: var(--tileTitle);
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-areas:
		'header header header header header '
		'about about about about about'
		'offer offer offer offer offer'
		'cert cert cert cert cert'
		'partners partners partners partners partners'
		'footer footer footer footer footer';
	gap: 2.2rem 0;
	-webkit-overflow-scrolling: touch;
}
.stopScroll {
	overflow: hidden;
}
section:not(:first-of-type),
footer {
	padding: 0 var(--sectionPaddingY) 2rem;
	box-shadow: var(--sectionShadow);
}
/* section:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.02);
} */
* input {
	outline: none;
	border: none;
	cursor: auto;
	background-color: var(--base);
}
/*! COMMON BLOCKS END*/
/*! NAV */
.burger {
	top: 2rem;
	right: 2rem;
	width: 3.5rem;
	height: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	position: fixed;
	z-index: 7;
}
.burger__bar {
	width: 100%;
	height: 4px;
	background-color: var(--accentBackground);
	transition: var(--baseTransition);
	border-radius: 2px;
}
/* Initial state */
.burger__bar--top {
	transform-origin: center;
}
.burger__bar--bottom {
	transform-origin: center;
}
/* Active state */
.burger.active .burger__bar--top {
	transform: translateY(calc(10px / 2 - -10px / 2)) rotate(45deg);
}
.burger.active .burger__bar--middle {
	transform: translateX(-100%);
	opacity: 0;
}
.burger.active .burger__bar--bottom {
	transform: translateY(calc(-29px / 2 + 4px / 2)) rotate(-45deg);
}
.burger.active + .nav {
	right: 0;
}
.nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: max-content;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-top-left-radius: var(--bRadius);
	border-bottom-left-radius: var(--bRadius);
	box-shadow: var(--activeBoxShadow), var(--tileShadow);
	background-color: var(--nav);
	transition: var(--baseTransition);
	z-index: 6;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav__list {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-top: 3.5rem;
}
.nav__item {
	position: relative;
	min-width: 50px;
	text-align: left;
	overflow: hidden;
}
.nav__link {
	display: block;
	cursor: pointer;
	height: 6rem;
	margin: 0 2rem;
	line-height: 6rem;
	font-size: 2.2rem;
	text-decoration: none;
	color: var(--tileTextMuted);
}
i.nav__icon {
	width: 28.5px;
	display: inline-block;
	margin-right: 1.5rem;
	left: var(--iconPosition);
	color: var(--accentBackground);
	font-size: 2.2rem;
	transition: var(--baseTransition);
}
.nav__logo-container {
	position: relative;
	width: 100%;
}
.nav__logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	width: 70%;
	/* margin-top: -3rem; */
}
.top-image-header {
	grid-area: header;
	height: 100svh;
	text-transform: uppercase;
	background-image: url(/imgs/header/480_header_portrait.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	/*! próba rozwiązania ios */
	background-position: top left;
	overflow: hidden;

	display: grid;
	grid-template-columns: repeat(5, minmax(auto, 1fr));
	grid-template-rows: 6rem repeat(8, 1fr) 8rem;
	grid-template-areas:
		'. . . . .'
		'title title title title title'
		'. . logo logo logo'
		'. . logo logo logo'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'. . . . .'
		'motto motto motto motto motto';
	transition: var(--baseTransition);
}
.top-image-header__header {
	position: relative;
	grid-area: title;
	padding: 0.5rem 1rem;
	text-align: center;
}
.top-image-header__logo {
	/* grid-area: title; */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: 60vw;
	/* place-self: center; */
	/* transform: translateY(-50%);

	width: 40vw;
	height: 10vw;
	max-height: 75px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: 600; */
}
.top-image-header__title-bar {
	margin: 0 auto;
	width: max-content;
	font-family: var(--font-body-healing), serif;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: left;
	color: var(--tileTitle);

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.top-image-header__title {
	text-transform: none;
}
.top-image-header__subtitle {
	font-family: var(--font-by-yoganka);
	font-weight: lighter;
	font-size: 2rem;
	letter-spacing: 3px;
}
.top-image-header__motto {
	grid-area: motto;
	background-color: var(--base);
	font-size: 1.7rem;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 8rem;
	color: var(--tileTitle);
	overflow: visible;
	box-shadow: var(--transitiveBoxShadow);
}
/*! NAV  END*/
/*! ABOUT */
.about {
	grid-area: about;
	font-size: 2rem;

	display: grid;
	grid-template-columns: minmax(300px, 1fr);
	place-items: center;
	grid-template-areas:
		'header'
		'portrait'
		'content';
	gap: 2rem;
}
.about__header {
	grid-area: header;
}
.about__img {
	grid-area: portrait;
	position: relative;
	width: 90%;
	max-width: 70%;
	background-color: transparent;
	border-radius: var(--bRadius);
	box-shadow: var(--boxShadow);
	overflow: hidden;
}
.about__img--portrait {
	width: 100%;
	max-width: 640px;
}
.about__certificates {
	position: absolute;
	bottom: 0;
	right: 0;
	min-width: 70%;
	height: 12%;
	padding: 0 0.5rem;
	background-color: var(--base);
	border-top-left-radius: var(--bRadius);
	border-bottom-right-radius: var(--bRadius);
	overflow: hidden;

	display: flex;
	justify-content: right;
	gap: 1rem;
}
.about__certificates img {
	max-height: 100%;
	filter: grayscale(1);
}
.about__content {
	grid-area: content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	padding: 1rem;
}
.about__heading {
	grid-area: h2;
	font-size: 4rem;
	font-weight: 500;
	text-transform: uppercase;
}
.about__description {
	grid-area: article;
}
.about__signature {
	align-self: flex-end;
	margin-right: 1rem;
	font-family: 'Birthstone Bounce', cursive;
	font-size: 3rem;
}
/*! ABOUT  END*/
/*! TILE */
.tile {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	padding: 2.5rem 1rem;
	background-color: var(--tile);
	border-radius: var(--bRadius);
	overflow: hidden;
	box-shadow: var(--boxShadow);
	transition: var(--baseTransition);
}
.tile--event {
	justify-content: inherit;
}
.tile__img {
	place-self: center;
	max-width: 80%;
	aspect-ratio: 1/1;
	margin-bottom: 1.5rem;
	border-radius: var(--bRadius);
}
.tile__img--event-modal {
	max-width: 50%;
}
.tile__title,
.tile__date {
	font-size: 2.2rem;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--tileTitle);
}
.tile__date {
	color: var(--tileText);
}
.tile__location {
	font-size: 1.9rem;
	font-weight: 400;
	color: var(--tileTextMuted);
}
.tile__desc {
	font-size: 1.9rem;
	color: var(--tileTextMuted);
}
/*! TILE END */
/*! OFFER */
.offer {
	grid-area: offer;

	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
	grid-template-areas:
		'title title'
		'wyjazdy wyjazdy'
		'zajecia zajecia'
		'wydarzenia wydarzenia';
	/* justify-items: center; */
	grid-gap: 3.5rem 0.5rem;
	overflow: visible;
}
.offer__section-header {
	grid-area: title;
	position: relative;
	width: 100%; /*- Must be for the line across full body */
}
.offer__lineShadow {
	position: absolute;
	bottom: -1rem;
	left: -1rem;
	border: none;
	border-radius: var(--bRadius);
	height: 1px;
	background-color: transparent;
	box-shadow: var(--activeBoxShadow);
	width: 100%;
	margin: 20px 0;
}
.offer-type {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: 5rem;
	grid-gap: 2.5rem 1.5rem;
}
.offer-type__header {
	font-size: 3rem;
	line-height: 6rem;
	text-transform: uppercase;
	color: var(--tileTitle);
}
#wyjazdy {
	grid-area: wyjazdy;
}
#zajecia {
	grid-area: zajecia;
}
.offer-type--events {
	grid-area: wydarzenia;
	grid-template-rows: 6rem;
}
/*@ MODAL*/
.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 300vh;
	backdrop-filter: blur(10px);
	z-index: 8;
}
.modal {
	display: block;
	position: fixed;
	top: 50dvh;
	left: 50dvw;
	transform: translate(-50%, -50%);
	width: 0vw;
	min-height: 0px;
	max-height: 0vh;
	padding: 1.5rem 1rem;
	background-color: rgba(var(--tileForRGBA), 0.95);
	border-radius: var(--bRadius);
	box-shadow: var(--activeTextIconsShadow);
	opacity: 0;
	z-index: 8;
	transition: var(--baseTransition);
}
i.modal__icon {
	min-width: 3.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	margin: 0;
	text-align: center;
	color: var(--accentBackground);
}
.modal__x-btn {
	position: absolute;
	top: 3rem;
	right: 2rem;
	transform: translate(-50%, -50%);
	z-index: 9;
}
.modal__close-btn {
	font-size: 3rem;
	text-shadow: var(--activeTextIconsShadow);
}
.modal__close-btn:hover {
	color: var(--accentBackground);
	text-shadow: var(--activeBoxShadow);
}
.modal__modal-body {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	grid-gap: 2.5rem;

	border-radius: var(--bRadius);
}
.modal__modal-body--offer {
	max-height: 89dvh;
	padding-bottom: 1rem;
	overflow-y: auto;
	overflow-x: hidden;
}
.modal__modal-body--offer section:nth-child(even) {
	background: radial-gradient(circle at center, rgba(0, 0, 0, 0.06) 70%, rgba(0, 0, 0, 0) 100%);
}
.modal__header {
	padding: 0 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 2rem;
}
.modal__list,
.modal-checklist__list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: start;
	flex-wrap: wrap;

	font-size: 2rem;
	line-height: 3.5rem;
	text-align: left;
}
.modal__list--at-glance {
	gap: 1rem;
}
.modal__li,
.modal-checklist__li {
	display: flex;
	gap: 2rem;
}
.modal__li--at-glance {
	font-size: 2.5rem;
}
i.modal-checklist__icon {
	font-size: 2.2rem;
}
.modal__full-desc {
	grid-column: 1 / -1;
	font-size: 2.2rem;
}
.modal__desc--event {
	font-size: 2.1rem;
	padding: 0 2rem;
}
.modal__title,
.modal-checklist__title {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}
.modal__title i {
	margin-right: 2rem;
}
.modal__title--day {
	font-size: 2.2rem;
	text-decoration: underline;
	margin: 1rem 0;
}
.modal__user-action {
	padding-bottom: 0;

	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	gap: 1rem;
}
.modal__btn,
.tile__btn {
	display: block;
	min-width: 125px;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	line-height: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--accentText);
	background-color: var(--accentBackground);
	border-radius: var(--bRadius);
	box-shadow: var(--activeTextIconsShadow);
	cursor: pointer;
	transition: var(--baseTransition);
	overflow: hidden;
}
.tile__btn {
}
/*! OFFER END*/
/*! CERTIFICATES*/
.certificates {
	position: relative;
	grid-area: cert;
	overflow: hidden;
}
.certificates__tile {
	place-self: center;
	max-width: 100%;
	min-width: 175px;
	padding: 1.5rem 1rem;
	background-color: var(--tile);
	border-radius: var(--bRadius);
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.certificates__name {
	font-size: 2rem;
}
.certificates__school {
	font-size: 1.8rem;
}
.certificates__duration {
	font-size: 1.9rem;
}
.certificates__type {
	font-size: 1.9rem;
	font-weight: 600;
}
/*! CERTIFICATES END*/
/*! PARTNERS*/
.partners {
	grid-area: partners;
	overflow: hidden;
}
.partners__gallery-slide {
	display: flex;
	align-items: center;
	position: relative;
}
.partners__gallery-slide::before,
.partners__gallery-slide::after,
.glide::before,
.glide::after {
	position: absolute;
	top: 0;
	width: 10vw;
	height: 100%;
	content: '';
	z-index: 2;
}
.partners__gallery-slide::before,
.glide::before {
	left: calc(-1 * var(--sectionPaddingY));
	background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--base));
}
.modal .glide::before {
	background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--tile));
}
.partners__gallery-slide::after,
.glide::after {
	right: calc(-1 * var(--sectionPaddingY));
	background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--base));
}
.modal .glide::after {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--tile));
}
.partners__gallery-slide:hover .partners__gallery {
	animation-play-state: paused;
}
.partners__gallery {
	background-color: var(--tile);

	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
	animation: 15s slide infinite linear;
}
.partners__link {
	width: 55vw;
	height: 55vw;
	max-width: 225px;
	max-height: 225px;
	padding: 0;
	border-radius: var(--bRadius);
	display: flex;
	justify-content: center;
	align-items: center;
}
.partners__image {
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	filter: grayscale(1);
	transition: var(--baseTransition);
}
.partners__link:last-child {
	margin-right: 2.5rem;
}
@keyframes slide {
	from {
		transform: translate(0);
	}

	to {
		transform: translate(-100%);
	}
}
/*! PARTNERS END*/
/*! FOOTER*/
.footer {
	grid-area: footer;
	/* min-height: 300px; */
	padding: 0rem 1rem 2rem 1rem;
	background-color: rgba(var(--navForRGBA), 0.85);
	font-size: 1.7rem;
	color: var(--tileTextMuted);
	box-shadow: var(--tileShadow);
	border-top-left-radius: var(--bRadius);
	border-top-right-radius: var(--bRadius);

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
}
.footer__logo {
	margin: 2rem;
	width: 45vw;
	max-width: 280px;
}
footer a {
	height: auto;
	font-size: 1.5rem;
	text-decoration: underline;
}
.footer__company-details {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 0.5rem;
}
.footer__company-details a {
	font-size: 2.2rem;
	line-height: 150%;
}
.footer__socials {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 3rem;
}
.footer__social-link {
	position: relative;
	font-size: 3.5rem;
	color: var(--accentBackground);
}

.footer__qr {
	position: absolute;
	width: 0;
	top: 25px;
	right: 0;
	opacity: 0;
	transition: var(--baseTransition);
}
.footer__qr-image {
	transition: var(--baseTransition);
	border-radius: var(--bRadius);
}
.footer__legal {
	font-size: 1.9rem;
}
.footer__credit-link {
	color: var(--tileTextMuted);
}
.footer__pop-ups {
	position: fixed;
	bottom: 1.5rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: var(--baseTransition);
	gap: 1.5rem;
	z-index: 10;
}
.footer__pop-up-btn {
	position: relative;
	display: block;
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
	font-size: 3rem;
	max-width: 100px;
	max-height: 100px;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: var(--accentText);
	border-radius: 50%;
	background-color: rgba(var(--accentBackgroundForRGBA), 0.7);
	box-shadow: var(--activeTextIconsShadow);
	transition: var(--baseTransition);
}
.footer__pop-up-btn:hover {
	transform: translateY(-25%) scale(1.15);
	border: 1px solid #bbb;
	box-shadow: var(--activeBoxShadow);
}
.footer__cookie-pop-up {
	position: absolute;
	top: 0;
	right: -100vw;
	width: max-content;
	height: 6rem;
	padding-left: 0.5rem;
	border-radius: 50px;
	box-shadow: var(--activeBoxShadow);
	transition: var(--baseTransition);
	opacity: 0;
	font-size: 1.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
/* i. to bump up specificity */
i.footer__cookie-close-icon {
	font-size: 3rem;
	line-height: 7rem;
	margin-right: 2rem;
	color: var(--accentText);
}
.footer__pop-up-btn--cookies:focus .footer__cookie-pop-up {
	right: 0%;
	background-color: rgba(var(--accentBackgroundForRGBA), 0.95);
	opacity: 1;
}
.footer__pop-up-btn--cookies:focus .fa-cookie-bite {
	opacity: 0;
}
.clickable:not(.footer__pop-ups *) {
	box-shadow: var(--tileShadow);
	position: relative;
}
.clickable:not(.footer__pop-ups *)::after {
	content: '...';
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 0.5rem;
	width: 100%;
	height: 10%;
	font-size: 1rem;
	letter-spacing: 1px;
	color: var(--tileTextMuted);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #c2bebf);

	display: flex;
	justify-content: center;
	align-items: flex-end;
}
div.visible {
	/* display: block; */
	opacity: 1;
	width: 95vw;
	min-height: max-content;
	max-height: 92vh;
}
div.hidden {
	display: none;
}
.blur {
	backdrop-filter: blur(10px);
}
.glide {
	grid-column: 1 / -1;
	padding: 2rem 0 3rem;
}
.glide-container {
	grid-column: 1 / -1;
	min-width: 100%;
	display: grid;
	grid-template-columns: 100%;
}
.glide--comp {
	min-height: 33vh;
}
.glide--comp .glide__track {
	border-radius: var(--bRadius);
	/* border: 1px solid red; */
}
.glide__track {
	overflow: visible;
}
.certificates .glide__slides {
	background-color: rgba(var(--navForRGBA), 0.55);
}
.glide__slides {
	height: 100%;
	min-height: 30vh;
	align-items: center;
	justify-content: space-around;
	overflow: visible;
	overflow-x: hidden;
}
.glide__slide {
	border-radius: var(--bRadius);
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
}
.tile__img--modal-slider {
	place-self: center;
	aspect-ratio: auto;
	max-width: 100%;
	max-height: 45vh;
	margin: 0;
}
.glide__bullets {
	bottom: 1rem;
}
.glide__bullet {
	width: 1rem;
	height: 1rem;
	background-color: var(--base);
}
.glide__bullet--active {
	background-color: var(--accentBackground);
}
.glide__arrow {
	padding: 1rem 1.5rem;
	transform: translateY(calc(-50% - 3rem / 2));
	font-size: 3rem;
	color: var(--accentBackground);
	border-radius: var(--bRadius);
	z-index: 5;
}
.glide__arrow--left {
	left: 1rem;
}
.glide__arrow--right {
	right: 1rem;
}
/*! FOOTER END*/
/*! MEDIA */
@media (min-width: 360px) {
	html {
		--sectionPaddingY: 2rem;
		font-size: 9px;
	}
	/* .top-image-header {
		background-position-y: -2vh;
	} */
	.top-image-header__motto {
		letter-spacing: 0px;
	}
	.offer {
		grid-gap: 3.5rem 1.5rem;
	}
	.partners__image {
		width: 50vw;
		height: 50vw;
	}
	.footer__legal {
		font-size: 1.8rem;
	}
	.footer__pop-ups {
		bottom: 1.5rem;
		right: 1.5rem;
		gap: 1rem;
	}
	.footer__cookie-pop-up {
		font-size: 1.4rem;
	}
	.footer__social-link {
		font-size: 4rem;
	}
}
@media (min-width: 480px) {
	html {
		--headerImgSize: 640px;
		font-size: 12px;
	}
	.top-image-header {
		background-image: url(/imgs/header/768_header_portrait.jpg);
	}
	.top-image-header__title-bar {
		font-size: 2.3rem;
	}
	.top-image-header__motto {
		letter-spacing: 1px;
	}
	.footer__socials {
		gap: 4rem;
	}
	.footer__social-link {
		font-size: 3rem;
	}
	.footer__cookie-pop-up {
		font-size: 1.7rem;
		padding-left: 2rem;
	}
}
@media (min-width: 640px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	html {
		--headerImgSize: 800px;
		font-size: 13px;
	}
	.wrapper > section:not(:first-of-type),
	footer {
		padding: 0 2rem 2rem;
	}
	.burger.active .burger__bar--top {
		transform: translateY(calc(33px / 2)) rotate(45deg);
	}
	.burger.active .burger__bar--bottom {
		transform: translateY(calc(-36px / 2)) rotate(-45deg);
	}
	.about__certificates {
		min-width: 65%;
	}
	.section--header,
	.offer-type__header {
		grid-column: 1 /-1;
	}

	.offer-type--events {
		display: grid;
		grid-template-columns: minmax(300px, 400px);
	}
	.modal__modal-body {
		gap: 2rem 1.5rem;
	}
	.modal__modal-body--event {
		grid-template-columns: auto;
	}
	.modal .tile__img {
		grid-column: 1 / -1;
		margin: 0;
	}
	.modal__header {
		grid-column: 1 / -1;
		align-items: center;
		width: 100%;
	}
	.modal__desc {
		grid-column: 1 /-1;
	}
	.modal-checklist__list {
		align-self: self-start;
	}
	.modal-checklist--included {
		grid-column: 1;
		grid-row: span 2;
	}
	.modal-checklist--free-time {
		width: max-content;
		justify-self: center;
		grid-column: 1 / -1;
		display: flex;
		flex-direction: column;
		/* justify-content: center;
		align-items: center; */
	}
	.modal__attention-note {
		grid-column: 1 / -1;
	}
	.modal__user-action {
		grid-column: 1 /-1;
		/* max-width: 75%; */
	}
	.certificates__gallery {
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	}
	.partners__link {
		width: 40vw;
		height: 40vw;
	}
	.partners__gallery-slide:before {
		left: -2rem;
	}
	.partners__gallery-slide:after {
		right: -2rem;
	}
	.footer__social-link {
		font-size: 4rem;
	}
}
@media (min-width: 768px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	html {
		--headerImgSize: 1080px;
	}
	.nav__link:hover {
		position: relative;
		z-index: 2;
		text-shadow: var(--activeTextIconsShadow);
		/* background-color: rgba(0, 0, 0, 0.05); */

		color: var(--accentBackground);
	}
	.nav__item {
		transition: var(--baseTransition);
	}
	.nav__item:hover {
		transform: scale(1.05) translateY(0.5rem);
		border-bottom-left-radius: var(--bRadius);
		border-bottom-right-radius: var(--bRadius);
	}
	.nav__link:hover,
	.nav__link:hover i.nav__icon {
		color: var(--accentBackground);
	}
	.top-image-header {
		background-image: url(/imgs/header/1024_header_portrait.jpg);
	}
	.top-image-header__title-bar {
		height: 11rem;
		font-size: 3rem;
		letter-spacing: 3px;
	}
	.top-image-header__motto {
		font-size: 2.5rem;
	}
	.about {
		gap: 2.5rem 1.5rem;
	}
	.about__img {
		max-width: 640px;
	}
	.tile.clickable:hover {
		cursor: pointer;
		box-shadow: var(--tileShadow);
		transform: translateY(-5%) scale(1.05);
	}
	.about__heading {
		font-size: 3rem;
	}
	.about__content {
		font-size: 1.7rem;
	}
	.offer {
		grid-template-areas:
			'title title'
			'wyjazdy wyjazdy'
			'zajecia zajecia'
			'wydarzenia wydarzenia';
	}
	.offer-type {
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
		grid-gap: 2.5rem 2rem;
	}
	.offer-type--events {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
	}
	.offer-type--events .tile {
		max-width: 500px;
	}
	.offer-type--events .tile:nth-last-of-type(1) {
		justify-self: center;
		grid-column: span 2;
		width: 50%;
	}
	.modal {
		max-width: 95vw;
	}
	.modal__btn:hover {
		box-shadow: var(--activeBoxShadow);
	}
	.modal__modal-body {
		grid-template-columns: repeat(6, minmax(65px, 1fr));
		gap: 3rem 1.5rem;
		padding-bottom: 3.5rem;
	}
	.modal .pic {
		min-width: auto;
		max-width: 350px;
	}
	.tile__img--event-modal {
		grid-column: 1 / -1;
	}
	/* .modal__header {
		grid-column: span 3;
		width: max-content;
	} */
	.modal__full-desc {
		padding: 0 1rem;
	}
	.modal__desc {
		display: grid;
		grid-template-columns: repeat(2, minmax(300px, 360px));
		grid-template-areas:
			'h h'
			'd1 d2'
			'd1p d2p'
			'd3 d2p'
			'd3p d2p';
		gap: 1.5rem;
	}
	.modal__desc--long {
		grid-template-areas:
			'h h'
			'd1 d2'
			'd1p d2p'
			'd3 d4'
			'd3p d4p';
	}
	.modal__paragraph {
		grid-column: 1 /-1;
	}
	.modal__title {
		grid-area: h;
		margin: 0;
	}
	.modal__title--day {
		margin: 0;
	}
	.modal__list {
		justify-content: flex-start;
	}
	.modal__title--day:nth-of-type(1) {
		grid-area: d1;
	}
	.modal__title--day:nth-of-type(2) {
		grid-area: d2;
	}
	.modal__title--day:nth-of-type(3) {
		grid-area: d3;
	}
	.modal__title--day:nth-of-type(4) {
		grid-area: d4;
	}
	.modal__list:nth-of-type(1) {
		grid-area: d1p;
	}
	.modal__list:nth-of-type(2) {
		grid-area: d2p;
	}
	.modal__list:nth-of-type(3) {
		grid-area: d3p;
	}
	.modal__list:nth-of-type(4) {
		grid-area: d4p;
	}
	.modal-checklist--included {
		grid-column: span 3;
	}
	.modal-checklist--event {
		grid-column: 1 / -1;
	}
	.modal-checklist--excluded,
	.modal-checklist--optional {
		grid-column: -1 / -4;
	}
	/* .modal-checklist--free-time {
		grid-column: span 3;
	} */
	.modal__user-action {
		gap: 3rem;
	}
	.certificates__gallery {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
	/* to bump up specificity */
	.wrapper section.partners {
		padding-bottom: 6rem;
	}
	.partners__gallery {
		gap: 4rem;
		animation: 20s slide infinite linear;
	}
	.partners__link:hover {
		cursor: pointer;
		transform: translateY(-18%) scale(1.1);
		box-shadow: var(--tileShadow);
	}
	.footer {
		flex-flow: row wrap;
		align-content: space-evenly;
		justify-content: center;
		row-gap: 2rem;
	}
	/* .footer__company-details {
		width: 50%;
	} */
	.footer__company-details a:hover {
		font-size: 2.2rem;
		text-shadow: var(--activeTextIconsShadow);
	}
	.footer__legal,
	.footer__credit {
		flex-basis: 100%;
	}
	.footer__credit a {
		line-height: 100%;
	}
	.footer__pop-ups {
		gap: 1.5rem;
	}
	.footer__pop-up-btn {
		width: 6.6rem;
		height: 6.6rem;
		line-height: 6.6rem;
	}
	.footer__cookie-pop-up {
		height: 6.6rem;
		font-size: 2rem;
	}
	.footer__social-link:hover {
		text-shadow: var(--activeTextIconsShadow);
	}
	.footer__qr {
		left: 50%;
		transform: translateX(-50%);
	}
	.footer__social-link:hover .footer__qr {
		display: block;
		width: 160px;
		top: -185px;

		opacity: 1;
		transition: var(--baseTransition);
	}
	.footer__social-link:hover .footer__qr-image {
		box-shadow: var(--activeBoxShadow);
	}
}
@media (min-width: 800px) {
	.offer-type--events {
		grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	}
	.offer-type--events .tile:nth-last-of-type(1) {
		justify-self: auto;
		grid-column: auto;
		width: auto;
	}
}
@media (min-width: 960px) {
	.modal__modal-body {
		grid-template-columns: repeat(6, minmax(125px, 1fr));
	}
	.modal__header {
		place-self: center;
		grid-column: 1 / 4;
		grid-row: 2;
	}
	.modal__full-desc {
		grid-column: -1 / -4;
		place-self: center;
	}
	.modal__desc {
		grid-template-columns: repeat(2, minmax(300px, 1fr));
	}

	.partners__link {
		width: 40vw;
		height: 40vw;
	}
	.partners__gallery-slide:before {
		width: 7vw;
	}
	.partners__gallery-slide:after {
		width: 7vw;
	}
	.footer__pop-ups {
		right: 2rem;
		gap: 1.8rem;
	}
	.footer__pop-up-btn {
		width: 7rem;
		height: 7rem;
		line-height: 7rem;
		font-size: 3.5rem;
	}
	.footer__cookie-pop-up {
		height: 7rem;
		font-size: 2.5rem;
	}
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
	html {
		--headerImgSize: 1080px;
		font-size: 10px;
	}
	.wrapper {
		max-width: 1000px;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: repeat(7, auto);
		grid-template-areas:
			'nav nav nav nav nav '
			'header header header header header '
			'about about about about about'
			'offer offer offer offer offer'
			'cert cert cert cert cert'
			'partners partners partners partners partners'
			'footer footer footer footer footer';
	}
	.burger {
		display: none;
	}
	.nav__logo-container {
		display: none;
	}
	.nav {
		grid-area: nav;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		padding-left: 1rem;
		border-radius: 0;
		border-bottom-left-radius: var(--bRadius);
		border-bottom-right-radius: var(--bRadius);

		flex-direction: row;
		justify-content: space-evenly;
	}
	.nav__list {
		flex-direction: row;
		width: max-content;
		gap: 2rem;
		margin: 0;
	}
	.nav__link {
		margin: 0;
		padding: 0 1rem;
		font-size: 1.3rem;
		line-height: 6rem;
		transition: var(--baseTransition);
		color: var(--tileTitle);
	}
	i.nav__icon {
		color: var(--tileTitle);
	}
	.top-image-header {
		margin-top: 5rem;
		height: 90svh;
		max-height: 750px;
		grid-template-areas:
			'title title title title title'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'. . . . .'
			'motto motto motto . .';
		background-image: none;
		min-height: 675px;
	}
	.top-image-header__header {
		width: 100%;
	}
	.top-image-header__title-bar {
		width: max-content;
		height: 13rem;
		font-size: 4rem;
		letter-spacing: 6px;
	}
	.top-image-header__logo {
		margin-top: 2rem;
	}
	.top-image-header__motto {
		font-size: 1.6rem;
		color: var(--tileTitle);
		font-weight: lighter;
		box-shadow: none;
		background-color: transparent;
	}
	.about {
		position: absolute;
		z-index: -1;
		max-width: 1000px;
		/* top: 60%; */
		top: 0;
		margin-top: 525px;
		transform: translateY(-50%);
		height: 90vh;
		max-height: 750px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.about__header {
		display: none;
	}
	.about__content {
		max-width: 50%;
	}
	.about__heading,
	.about__greeting,
	.about__description {
		justify-self: left;
		text-align: left;
		padding-left: 2rem;
	}
	.about__img--portrait {
		display: none;
	}
	.about__img {
		order: 2;
		background: url('/imgs/about/600_about_profile.jpg');
		width: 35%;
		height: 70%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	.offer {
		margin-top: -3rem;
		grid-template-columns: repeat(4, minmax(150px, 1fr));
		grid-template-areas:
			'title title title title'
			'wyjazdy wyjazdy zajecia zajecia'
			'wydarzenia wydarzenia wydarzenia wydarzenia';
	}
	.offer-type {
		grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
		align-items: stretch;
	}
	.offer-type--events {
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
		grid-area: wydarzenia;
	}
	.modal {
		max-width: 900px;
		padding: 1.5rem 2.5rem;
	}

	.certificates__gallery {
		grid-template-columns: repeat(5, minmax(150px, 1fr));
		padding: 2.5rem 15rem;
	}
	.certificates__tile:nth-last-child(1) {
		grid-column: 4;
	}
	.certificates__tile:nth-last-child(2) {
		grid-column: 3;
	}
	.certificates__tile:nth-last-child(3) {
		grid-column: 2;
	}
	.partners__link {
		width: 20vw;
		height: 20vw;
	}
	.footer {
		font-size: 1.9rem;
		/* display: grid;
		grid-template-columns: repeat(7, minmax(100px, 1fr));
		grid-template-areas:
			'socials socials socials logo logo details details '
			'socials socials socials logo logo details details '
			'socials socials socials logo logo details details '
			'socials socials socials logo logo details details '
			'. . . credit . . . ';
		place-items: center; */
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		row-gap: 1rem;
	}
	.footer__logo-container {
		/* width: 215px; */
		grid-area: logo;
		display: grid;
		place-items: center;
	}
	.footer__company-details {
		width: 215px;
		grid-area: details;
	}
	.footer__company-details a {
		font-size: 2.2rem;
		color: var(--tileTitle);
	}

	.footer__legal {
		grid-area: legal;
	}
	.footer__socials {
		width: 215px;
		order: -1;
		grid-area: socials;
		text-shadow: none;
		overflow: visible;
	}

	.footer__credit {
		grid-area: credit;
	}
}
@media (min-width: 1280px) {
	/* hi-res laptops and desktops */
	.wrapper,
	.about {
		max-width: 1200px;
	}
	.nav__link {
		font-size: 2rem;
	}
	.about {
		margin-top: 500px;
	}
	.about__img {
		width: 31%;
		height: 78%;
	}
	.offer {
		grid-gap: 3.5rem 3rem;
	}
	.offer-type {
		grid-gap: 2.5rem 3rem;
	}
	.modal {
		max-width: 1200px;
		padding: 1.5rem 4rem;
	}
	.partners__link {
		width: 30vw;
		height: 30vw;
	}
	.partners__gallery-slide:before {
		width: 5vw;
	}
	.partners__gallery-slide:after {
		width: 5vw;
	}
}
