@use 'sass:map';
@use 'sass:color';
@use '../../utils/' as *;

.pop-ups {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  left: auto;
  z-index: 15;
  @include flex(column, center, center, 2.5rem);

  transition: map.get($behavior, base-transition);

  &--left {
    right: auto;
    left: 1rem;
  }

  &__single {
    position: relative;
    width: 6rem;
    max-width: 100px;
    height: 6rem;
    max-height: 100px;
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: map.get($colors, accent-text);

    border-radius: 50%;
    background-color: color-mix(
      in srgb,
      #{map.get($colors, accent-bcg)} 70%,
      transparent
    );
    box-shadow: map.get($shadows, active-text-icons-shadow);
    transition: map.get($behavior, base-transition);

    display: grid;

    & > * {
      place-self: center;
    }

    &:hover {
      transform: translateY(-25%) scale(1.15);
      box-shadow: map.get($shadows, active-box-shadow);
    }

    &--cookies:focus .pop-ups__body,
    &--cookies:active .pop-ups__body {
      right: 0%;
      left: auto;
      background-color: color-mix(
        in srgb,
        #{map.get($colors, accent-bcg)} 95%,
        transparent
      );
      opacity: 1;

      &--left {
        right: auto;
        left: 0%;
      }
    }
  }

  &__body--msg {
    display: block;

    &-left {
      order: 2;
    }
  }

  &__body {
    @include flex(row, center, center, 2rem);
    position: absolute;
    top: 0;
    right: -110%;
    left: auto;
    width: max-content;
    padding-left: 1rem;

    font-size: 1.5rem;

    border-radius: 50px;
    box-shadow: map.get($shadows, active-box-shadow);
    transition: map.get($behavior, base-transition);
    opacity: 0;

    &--left {
      right: auto;
      left: -110%;

      padding-left: 0rem;
      padding-right: 1rem;
    }
  }
}

@include respond-to(mobile-xs) {
  .pop-ups {
    bottom: 1.5rem;
    right: 1.5rem;

    &--left {
      right: auto;
      left: 1.5rem;
    }
  }
}

@include respond-to(mobile-m) {
  .pop-ups {
    &__single {
      width: 6.6rem;
      height: 6.6rem;
    }
    &__body {
      height: 6.6rem;
    }
  }
}
@include respond-to(mobile-mh) {
  .pop-ups {
    right: 2rem;

    &--left {
      right: auto;
      left: 2rem;
    }

    &__single {
      width: 7rem;
      height: 7rem;
    }
    &__body {
      height: 7rem;
    }
  }
}
