@use 'sass:map';
@use '../../utils/' as *;

.section {
  @include flex(row, $justify: center, $gap: 3rem);
  flex-wrap: wrap;
  gap: 3rem 1.5rem;

  &__more {
    flex-basis: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: rgba(226.5833333333, 201.0083333333, 181.1166666667, 0.5);
    border-radius: 25px;
    box-shadow: map.get($shadows, box-shadow);
    font-size: 2.2rem;
    font-weight: 500;
    white-space: pre-line;
    letter-spacing: 1px;
    color: #805346;
  }

  &__header {
    width: 100%;
    height: min-content;
    padding: 1rem 0.5rem;

    font-size: 4rem;
    line-height: 6rem;
    text-transform: uppercase;
    word-wrap: break-word;
    color: map.get($colors, tile-title);
    overflow: hidden;

    &--sub {
      font-size: 3rem;
    }
  }

  &--offer {
    @include flex(row, $justify: center);
    flex-wrap: wrap;
    gap: 5rem 0.5rem;

    &__section-header {
      flex-basis: 100%;
    }

    .intro.no-bcg-pic + & {
      .section {
        flex-basis: 100%;
      }
    }

    .section--turning-tiles + &,
    .intro.no-bcg-pic + & {
      gap: 0rem;

      background-color: map.get($colors, base);
      box-shadow: map.get($shadows, transitive-box-shadow);

      .section {
        flex-basis: 100%;
      }

      .section__header--sub {
        font-size: 4rem;
      }
    }
  }

  &--certificates {
    position: relative;
    overflow: hidden;
  }

  &--turning-tiles {
    margin: 8rem auto;
    background-color: map.get($colors, nav);
    box-shadow: map.get($shadows, transitive-box-shadow-nav);
    z-index: 2;
  }

  &--b2b-price {
    .b2b-price__content {
      font-size: 2.2rem;

      @include flex(row, center, center);
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  &--sub {
    align-content: flex-start;
  }

  &--partners {
    &__header {
      margin-bottom: -5rem;
    }
  }
}
//! do poprawy bo modal nie ma klasy section na razie
.modal > section:not(:first-of-type) {
  padding: 0 var(--section-padding-y) 2rem;
  box-shadow: map.get($shadows, section-shadow);
}
// .modal > section:nth-child(even) {
//   background: radial-gradient(
//     circle at center,
//     rgba(0, 0, 0, 0.06) 70%,
//     rgba(0, 0, 0, 0) 100%
//   );
// }

@include respond-to(mobile-s) {
  .section--offer {
    gap: 5rem 1.5rem;
  }
}
@include respond-to(mobile-l) {
  .section--offer {
    .section--turning-tiles + &,
    .intro.no-bcg-pic + & {
      .section {
        flex-basis: 100%;
      }
    }
  }

  .section {
    &--camps,
    &--classes {
      flex-basis: 45%;
    }
  }
  .section--turning-tiles {
    .click-suggestion {
      font-size: 2.8rem;
    }
  }
}
@include respond-to(mobile-pro) {
  .section--b2b-price {
    .b2b-price__content {
      font-size: 2.4rem;
    }
  }
}
@include respond-to(desktop-s) {
  .section--offer {
    gap: 5rem 3rem;
  }

  .section--sub {
    gap: 2.5rem 3rem;
  }
}
