@use 'sass:map';
@use 'sass:color';
@use '../../utils/' as *;

.wrapper {
  width: 100vw;
  min-height: 100vh;
  @include flex(column, flex-start);
  gap: 8rem;
  -webkit-overflow-scrolling: touch;

  & > section:not(:first-of-type),
  & > main > section:not(:first-of-type) {
    padding: 0 var(--section-padding-y) 2rem;
    box-shadow: map.get($shadows, section-shadow);
  }
}

@include respond-to(mobile-sh) {
  .wrapper > section:not(:first-of-type) {
    padding: 0 2rem 2rem;
  }
}
@include respond-to(desktop-s) {
  .wrapper {
    max-width: 1200px;
  }
}
@include respond-to(desktop-l) {
  .wrapper {
    max-width: 1000px;
  }
}

@supports (-webkit-grid: auto) {
  .wrapper {
    /* Safari-only fixes for grid and tiles */
    align-items: stretch; /* ensure tiles in a row have equal height */
    gap: 0.5rem; /* space between tiles */
  }
}
